In [1]:
#Let's install the selenium Library
! pip install selenium

Requirement already satisfied: selenium in c:\users\hi\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio~=0.17 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: async-generator>=1.9 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: sniffio in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: sortedcontainers in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: outcome in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: pycparser in c:\users\hi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\hi\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hi\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\hi\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: certifi in c:\users\hi\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\hi\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: six>=1.5.2 in c:\users\hi\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hi\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
! apt install chromium-chromedriver

'apt' is not recognized as an internal or external command,
operable program or batch file.

In [3]:
import pandas as pd
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementNotVisibleException, TimeoutException
import time
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
import selenium
from bs4 import BeautifulSoup as sp
from bs4 import BeautifulSoup

In [4]:
!apt-get update 

from selenium import webdriver
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
driver =webdriver.Chrome('chromedriver',chrome_options=chrome_options)

'apt-get' is not recognized as an internal or external command,<ipython-input-4-f6df18450c8e>:8: DeprecationWarning: use options instead of chrome_options
  driver =webdriver.Chrome('chromedriver',chrome_options=chrome_options)

operable program or batch file.

In [5]:
#Scraping cars located around Hyderabad city
driver_H = webdriver.Chrome('chromedriver',chrome_options=chrome_options)
driver_H.get('https://www.cars24.com/buy-used-cars-hyderabad/?itm_source=Cars24Website&itm_medium=sticky_header')
ScrollNumber_H = 50
for i in range(1,ScrollNumber_H):
    driver_H.execute_script("window.scrollTo(1,50000000)")
    time.sleep(5)
file_H = open('cars24_Hyderabad.html', 'w', encoding='utf-8')
file_H.write(driver_H.page_source)
file_H.close()
driver_H.close()

<ipython-input-5-3fc45332c468>:2: DeprecationWarning: use options instead of chrome_options
  driver_H = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

In [6]:
data_H = open('cars24_Hyderabad.html','r')
soup_H = BeautifulSoup(data_H,  'html.parser')

In [7]:
# Scraping cars located around Delhi
driver_D = webdriver.Chrome('chromedriver',chrome_options=chrome_options)
driver_D.get('https://www.cars24.com/buy-used-car?sort=P&storeCityId=2&pinId=110001')
ScrollNumber_D = 50
for i in range(1,ScrollNumber_D):
    driver_D.execute_script("window.scrollTo(1,50000000)")
    time.sleep(5)
file_D = open('cars24_Delhi.html', 'w', encoding='utf-8')
file_D.write(driver_D.page_source)
file_D.close()
driver_D.close()

<ipython-input-7-2d4e01d2348c>:2: DeprecationWarning: use options instead of chrome_options
  driver_D = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

In [8]:
data_D = open('cars24_Delhi.html','r')
soup_D = BeautifulSoup(data_D, 'html.parser')

In [9]:
# Scraping cars located around Mumbai
driver_M = webdriver.Chrome('chromedriver',chrome_options=chrome_options)
driver_M.get('https://www.cars24.com/buy-used-car?sort=P&storeCityId=2378&pinId=400001')
ScrollNumber_M = 50
for i in range(1,ScrollNumber_M):
    driver_M.execute_script("window.scrollTo(1,50000000)")
    time.sleep(5)
file_M = open('cars24_Mumbai.html', 'w', encoding='utf-8')
file_M.write(driver_M.page_source)
file_M.close()
driver_M.close()

<ipython-input-9-9a3b69ee921f>:2: DeprecationWarning: use options instead of chrome_options
  driver_M = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

In [10]:
data_M = open('cars24_Mumbai.html','r')
soup_M = BeautifulSoup(data_M, 'html.parser')

In [11]:
# Scraping cars located around Bangalore
driver_B = webdriver.Chrome('chromedriver',chrome_options=chrome_options)
driver_B.get('https://www.cars24.com/buy-used-car?sort=P&storeCityId=4709&pinId=560001')
ScrollNumber_B = 50
for i in range(1,ScrollNumber_B):
    driver_B.execute_script("window.scrollTo(1,50000000)")
    time.sleep(5)
file_B = open('cars24_Bangalore.html', 'w', encoding='utf-8')
file_B.write(driver_B.page_source)
file_B.close()
driver_B.close()

<ipython-input-11-97e92129322a>:2: DeprecationWarning: use options instead of chrome_options
  driver_B = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

In [12]:
data_B = open('cars24_Bangalore.html','r')
soup_B = BeautifulSoup(data_B, 'html.parser')

In [13]:
# Scraping cars located around Chennai
driver_C = webdriver.Chrome('chromedriver',chrome_options=chrome_options)
driver_C.get('https://www.cars24.com/buy-used-car?sort=P&storeCityId=5732&pinId=600001')
ScrollNumber_C = 50
for i in range(1,ScrollNumber_C):
    driver_C.execute_script("window.scrollTo(1,50000000)")
    time.sleep(5)
file_C = open('cars24_Chennai.html', 'w', encoding='utf-8')
file_C.write(driver_C.page_source)
file_C.close()
driver_C.close()

<ipython-input-13-021002d72cf3>:2: DeprecationWarning: use options instead of chrome_options
  driver_C = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

In [14]:
data_C = open('cars24_Chennai.html','r')
soup_C = BeautifulSoup(data_C, 'html.parser')

In [15]:
# Scraping cars located around Noida
driver_N = webdriver.Chrome('chromedriver',chrome_options=chrome_options)
driver_N.get('https://www.cars24.com/buy-used-car?sort=P&storeCityId=134&pinId=201301')
ScrollNumber_N = 50
for i in range(1,ScrollNumber_N):
    driver_N.execute_script("window.scrollTo(1,50000000)")
    time.sleep(5)
file_N = open('cars24_Noida.html', 'w', encoding='utf-8')
file_N.write(driver_N.page_source)
file_N.close()
driver_N.close()

<ipython-input-15-eca455ad7542>:2: DeprecationWarning: use options instead of chrome_options
  driver_N = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

In [16]:
data_N = open('cars24_Noida.html','r')
soup_N = BeautifulSoup(data_N, 'html.parser')

In [17]:
# Scraping cars located around Pune
driver_P = webdriver.Chrome('chromedriver',chrome_options=chrome_options)
driver_P.get('https://www.cars24.com/buy-used-car?sort=P&storeCityId=2423&pinId=411001')
ScrollNumber_P = 50
for i in range(1,ScrollNumber_P):
    driver_P.execute_script("window.scrollTo(1,50000000)")
    time.sleep(5)
file_P = open('cars24_Pune.html', 'w', encoding='utf-8')
file_P.write(driver_P.page_source)
file_P.close()
driver_P.close()

<ipython-input-17-4e6def55c5a9>:2: DeprecationWarning: use options instead of chrome_options
  driver_P = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

In [18]:
data_P = open('cars24_Pune.html','r')
soup_P = BeautifulSoup(data_P, 'html.parser')

In [19]:
# Scraping cars located around Kolkata
driver_K = webdriver.Chrome('chromedriver',chrome_options=chrome_options)
driver_K.get('https://www.cars24.com/buy-used-car?sort=P&storeCityId=777&pinId=700001')
ScrollNumber_K = 50
for i in range(1,ScrollNumber_K):
    driver_K.execute_script("window.scrollTo(1,50000000)")
    time.sleep(5)
file_K = open('cars24_Kolkata.html', 'w', encoding='utf-8')
file_K.write(driver_K.page_source)
file_K.close()
driver_K.close()

<ipython-input-19-93faefdeb0c0>:2: DeprecationWarning: use options instead of chrome_options
  driver_K = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

In [20]:
data_K = open('cars24_Kolkata.html','r')
soup_K = BeautifulSoup(data_K, 'html.parser')

In [21]:
# Scraping cars located around Ahmedabad
driver_A = webdriver.Chrome('chromedriver',chrome_options=chrome_options)
driver_A.get('https://www.cars24.com/buy-used-car?sort=P&storeCityId=1692&pinId=380001')
ScrollNumber_A = 50
for i in range(1,ScrollNumber_A):
    driver_A.execute_script("window.scrollTo(1,50000000)")
    time.sleep(5)
file_A = open('cars24_Ahmedabad.html', 'w', encoding='utf-8')
file_A.write(driver_A.page_source)
file_A.close()
driver_A.close()

<ipython-input-21-654228e4de63>:2: DeprecationWarning: use options instead of chrome_options
  driver_A = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

In [22]:
data_A = open('cars24_Ahmedabad.html','r')
soup_A = BeautifulSoup(data_A, 'html.parser')

In [23]:
# Scraping cars located around Gurgaon
driver_G = webdriver.Chrome('chromedriver',chrome_options=chrome_options)
driver_G.get('https://www.cars24.com/buy-used-car?sort=P&storeCityId=5&pinId=122001')
ScrollNumber_G = 50
for i in range(1,ScrollNumber_G):
    driver_G.execute_script("window.scrollTo(1,50000000)")
    time.sleep(5)
file_G = open('cars24_Gurgaon.html', 'w', encoding='utf-8')
file_G.write(driver_G.page_source)
file_G.close()
driver_G.close()

<ipython-input-23-e98038a4a3c5>:2: DeprecationWarning: use options instead of chrome_options
  driver_G = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

In [24]:
data_G = open('cars24_Gurgaon.html','r')
soup_G = BeautifulSoup(data_G, 'html.parser')

In [25]:
# Scraping cars located around Jaipur
driver_J = webdriver.Chrome('chromedriver',chrome_options=chrome_options)
driver_J.get('https://www.cars24.com/buy-used-car?sort=P&storeCityId=1692&pinId=380001')
ScrollNumber_J = 50
for i in range(1,ScrollNumber_J):
    driver_J.execute_script("window.scrollTo(1,50000000)")
    time.sleep(5)
file_J = open('cars24_Jaipur.html', 'w', encoding='utf-8')
file_J.write(driver_J.page_source)
file_J.close()
driver_J.close()

<ipython-input-25-b71306bcac5a>:2: DeprecationWarning: use options instead of chrome_options
  driver_J = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

In [26]:
data_J = open('cars24_Jaipur.html','r')
soup_J = BeautifulSoup(data_J, 'html.parser')

In [27]:
# Scraping cars located around Chandigarh
driver_I = webdriver.Chrome('chromedriver',chrome_options=chrome_options)
driver_I.get('https://www.cars24.com/buy-used-car?sort=P&storeCityId=769&pinId=134101')
ScrollNumber_I = 50
for i in range(1,ScrollNumber_I):
    driver_I.execute_script("window.scrollTo(1,50000000)")
    time.sleep(5)
file_I = open('cars24_Chandigarh.html', 'w', encoding='utf-8')
file_I.write(driver_I.page_source)
file_I.close()
driver_I.close()

<ipython-input-27-a8cbacd58ae8>:2: DeprecationWarning: use options instead of chrome_options
  driver_I = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

In [28]:
data_I = open('cars24_Chandigarh.html','r')
soup_I = BeautifulSoup(data_I, 'html.parser')

In [29]:
name = []
price = []
emi = []
features = []
city = []
soups = [soup_D, soup_M, soup_B, soup_C,soup_N,soup_P,soup_K,soup_A,soup_G,soup_J,soup_I]

In [30]:
main_div = 'col-4'
sub_div = '_1l4fi'
subsub_div = {'name':'_1jpRU','price':'_7udZZ','emi':'_2HFRN' , 'features':'bVR0c'}
name_H,name_D, name_M, name_B, name_C,name_N,name_P,name_K,name_A,name_G,name_J,name_I = [],[],[],[],[],[],[],[],[],[],[],[]
price_H,price_D, price_M, price_B, price_C,price_N,price_P,price_K,price_A,price_G,price_J,price_I =[],[],[],[],[],[],[],[],[],[],[],[]
emi_H,emi_D, emi_M, emi_B, emi_C,emi_N,emi_P,emi_K,emi_A,emi_J,emi_G,emi_I = [],[],[],[],[],[],[],[],[],[],[],[]
features_H,features_D, features_M, features_B, features_C,features_N,features_P,features_K,features_A,features_G,features_J,features_I = [],[],[],[],[],[],[],[],[],[],[],[]
city_H,city_D, city_M, city_B, city_C,city_N,city_P,city_K,city_A,city_G,city_J,city_I = [],[],[],[],[],[],[],[],[],[],[],[]

In [31]:
# Hyderabad
for x in soup_H.find_all('div',{'class':main_div}):
        for i in x.find_all('div',{'class':sub_div}):
    
            try:
                a = i.find('div',{'class':subsub_div['name']})
                name_H.append(a.text)
            except:
                name_H.append(np.nan)
            
            try:
                a = i.find('div',{'class':subsub_div['price']})
                price_H.append(a.text)
            except:
                price_H.append(np.nan)
        
    
            try:
                a = i.find('div',{'class':subsub_div['emi']})
                emi_H.append(a.text)
            except:
                emi_H.append(np.nan)
        
            try:
                a = i.find('ul',{'class':subsub_div['features']})
                features_H.append("\n".join([subsub_div.text for subsub_div in a]))
            except:
                features_H.append(np.nan)
            try:
                city_H.append('Hyderabad')
            except:
                city_H.append(np.nan)

In [32]:
# Delhi          
for x in soup_D.find_all('div',{'class':main_div}):
        for i in x.find_all('div',{'class':sub_div}):
    
            try:
                a = i.find('div',{'class':subsub_div['name']})
                name_D.append(a.text)
            except:
                name_D.append(np.nan)
            
            try:
                a = i.find('div',{'class':subsub_div['price']})
                price_D.append(a.text)
            except:
                price_D.append(np.nan)
        
    
            try:
                a = i.find('div',{'class':subsub_div['emi']})
                emi_D.append(a.text)
            except:
                emi_D.append(np.nan)
        
            try:
                a = i.find('ul',{'class':subsub_div['features']})
                features_D.append("\n".join([subsub_div.text for subsub_div in a]))
            except:
                features_D.append(np.nan)
            try:
                city_D.append('Delhi')
            except:
                city_D.append(np.nan)

In [33]:
# Mumbai         
for x in soup_M.find_all('div',{'class':main_div}):
        for i in x.find_all('div',{'class':sub_div}):
    
            try:
                a = i.find('div',{'class':subsub_div['name']})
                name_M.append(a.text)
            except:
                name_M.append(np.nan)
            
            try:
                a = i.find('div',{'class':subsub_div['price']})
                price_M.append(a.text)
            except:
                price_M.append(np.nan)
        
    
            try:
                a = i.find('div',{'class':subsub_div['emi']})
                emi_M.append(a.text)
            except:
                emi_M.append(np.nan)
        
            try:
                a = i.find('ul',{'class':subsub_div['features']})
                features_M.append("\n".join([subsub_div.text for subsub_div in a]))
            except:
                features_M.append(np.nan)
            try:
                city_M.append('Mumbai')
            except:
                city_M.append(np.nan)

In [34]:
# Bangalore         
for x in soup_B.find_all('div',{'class':main_div}):
        for i in x.find_all('div',{'class':sub_div}):
    
            try:
                a = i.find('div',{'class':subsub_div['name']})
                name_B.append(a.text)
            except:
                name_B.append(np.nan)
            
            try:
                a = i.find('div',{'class':subsub_div['price']})
                price_B.append(a.text)
            except:
                price_B.append(np.nan)
        
    
            try:
                a = i.find('div',{'class':subsub_div['emi']})
                emi_B.append(a.text)
            except:
                emi_B.append(np.nan)
        
            try:
                a = i.find('ul',{'class':subsub_div['features']})
                features_B.append("\n".join([subsub_div.text for subsub_div in a]))
            except:
                features_B.append(np.nan)
            try:
                city_B.append('Bangalore')
            except:
                city_B.append(np.nan)

In [35]:
# Chennai          
for x in soup_C.find_all('div',{'class':main_div}):
        for i in x.find_all('div',{'class':sub_div}):
    
            try:
                a = i.find('div',{'class':subsub_div['name']})
                name_C.append(a.text)
            except:
                name_C.append(np.nan)
            
            try:
                a = i.find('div',{'class':subsub_div['price']})
                price_C.append(a.text)
            except:
                price_C.append(np.nan)
        
    
            try:
                a = i.find('div',{'class':subsub_div['emi']})
                emi_C.append(a.text)
            except:
                emi_C.append(np.nan)
        
            try:
                a = i.find('ul',{'class':subsub_div['features']})
                features_C.append("\n".join([subsub_div.text for subsub_div in a]))
            except:
                features_C.append(np.nan)
            try:
                city_C.append('Chennai')
            except:
                city_C.append(np.nan)

In [36]:
# Noida          
for x in soup_N.find_all('div',{'class':main_div}):
        for i in x.find_all('div',{'class':sub_div}):
    
            try:
                a = i.find('div',{'class':subsub_div['name']})
                name_N.append(a.text)
            except:
                name_N.append(np.nan)
            
            try:
                a = i.find('div',{'class':subsub_div['price']})
                price_N.append(a.text)
            except:
                price_N.append(np.nan)
        
    
            try:
                a = i.find('div',{'class':subsub_div['emi']})
                emi_N.append(a.text)
            except:
                emi_N.append(np.nan)
        
            try:
                a = i.find('ul',{'class':subsub_div['features']})
                features_N.append("\n".join([subsub_div.text for subsub_div in a]))
            except:
                features_N.append(np.nan)
            try:
                city_N.append('Noida')
            except:
                city_N.append(np.nan)

In [37]:
# Pune          
for x in soup_P.find_all('div',{'class':main_div}):
        for i in x.find_all('div',{'class':sub_div}):
    
            try:
                a = i.find('div',{'class':subsub_div['name']})
                name_P.append(a.text)
            except:
                name_P.append(np.nan)
            
            try:
                a = i.find('div',{'class':subsub_div['price']})
                price_P.append(a.text)
            except:
                price_P.append(np.nan)
        
    
            try:
                a = i.find('div',{'class':subsub_div['emi']})
                emi_P.append(a.text)
            except:
                emi_P.append(np.nan)
        
            try:
                a = i.find('ul',{'class':subsub_div['features']})
                features_P.append("\n".join([subsub_div.text for subsub_div in a]))
            except:
                features_P.append(np.nan)
            try:
                city_P.append('Pune')
            except:
                city_P.append(np.nan)

In [38]:
# Kolkata          
for x in soup_K.find_all('div',{'class':main_div}):
        for i in x.find_all('div',{'class':sub_div}):
    
            try:
                a = i.find('div',{'class':subsub_div['name']})
                name_K.append(a.text)
            except:
                name_K.append(np.nan)
            
            try:
                a = i.find('div',{'class':subsub_div['price']})
                price_K.append(a.text)
            except:
                price_K.append(np.nan)
        
    
            try:
                a = i.find('div',{'class':subsub_div['emi']})
                emi_K.append(a.text)
            except:
                emi_K.append(np.nan)
        
            try:
                a = i.find('ul',{'class':subsub_div['features']})
                features_K.append("\n".join([subsub_div.text for subsub_div in a]))
            except:
                features_K.append(np.nan)
            try:
                city_K.append('Kolkata')
            except:
                city_K.append(np.nan)

In [39]:
# Ahmedabad         
for x in soup_A.find_all('div',{'class':main_div}):
        for i in x.find_all('div',{'class':sub_div}):
    
            try:
                a = i.find('div',{'class':subsub_div['name']})
                name_A.append(a.text)
            except:
                name_A.append(np.nan)
            
            try:
                a = i.find('div',{'class':subsub_div['price']})
                price_A.append(a.text)
            except:
                price_A.append(np.nan)
        
    
            try:
                a = i.find('div',{'class':subsub_div['emi']})
                emi_A.append(a.text)
            except:
                emi_A.append(np.nan)
        
            try:
                a = i.find('ul',{'class':subsub_div['features']})
                features_A.append("\n".join([subsub_div.text for subsub_div in a]))
            except:
                features_A.append(np.nan)
            try:
                city_A.append('Ahmedabad')
            except:
                city_A.append(np.nan)

In [40]:
#Gurgaon       
for x in soup_G.find_all('div',{'class':main_div}):
        for i in x.find_all('div',{'class':sub_div}):
    
            try:
                a = i.find('div',{'class':subsub_div['name']})
                name_G.append(a.text)
            except:
                name_G.append(np.nan)
            
            try:
                a = i.find('div',{'class':subsub_div['price']})
                price_G.append(a.text)
            except:
                price_G.append(np.nan)
        
    
            try:
                a = i.find('div',{'class':subsub_div['emi']})
                emi_G.append(a.text)
            except:
                emi_G.append(np.nan)
        
            try:
                a = i.find('ul',{'class':subsub_div['features']})
                features_G.append("\n".join([subsub_div.text for subsub_div in a]))
            except:
                features_G.append(np.nan)
            try:
                city_G.append('Gurgaon')
            except:
                city_G.append(np.nan)

In [41]:
# Jaipur        
for x in soup_J.find_all('div',{'class':main_div}):
        for i in x.find_all('div',{'class':sub_div}):
    
            try:
                a = i.find('div',{'class':subsub_div['name']})
                name_J.append(a.text)
            except:
                name_J.append(np.nan)
            
            try:
                a = i.find('div',{'class':subsub_div['price']})
                price_J.append(a.text)
            except:
                price_J.append(np.nan)
        
    
            try:
                a = i.find('div',{'class':subsub_div['emi']})
                emi_J.append(a.text)
            except:
                emi_A.append(np.nan)
        
            try:
                a = i.find('ul',{'class':subsub_div['features']})
                features_J.append("\n".join([subsub_div.text for subsub_div in a]))
            except:
                features_J.append(np.nan)
            try:
                city_J.append('Ahmedabad')
            except:
                city_J.append(np.nan)

In [42]:
# Chandigarh        
for x in soup_I.find_all('div',{'class':main_div}):
        for i in x.find_all('div',{'class':sub_div}):
    
            try:
                a = i.find('div',{'class':subsub_div['name']})
                name_I.append(a.text)
            except:
                name_I.append(np.nan)
            
            try:
                a = i.find('div',{'class':subsub_div['price']})
                price_I.append(a.text)
            except:
                price_I.append(np.nan)
        
    
            try:
                a = i.find('div',{'class':subsub_div['emi']})
                emi_I.append(a.text)
            except:
                emi_I.append(np.nan)
        
            try:
                a = i.find('ul',{'class':subsub_div['features']})
                features_I.append("\n".join([subsub_div.text for subsub_div in a]))
            except:
                features_I.append(np.nan)
            try:
                city_I.append('Chandigarh')
            except:
                city_I.append(np.nan)

In [43]:
name = name + name_H + name_D + name_M + name_B + name_C + name_N + name_P + name_K + name_A +name_G +name_J + name_I
price = price + price_H + price_D + price_M + price_B + price_C + price_N + price_P + price_K + price_A +price_G +price_J + price_I
emi = emi + emi_H + emi_D + emi_M + emi_B + emi_C+emi_N+ emi_P + emi_K + emi_A + emi_G +emi_J +emi_I
features = features + features_H + features_D + features_M + features_B + features_C+ features_N + features_P + features_K + features_A +features_G + features_J +features_I
city = city + city_H + city_D + city_M + city_B + city_C +city_N + city_P + city_K + city_A +city_G +city_J +city_I

In [44]:
print(len(name))
print(len(price))
print(len(emi))
print(len(features))
print(len(city))

5521
5521
5521
5521
5521

In [45]:
df = pd.DataFrame({"Car Name":name, 'Price':price, 
                  "EMI":emi, "Features":features,"Location":city})

In [46]:
df.head()

,Car Name,Price,EMI,Features,Location
0,2009 Hyundai AccentEXECUTIVE Manual,"â‚¹2,52,099","â‚¹5,608/month","83,525 km\n2nd Owner\nPetrol",Hyderabad
1,2021 Maruti CelerioZXI Manual,"â‚¹7,17,699","â‚¹15,965/month","2,072 km\n1st Owner\nPetrol",Hyderabad
2,2009 Hyundai i10SPORTZ 1.2 Manual,"â‚¹2,84,199","â‚¹6,322/month","82,752 km\n1st Owner\nPetrol",Hyderabad
3,2016 Hyundai Creta1.6 SX CRDI Manual,"â‚¹10,99,699","â‚¹24,462/month","44,442 km\n1st Owner\nDiesel",Hyderabad
4,2013 Maruti SwiftVXI Manual,"â‚¹4,33,499","â‚¹9,643/month","61,650 km\n1st Owner\nPetrol",Hyderabad

In [47]:
import matplotlib.pyplot as plt
#%matplotlib inline

from selenium import webdriver
from mpl_toolkits.mplot3d import Axes3D

In [48]:
import re
import requests

In [49]:
regex = r'^\d+\s(\w+)\s'
df['Car Brand'] = df['Car Name'].apply(lambda x: re.compile(regex).findall(x)[0])

regex = r'^\d+\s\w+\s(.*?)\s\w+$'
df['Model'] = df['Car Name'].apply(lambda x: re.compile(regex).findall(x))

regex = r'â‚¹(.*)'
df['Price'] = df['Price'].apply(lambda x: re.compile(regex).findall(x)[0])

regex = r'^\d+'
df['Model Year'] = df['Car Name'].apply(lambda x: re.compile(regex).findall(x)[0])

regex = r'\w+$'
df['Gear'] = df['Car Name'].apply(lambda x: re.compile(regex).findall(x))

regex = r'^(.*)\skm'
df['Driven (Kms)'] = df['Features'].apply(lambda x: re.compile(regex).findall(x)[0])

regex = r'\n(\d+)\w+\sOwner\n'
df['Ownership'] = df['Features'].apply(lambda x: re.compile(regex).findall(x)[0])

regex = r'\n(.*)$'
df['Fuel'] = df['Features'].apply(lambda x: re.compile(regex).findall(x)[0])

regex = r'â‚¹(.*)'
df['EMI (monthly)'] = df['EMI'].apply(lambda x: re.compile(regex).findall(x)[0])

In [50]:
df['EMI (monthly)'] = df['EMI'].apply(lambda x: x.replace('/month',''))
df['EMI (monthly)'] = df['EMI (monthly)'].apply(lambda x: x.replace(',',''))
df['EMI (monthly)'] = df['EMI (monthly)'].apply(lambda x: x.replace('₹',''))

In [51]:
df['Price'] = df['Price'].apply(lambda x: x.replace('₹',''))
df['Price'] = df['Price'].apply(lambda x: x.replace(',',''))

In [52]:
df.head()

,Car Name,Price,EMI,Features,Location,Car Brand,Model,Model Year,Gear,Driven (Kms),Ownership,Fuel,EMI (monthly)
0,2009 Hyundai AccentEXECUTIVE Manual,252099,"â‚¹5,608/month","83,525 km\n2nd Owner\nPetrol",Hyderabad,Hyundai,[AccentEXECUTIVE],2009,[Manual],"83,525",2,Petrol,â‚¹5608
1,2021 Maruti CelerioZXI Manual,717699,"â‚¹15,965/month","2,072 km\n1st Owner\nPetrol",Hyderabad,Maruti,[CelerioZXI],2021,[Manual],"2,072",1,Petrol,â‚¹15965
2,2009 Hyundai i10SPORTZ 1.2 Manual,284199,"â‚¹6,322/month","82,752 km\n1st Owner\nPetrol",Hyderabad,Hyundai,[i10SPORTZ 1.2],2009,[Manual],"82,752",1,Petrol,â‚¹6322
3,2016 Hyundai Creta1.6 SX CRDI Manual,1099699,"â‚¹24,462/month","44,442 km\n1st Owner\nDiesel",Hyderabad,Hyundai,[Creta1.6 SX CRDI],2016,[Manual],"44,442",1,Diesel,â‚¹24462
4,2013 Maruti SwiftVXI Manual,433499,"â‚¹9,643/month","61,650 km\n1st Owner\nPetrol",Hyderabad,Maruti,[SwiftVXI],2013,[Manual],"61,650",1,Petrol,â‚¹9643

In [53]:
cols = ['Car Name', 'Features', 'EMI']
columns = ['Car Brand', 'Model', 'Price', 'Model Year','Location' ,'Fuel', 'Driven (Kms)', 'Gear', 'Ownership', 'EMI (monthly)']
df = df.drop(cols,axis=1)
df = df[columns]

In [54]:
df.head()

,Car Brand,Model,Price,Model Year,Location,Fuel,Driven (Kms),Gear,Ownership,EMI (monthly)
0,Hyundai,[AccentEXECUTIVE],252099,2009,Hyderabad,Petrol,"83,525",[Manual],2,â‚¹5608
1,Maruti,[CelerioZXI],717699,2021,Hyderabad,Petrol,"2,072",[Manual],1,â‚¹15965
2,Hyundai,[i10SPORTZ 1.2],284199,2009,Hyderabad,Petrol,"82,752",[Manual],1,â‚¹6322
3,Hyundai,[Creta1.6 SX CRDI],1099699,2016,Hyderabad,Diesel,"44,442",[Manual],1,â‚¹24462
4,Maruti,[SwiftVXI],433499,2013,Hyderabad,Petrol,"61,650",[Manual],1,â‚¹9643

In [55]:
df['Model'] = df['Model'].apply(lambda x: ''.join(x))
df['Gear']  = df['Gear'].apply(lambda x: ''.join(x))
df['Price'] = df['Price'].apply(lambda x: x.replace(',',''))
df['Driven (Kms)'] = df['Driven (Kms)'].apply(lambda x: x.replace(',',''))

In [56]:
df.to_csv('Car price data.csv')