In [1]:
#Let's install the selenium Library
! pip install selenium

Requirement already satisfied: selenium in c:\users\hi\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: outcome in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sortedcontainers in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: async-generator>=1.9 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: idna in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: sniffio in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\hi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\hi\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hi\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\hi\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\hi\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: certifi in c:\users\hi\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: six>=1.5.2 in c:\users\hi\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hi\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
#lets noe import all the required libraries 
import selenium
import pandas as pd 
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

In [3]:
#Lets first connect to the web drive

driver= webdriver.Chrome(r'C:\Users\Hi\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [4]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

## Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [5]:
driver.get('https://www.naukri.com/')

In [6]:
#finding element for job search bar
job_position=driver.find_element_by_class_name('suggestor-input')
job_position.send_keys('Data Analyst')
job_location=driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[3]/div/div/div[3]/div/div/div/input')
job_location.send_keys('Bangalore')
search_button=driver.find_element_by_class_name('qsbSubmit')
search_button.click()
time.sleep(5)

In [7]:
job_title=[]
company_name=[]
experience_required=[]
job_location=[]

In [8]:
# SO let's extact all the tags having  the job_tittles
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="ab34989e6231afd3cd29a4f5faf05956", element="52a347cf-aec8-4a78-8009-707c64f7fe32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab34989e6231afd3cd29a4f5faf05956", element="2d456120-50cf-40ca-ad0c-a8c883a2f7da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab34989e6231afd3cd29a4f5faf05956", element="d5abdfcf-016d-4fbe-a8a6-93bb5d301581")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab34989e6231afd3cd29a4f5faf05956", element="b4e69dc6-3db7-4984-9158-0bbc757cabd7")>]

In [9]:
#Now the text of the job title is inside the tag extracted above.
#so we will run a loop over a tag extracted above analysis
for i in title_tags:
    title=i.text
    job_title.append(title)
job_title[0:11]

['Data Analyst II',
 'Senior Data Analyst II',
 'Senior Data Analyst II',
 'Data Analysts with Business Analysis',
 'Data Analyst / Data Engineer',
 'Senior Data Analyst',
 'Sr Domain Expert -Data Analysts',
 'Business Analyst/Data Analyst',
 'Senior Data Analyst - KPO',
 'Senior Data Analyst',
 'Consultant - Data Analyst']

In [10]:
# SO let's extact all the tags having  the location
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="ab34989e6231afd3cd29a4f5faf05956", element="88cfc14a-c762-44d1-b652-7083b13f6560")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab34989e6231afd3cd29a4f5faf05956", element="1e6610db-ae35-49f9-8290-9d393a0e9a5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab34989e6231afd3cd29a4f5faf05956", element="eb70c0d8-2872-4127-9868-fd68d212bf84")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab34989e6231afd3cd29a4f5faf05956", element="dbdc6e7c-fb00-4618-8495-fe537965c62f")>]

In [11]:
#Now the text of the job location is inside the tag extracted above.
#so we will run a loop over a tag extracted above analysis
for i in location_tags:
    title=i.text
    job_location.append(title)
job_location[0:11]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Indore, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [12]:
# SO let's extact all the tags having  the company name
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="ab34989e6231afd3cd29a4f5faf05956", element="00ede973-a055-4d94-a053-d3bb5dc7276f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab34989e6231afd3cd29a4f5faf05956", element="5b217b26-8a7e-4a55-ae11-9cd9f4453b1f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab34989e6231afd3cd29a4f5faf05956", element="acb16d6c-1420-439b-bb0d-568e34c224cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab34989e6231afd3cd29a4f5faf05956", element="2e15df6f-1167-4e3d-94c4-8f07fcfabea4")>]

In [13]:
#Now the text of the company name is inside the tag extracted above.
#so we will run a loop over a tag extracted above analysis
for i in company_tags:
    title=i.text
    company_name.append(title)
company_name[0:11]

['Cerner',
 'Flipkart',
 'Flipkart',
 'Avanze Technologies India Pvt. Ltd.',
 'TALENT MAX HR & MANAGEMENT CONSULTANTS',
 'Flipkart',
 'Siemens',
 'Telamon HR Solutions',
 'Huquo Consulting Pvt. Ltd',
 'Cerner',
 'Flipkart']

In [14]:
# Let's extract all the tage having  experience required
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="ab34989e6231afd3cd29a4f5faf05956", element="7a5ab937-b3b1-44b9-b106-9421b4b641aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab34989e6231afd3cd29a4f5faf05956", element="514e6fb8-03b1-410f-aca4-e1f53ef6fc3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab34989e6231afd3cd29a4f5faf05956", element="e4e6dddb-7f19-41ee-969b-1d84109160ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab34989e6231afd3cd29a4f5faf05956", element="8212d591-32c7-4fc5-a97b-2beeff60f5e3")>]

In [15]:
#Now the text of the experience required is inside the tag extracted above.
#so we will run a loop over a tag extracted above analysis
for i in experience_tags:
    title=i.text
    experience_required.append(title)
experience_required[0:11]

['6-10 Yrs',
 '2-4 Yrs',
 '3-6 Yrs',
 '6-8 Yrs',
 '8-13 Yrs',
 '4-6 Yrs',
 '0-10 Yrs',
 '3-5 Yrs',
 '7-12 Yrs',
 '8-12 Yrs',
 '1-3 Yrs']

In [16]:
#let's checklength of each of list
print(len(job_title),len(job_location),len(company_name),len(experience_required))

20 20 20 20

In [17]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['Title']=job_title
jobs['Location']=job_location
jobs['Company']=company_name
jobs['Experience_required']=experience_required

In [18]:

jobs[0:11]

,Title,Location,Company,Experience_required
0,Data Analyst II,Bangalore/Bengaluru,Cerner,6-10 Yrs
1,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,2-4 Yrs
2,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,3-6 Yrs
3,Data Analysts with Business Analysis,Bangalore/Bengaluru,Avanze Technologies India Pvt. Ltd.,6-8 Yrs
4,Data Analyst / Data Engineer,"Indore, Pune, Bangalore/Bengaluru",TALENT MAX HR & MANAGEMENT CONSULTANTS,8-13 Yrs
5,Senior Data Analyst,Bangalore/Bengaluru,Flipkart,4-6 Yrs
6,Sr Domain Expert -Data Analysts,Bangalore/Bengaluru,Siemens,0-10 Yrs
7,Business Analyst/Data Analyst,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",Telamon HR Solutions,3-5 Yrs
8,Senior Data Analyst - KPO,"Gurgaon/Gurugram, Bangalore/Bengaluru",Huquo Consulting Pvt. Ltd,7-12 Yrs
9,Senior Data Analyst,Bangalore/Bengaluru,Cerner,8-12 Yrs
10,Consultant - Data Analyst,Bangalore/Bengaluru,Flipkart,1-3 Yrs

## Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [181]:
driver.get('https://www.naukri.com/')

In [182]:
#finding element for job search bar
job_position=driver.find_element_by_class_name('suggestor-input')
job_position.send_keys('Data Scientist ')
#finding element for job location bar
job_location=driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[3]/div/div/div[3]/div/div/div/input')
job_location.send_keys('Bangalore')
#do click using class_name function
search_button=driver.find_element_by_class_name('qsbSubmit')
search_button.click()

In [183]:
#for append data create empty list
job_title=[]
company_name=[]
job_location=[]

In [184]:
# SO let's extact all the tags having  the job_tittles
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="b2d626db59796ebd3105453c9871ee78", element="950ad087-9f9c-4360-8887-10c26f7f5a0d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b2d626db59796ebd3105453c9871ee78", element="dae0ff39-9cef-4acc-a904-25a07163a57e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b2d626db59796ebd3105453c9871ee78", element="d88bbe3f-f549-4c7b-95a4-d14df8da3fdf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b2d626db59796ebd3105453c9871ee78", element="ddf76556-9945-485b-96cf-c882a00337a6")>]

In [185]:
#Now the text of the job title is inside the tag extracted above.
#so we will run a loop over a tag extracted above analysis
for i in title_tags:
    title=i.text
    job_title.append(title)
job_title[0:11]

['Lead Data Scientist',
 'Senior Data Scientist',
 'ASSOCIATE DATA SCIENTIST',
 'Data Scientist: Advanced Analytics',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist',
 'Data Scientist/Engineer - Global Telecom Setup',
 'Analyst- Data Scientist',
 'Data Scientist']

In [186]:
# SO let's extact all the tags having  the location
location_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
location_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="b2d626db59796ebd3105453c9871ee78", element="e7a93f28-bc3a-4056-a55f-8811345fa39a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b2d626db59796ebd3105453c9871ee78", element="2bd0db43-f30d-44c1-9574-818516629f7c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b2d626db59796ebd3105453c9871ee78", element="d84a8652-c653-437a-9e96-6654029c02e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b2d626db59796ebd3105453c9871ee78", element="96af417d-c0db-4836-b24d-d7f0b0948c36")>]

In [187]:
#Now the text of the job location is inside the tag extracted above.
#so we will run a loop over a tag extracted above analysis
for i in location_tags:
    title=i.text
    job_location.append(title)
job_location[0:11]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [188]:
# SO let's extact all the tags having  the company name
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="b2d626db59796ebd3105453c9871ee78", element="6adce0e1-5d45-4908-8a41-02d2cf069049")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b2d626db59796ebd3105453c9871ee78", element="2975a46e-7dd9-47cc-b108-cf57b9cafa16")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b2d626db59796ebd3105453c9871ee78", element="27f84443-c819-4905-b067-45fb16d7d132")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b2d626db59796ebd3105453c9871ee78", element="9a316c3d-1858-4df2-be62-da36445056c0")>]

In [189]:
#Now the text of the company name is inside the tag extracted above.
#so we will run a loop over a tag extracted above analysis
for i in company_tags:
    title=i.text
    company_name.append(title)
company_name[0:11]

['Groww',
 'PayU',
 'Hinduja Global',
 'IBM',
 'Applied Materials',
 'Applied Materials',
 'IBM',
 'Applied Materials',
 'Global Telecom Setup',
 'Sigma Aldrich',
 'PayU']

In [190]:
#let's checklength of each of list
print(len(job_title),len(job_location),len(company_name))

20 20 20

In [191]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['Title']=job_title
jobs['Location']=job_location
jobs['Company']=company_name

In [192]:
jobs

,Title,Location,Company
0,Lead Data Scientist,Bangalore/Bengaluru,Groww
1,Senior Data Scientist,Bangalore/Bengaluru,PayU
2,ASSOCIATE DATA SCIENTIST,Bangalore/Bengaluru,Hinduja Global
3,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM
4,Data Scientist,Bangalore/Bengaluru,Applied Materials
5,Data Scientist,Bangalore/Bengaluru,Applied Materials
6,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM
7,Data Scientist,Bangalore/Bengaluru,Applied Materials
8,Data Scientist/Engineer - Global Telecom Setup,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",Global Telecom Setup
9,Analyst- Data Scientist,Bangalore/Bengaluru,Sigma Aldrich
10,Data Scientist,Bangalore/Bengaluru,PayU
11,Data Scientist,Bangalore/Bengaluru,PayU
12,Data Scientist,Bangalore/Bengaluru,PayU
13,Data Scientist - Immediate Joiners,"Noida, Mumbai, Pune, Bangalore/Bengaluru",Bristlecone
14,Data Scientist,Bangalore/Bengaluru,PayU
15,Senior Data Scientist/Data Scientist - Researc...,Bangalore/Bengaluru,Hexaconcepts
16,Data Scientist,Bangalore/Bengaluru,GSK India
17,Immediate requirement of Data Scientist ( Bang...,Bangalore/Bengaluru,Firstsource Solutions Limited
18,Senior Data Scientist,Bangalore/Bengaluru,GSK India
19,Data Scientist,Bangalore/Bengaluru,Cervello India Private Limited

## Q3.You have to use the location and salary filter.You have to scrape data for “Data Scientist” designation for first 10 job results.You have to scrape the job-title, job-location, company name, experience required. The location filter to be used  is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [31]:
#first get the webpage
driver.get('https://www.naukri.com/')

In [32]:
#finding element for job search bar
job_position=driver.find_element_by_class_name('suggestor-input')
job_position.send_keys('Data Scientist ')
search_button=driver.find_element_by_class_name('qsbSubmit')
search_button.click()

In [33]:
salary_filter= driver.find_elements_by_xpath("//i[@class= 'fleft naukicon naukicon-checkbox']")
salary_filter[3].click()

In [36]:
salary_filter= driver.find_elements_by_xpath("//i[@class= 'fleft naukicon naukicon-checkbox']")
salary_filter[5].click()

In [37]:
job_title= []
job_location= []
company_name= []
experience_required= []

In [38]:
job_title= []
job_location= []
company_name= []
experience_required= []

for i in driver.find_elements_by_xpath("//a[@class= 'title fw500 ellipsis']"):
    job_title.append(i.text)
    
for i in driver.find_elements_by_xpath("//li[@class= 'fleft grey-text br2 placeHolderLi location']/span"):
    job_location.append(i.text)

for i in driver.find_elements_by_xpath("//a[@class= 'subTitle ellipsis fleft']"):
    company_name.append(i.text)

for i in driver.find_elements_by_xpath("//li[@class= 'fleft grey-text br2 placeHolderLi experience']/span"):
    experience_required.append(i.text)
dictionnary = {
   'Job title': job_title[:10], 
   'Job location':job_location[:10], 
   'Company Name':company_name[:10], 
   'Experience Required':experience_required[:10]
}
jobs = pd.DataFrame(data=dictionnary) 
jobs

,Job title,Job location,Company Name,Experience Required
0,Hiring For Senior Data Scientist-Noida,"Noida, Greater Noida, Delhi / NCR",Lumiq.ai,2-6 Yrs
1,Opening For Data Scientist,Gurgaon/Gurugram,Care Health Insurance,1-5 Yrs
2,"Data Scientist/ Machine Learning, 2022 Passout...","Hyderabad/Secunderabad, Ahmedabad, Chennai, Ba...",Creative Hands HR Consultancy,0-4 Yrs
3,Data Scientist (freelance),"New Delhi, Delhi",2Coms,2-7 Yrs
4,Data Scientist,"Gurgaon, Bengaluru",BlackBuck,3-7 Yrs
5,Data Scientist,New Delhi,Boston Consulting Group,2-5 Yrs
6,Urgent Requirement || Data Scientist || Noida,"Noida, Delhi / NCR",HCL Technologies,3-8 Yrs
7,AM Data Scientist - Goods & Service Tax Networ...,Delhi / NCR,NISG (National Institute for Smart Government),3-8 Yrs
8,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs
9,Senior Data Scientist,Delhi,iNICU,1-5 Yrs

## Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [39]:
url='https://www.flipkart.com/'
#let's open the webpage through over web driver 
driver.get(url)

In [40]:
cross = driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]')
cross.click()
time.sleep(5)

In [41]:
brand = []
description = []
price = []
discount = []

In [42]:
#finding element for job search bar
# Creating object of the search bar by finding it through Class name
search_bar_fk=driver.find_element_by_class_name('_3704LK')

# Clearing the bar if there is any text in it
search_bar_fk.clear()

# Sending required product to the search bar
search_bar_fk.send_keys('Sunglasses')

In [43]:
# Creating object of the search button and sending click commamnd
search_button = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_button.click()
time.sleep(3) # pausing the code for 3 seconds, allowing page to load

In [44]:
for a in range (3):
    brand_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    desc_tags = driver.find_elements_by_xpath('//div[@class="_2B099V"]//a')
    price_tags = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    discount_tags = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]//span')

    for i in brand_tags:
        brand.append(i.text)
    
    for i in desc_tags:
        description.append(i.text)
    
    for i in price_tags:
        price.append(i.text)
    
    for i in discount_tags:
        discount.append(i.text)

    if (a < 1):
        nxt = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
        nxt.click()
        time.sleep(5)
    else:
        nxt = driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')
        nxt.click()
        time.sleep(5)

desc = description[0::2]
sunglasses = pd.DataFrame({})
sunglasses['Brand Name'] = brand
sunglasses['Description'] = desc
sunglasses['Price'] = price
sunglasses['Discount'] = discount
sunglasses = sunglasses[:100]
sunglasses

,Brand Name,Description,Price,Discount
0,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹379,81% off
1,PIRASO,UV Protection Aviator Sunglasses (54),₹249,84% off
2,Elligator,UV Protection Round Sunglasses (54),₹295,88% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639,20% off
4,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹273,78% off
...,...,...,...,...
95,ZOSTAL,"UV Protection, Polarized Rectangular Sunglasse...",₹188,81% off
96,Rich Club,"UV Protection, Mirrored, Gradient Round Sungla...",₹253,68% off
97,hipe,"UV Protection, Gradient, Mirrored, Riding Glas...",₹233,76% off
98,SUNBEE,"UV Protection, Polarized, Mirrored Round Sungl...",₹314,81% off
99,PIRASO,UV Protection Aviator Sunglasses (50),₹349,78% off

## Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11- black-64-gb-includes-  earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace.

In [49]:
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace'
#let's open the webpage through over web driver 
driver.get(url)

In [50]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')
driver.find_element_by_xpath("//div[@class= '_3UAT2v _16PBlm']").click()

In [51]:
Rating=[]
Review_summary=[]
Full_review=[]

In [57]:
#so lets extract all the data having by using for loop
for i in range (0,13):
    for a in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        Rating.append(a.text)
    for b in driver.find_elements_by_xpath("//div[@class= 't-ZTKy']"):
        Full_review.append(b.text)
    for c in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review_summary.append(c.text)
    try:
        driver.find_element_by_xpath("//a[@class= '_1LKTO3'][2]").click()
    
    except:
        driver.find_element_by_xpath("//a[@class= '_1LKTO3']").click()
    time.sleep(15)
    
    
#Store the data in a dataframe.    
dictionnary = {
   'Rating': Rating[:100], 
   'Review Summary':Review_summary[:100], 
   'Full Review':Full_review[:100],

}
iphone = pd.DataFrame(data=dictionnary) 
iphone

,Rating,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,4,Excellent,Just go for it.\nThis phone is really amazing....
96,5,Brilliant,A wort full value for money decision it’s . Si...
97,5,Excellent,A perfect phone and a good battery super camer...
98,5,Pretty good,I've used this phone for over a month now and ...
99,5,Mind-blowing purchase,Excellent camera 📸 And Display touching very N...

## Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [213]:
url='https://www.flipkart.com/'
#let's open the webpage through over web driver 
driver.get(url)
time.sleep(5)

In [214]:
driver.find_element_by_xpath("//button[@class= '_2KpZ6l _2doB4z']").click()
search = driver.find_element_by_xpath('//div[@class="_3OO5Xc"]//input')
search.clear()
search.send_keys('sneakers')

search_button = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_button.click()
time.sleep(5)

In [215]:
brand = []
description = []
price = []
discount = []

In [216]:
for a in range (3):
    brand_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    desc_tags = driver.find_elements_by_xpath('//div[@class="_2B099V"]//a')
    price_tags = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    discount_tags = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')

    for i in brand_tags:
        brand.append(i.text)
    
    for i in desc_tags:
        description.append(i.text)
    
    for i in price_tags:
        price.append(i.text)
    
    for i in discount_tags:
        discount.append(i.text)
    try:
        driver.find_element_by_xpath("//a[@class= '_1LKTO3'][2]").click()
    
    except:
        driver.find_element_by_xpath("//a[@class= '_1LKTO3']").click()
    time.sleep(15)

In [217]:
dictionnary = {
   'Brand': brand[:100], 
   'Description':description[::2][:100], 
   'Price':price[:100],
   'Discount':discount[:100]

}
sneakers= pd.DataFrame(data=dictionnary) 
sneakers

,Brand,Description,Price,Discount
0,Field Care,Casual Flat Sole Fashionable Trendy Outdoor Co...,₹899,55% off
1,PUMA,Puma Smash v2 L Perf Puma White-Puma Whi Sneak...,"₹2,749",31% off
2,URBANBOX,Sneakers Sneakers For Men,₹158,84% off
3,corsac,STYLISH MENS BLACK SNEAKER Sneakers For Men,₹449,70% off
4,D-SNEAKERZ,"Casual , Partywear Sneakers Shoes For Men's An...",₹249,62% off
...,...,...,...,...
95,PUMA,Noah Sneakers For Men,"₹3,769",16% off
96,Chevit,CH-527 Trendy Star Perfect Casuals Sneakers Fo...,₹273,65% off
97,DUNKASTON,Sneakers For Men,₹399,73% off
98,RODDICK SHOES,Fashion Outdoor Canvas Casual Light Weight Lac...,₹430,56% off
99,Flatheads,Sneakers For Men,"₹2,445",38% off

## Q7: Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”. And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe.

In [227]:
#Let's open the webpage through our webdriver
url='https://www.myntra.com/shoes'
driver.get(url)

In [228]:
#let's filter price limit “Rs. 7149 to Rs. 14099 ”
price_filter= driver.find_elements_by_xpath("//div[@class= 'common-checkboxIndicator']")
price_filter[14].click()

In [229]:
#let's filter colour of shoes 'black'.
price_filter= driver.find_elements_by_xpath("//div[@class= 'common-checkboxIndicator']")
price_filter[17].click()

In [230]:
brand = []
description = []
price = []

In [232]:
for i in range (0,3):
    for a in driver.find_elements_by_xpath("//h3[@class='product-brand']"):
        brand.append(a.text)
    for b in driver.find_elements_by_xpath("//h4[@class='product-product']"):
        description.append(b.text)
    for c in driver.find_elements_by_xpath("//div[@class='product-price']"):
        price.append(c.text)
    
    
dictionnary = {
   'Shoe_Brand': brand[:100], 
   'Description':description[:100], 
   'Price':price[:100],

}
shoes = pd.DataFrame(data=dictionnary) 
shoes

    Shoe_Brand                          Description                      Price
0         Nike       AIRFORCE 1'07 LV8 EMB Sneakers  Rs. 8725Rs. 9695(10% OFF)
1         Nike         AIR FORCE 1 '07 LV8 Sneakers  Rs. 8725Rs. 9695(10% OFF)
2         ALDO            Men Leather Driving Shoes                  Rs. 12999
3     Skechers           Men Max Cushioning Running  Rs. 7649Rs. 8999(15% OFF)
4     Skechers                    Men Walking Shoes  Rs. 7649Rs. 8999(15% OFF)
..         ...                                  ...                        ...
95  PUMA Hoops                 Men Basketball Shoes                   Rs. 7999
96        FILA           Men Printed Trekking Shoes                  Rs. 11599
97     Bugatti                    Men Leather Monks                   Rs. 8999
98    DAVINCHI  Men Textured Formal Leather Loafers                   Rs. 8990
99      ADIDAS       Women KarlieKlossX9000 Running                  Rs. 13999

[100 rows x 3 columns]

## Q8: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”.scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:1. Title,2. Ratings,3. Price

In [83]:
url='https://www.amazon.in/'
driver.get(url)

In [84]:
#finding element for laptop search bar
# Creating object of the search bar by finding it through Class name
search_bar_fk=driver.find_element_by_id("twotabsearchtextbox")

# Clearing the bar if there is any text in it
search_bar_fk.clear()

# Sending required product to the search bar
search_bar_fk.send_keys('Laptop')

In [85]:
search_button=driver.find_element_by_id('nav-search-submit-button')
search_button.click()

In [86]:
filter_button= driver.find_elements_by_xpath("//a[@class= 'a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text == "Intel Core i7"and "Intel Core i9":
        i.click()
        break

In [89]:
title= []
price= []
ratings= []

In [90]:
stars = driver.find_elements_by_class_name('a-icon-alt')

for i in stars:
    ratings.append(i.get_attribute('innerHTML').split(' ')[0])


for j in driver.find_elements_by_xpath("//span[@class= 'a-size-medium a-color-base a-text-normal']"):
    title.append(j.text)
        
for l in driver.find_elements_by_xpath("//span[@class= 'a-price-whole']"):
    price.append(l.text)
 
 #Store the data in a dataframe.   
dictionnary = {
   'Title': title[:10], 
   'Ratings':ratings[:10], 
   'Price':price[:10],

}
laptops = pd.DataFrame(data=dictionnary)
laptops

                                               Title Ratings     Price
0  LG Gram 14 inches Ultra-Light Intel Evo 11th G...     4.4    88,499
1  LG Gram Intel Evo 11th Gen Core i7 17 inches U...     4.5    93,999
2  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...     4.5    57,490
3  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....     4.6    86,990
4  HP Pavilion 14, 11th Gen Intel Core i7-16GB RA...     4.5    86,990
5  Acer Predator Helios 300 11th Gen Intel Core i...     5.0  1,69,990
6  LG Gram 16 inches Intel Evo 11th Gen Core i7 U...     4.4    89,611
7  Microsoft Surface Studio 14.4 inches Touchscre...     4.3  3,73,999
8  HP Pavilion 11th Gen Intel Core i7 Processor 1...     4.3    89,990
9  HP Pavilion x360 11th Gen Intel Core i7 14 inc...     3.7    86,990

## Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.

In [135]:
url='https://www.ambitionbox.com/'
#let's open the webpage through over web driver 
driver.get(url)

In [136]:
job_search = driver.find_element_by_xpath('//*[@id="headerWrapper"]/nav/nav/a[6]')
job_search.click()
time.sleep(5)

In [137]:
#finding element for job search bar
jobs= driver.find_element_by_xpath('//*[@id="jobs-typeahead"]/span/input')
jobs.clear()
jobs.send_keys('Data Scientist')

In [138]:
search_button = driver.find_element_by_xpath('//button[@class="ab_btn search-btn round"]')
search_button.click()
time.sleep(5)

In [139]:
location = driver.find_elements_by_xpath('//p[@class="body-medium text-capitalize undefined"]')
location[1].click()

In [140]:
#finding element for job location bar
loca= driver.find_element_by_xpath('//*[@id="filters-row"]/div/div/div[2]/div[2]/div/div[2]/input')
loca.send_keys('Noida')

In [141]:
search_button = driver.find_element_by_xpath('//*[@id="filters-row"]/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
search_button.click()
time.sleep(5)

In [142]:
company_name=[]
days_ago_job_posted=[]
Rating=[]

In [145]:
#so lets extract all the data having by using for loop
for i in range(10):
    for a in driver.find_elements_by_xpath("//p[@class='company body-medium']"):
        company_name.append(a.text)
        company_name=company_name[:10]
        
        
    for b in driver.find_elements_by_xpath("//span[@class='body-small-l']"):
        days_ago_job_posted.append(b.text)
    
        
    for c in driver.find_elements_by_xpath("//span[@class='body-small']"):
        Rating.append(c.text)
        rating=driver.find_elements_by_xpath("//span[@class='body-small']")
    for i in range(0,len(rating),2):
        Rating.append(rating[i].text)
        Rating=Rating[:10]   
 

 #Store the data in a dataframe. 
dictionnary = {
   'Company_name': company_name[:10], 
   'No of days ago job posted':days_ago_job_posted[::2][:10], 
   'Rating':Rating,

}
company= pd.DataFrame(data=dictionnary) 
company

                        Company_name No of days ago job posted Rating
0      GENPACT India Private Limited                    1d ago    4.0
1      GENPACT India Private Limited                    6d ago    4.0
2                  Tech Mahindra Ltd                   20d ago    3.7
3      GENPACT India Private Limited                   23d ago    4.0
4                   HCL Technologies                   27d ago    3.8
5                              Zyoin                    5d ago    4.1
6  Newgen Software Technologies Ltd.                    7d ago    3.5
7         Pitney Bowes India Pvt Ltd                  1mon ago    4.2
8                  JK Technosoft Ltd                   16d ago    3.6
9  Microsoft India (R and D) Pvt Ltd                  2mon ago    4.3

## Q10: Write a python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [149]:
url='https://www.ambitionbox.com/'
driver.get(url)

In [150]:
search_button = driver.find_element_by_xpath('//*[@id="headerWrapper"]/nav/nav/a[4]')
search_button.click()
time.sleep(5)

In [151]:
#finding element for job search bar
jobs= driver.find_element_by_xpath('//*[@id="jobProfileSearchbox"]')
jobs.clear()
jobs.send_keys('Data Scientist')
time.sleep(5)
driver.find_element_by_xpath('//div[@class="suggestion_wrap tt-suggestion tt-selectable"]').click()

In [152]:

company_name= []
total_salary_record= []
average_salary= []
minimum_salary=[]
maximum_salary=[]
experience_required= []

for i in driver.find_elements_by_xpath("//div[@class='company-info']//a"):
    company_name.append(i.text)

    for i in driver.find_elements_by_xpath('//*[@id="salaries"]/main/section[1]/div[2]/div[3]/div[2]/div[1]/div[1]/div/div/div[1]/span'):
        total_salary_record.append(i.text)
        total_salary_record2=driver.find_elements_by_xpath('//*[@id="salaries"]/main/section[1]/div[2]/div[3]/div[2]/div[2]/div[1]/div/div/div[1]/span')
    for i in range(0,len(total_salary_record2),2):
        total_salary_record.append(total_salary_record2[i].text)
        total_salary_record=total_salary_record[:10]   
        
    for i in driver.find_elements_by_xpath('//p[@class="averageCtc"]'):
        average_salary.append(i.text)
        average_salary2=driver.find_elements_by_xpath('//p[@class="averageCtc"]')
    for i in range(0,len(average_salary2),2):
        average_salary.append(average_salary2[i].text)
        average_salary=average_salary[:10]  
    
    
    for i in driver.find_elements_by_xpath('//div[@class="value body-medium"]'):
        minimum_salary.append(i.text)
        minimum_salary2=driver.find_elements_by_xpath('//div[@class="value body-medium"]')
    for i in range(0,len(minimum_salary2),2):
        minimum_salary.append(minimum_salary2[i].text)
        minimum_salary= minimum_salary[:10]  
    
    
    for i in driver.find_elements_by_xpath('//*[@id="salaries"]/main/section[1]/div[2]/div[3]/div[2]/div[1]/div[2]/div/div[2]/div[2]'):
        maximum_salary.append(i.text)
        maximum_salary2=driver.find_elements_by_xpath('//*[@id="salaries"]/main/section[1]/div[2]/div[3]/div[2]/div[2]/div[2]/div/div[2]/div[2]')
    for i in range(0,len(maximum_salary2),2):
        maximum_salary.append(maximum_salary2[i].text)
        maximum_salary=maximum_salary[:10]  
    
        
    for i in driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]'):
        experience_required.append(i.text.replace('\n','').split(". ")[1])
        experience_required2=driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
    for i in range(0,len(experience_required2),2):
        experience_required.append(experience_required2[i].text.replace('\n','').split(". ")[1])
        experience_required=experience_required[:10]

In [153]:
#Store the data in a dataframe.
dictionnary = {
   'company_name': company_name[:10], 
   'total_salary_record':total_salary_record[:10], 
   'average_salary':average_salary[:10],
   'minimum_salary':minimum_salary[:10],
   'maximum salary':maximum_salary[:10],
   'experience required':experience_required[:10]
}
jobs = pd.DataFrame(data=dictionnary) 
jobs

,company_name,total_salary_record,average_salary,minimum_salary,maximum salary,experience required
0,Walmart,based on 11 salaries,₹ 29.7L,₹ 25.0L,₹ 35.0L,3 yrs exp
1,Ab Inbev,based on 31 salaries,₹ 20.5L,₹ 35.0L,₹ 25.5L,3-4 yrs exp
2,Reliance Jio,based on 11 salaries,₹ 18.9L,₹ 15.0L,₹ 35.0L,4 yrs exp
3,ZS,based on 31 salaries,₹ 15.9L,₹ 25.5L,₹ 25.5L,2 yrs exp
4,Optum,based on 11 salaries,₹ 15.4L,₹ 5.6L,₹ 35.0L,3-4 yrs exp
5,Fractal Analytics,based on 31 salaries,₹ 15.1L,₹ 26.2L,₹ 25.5L,2-4 yrs exp
6,Tiger Analytics,based on 11 salaries,₹ 14.8L,₹ 9.8L,₹ 35.0L,2-4 yrs exp
7,UnitedHealth,based on 31 salaries,₹ 14.0L,₹ 20.0L,₹ 25.5L,2-4 yrs exp
8,Verizon,based on 11 salaries,₹ 12.7L,₹ 11.0L,₹ 35.0L,4 yrs exp
9,Ganit Business Solutions,based on 31 salaries,₹ 12.4L,₹ 22.4L,₹ 25.5L,4 yrs exp