# WEB SCRAPING â€“ ASSIGNMENT 4

### Importing packages

In [104]:
#Let's install the selenium Library
! pip install selenium

Requirement already satisfied: selenium in c:\users\hi\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio~=0.17 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: async-generator>=1.9 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: sniffio in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sortedcontainers in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: pycparser in c:\users\hi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\hi\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\hi\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: certifi in c:\users\hi\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\hi\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hi\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\hi\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hi\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [105]:
#lets noe import all the required libraries 
import selenium
from bs4 import BeautifulSoup
import pandas as pd 
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import requests
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import time

In [106]:
#Lets first connect to the web drive

driver= webdriver.Chrome(r'C:\Users\Hi\Downloads\chromedriver_win32\chromedriver.exe')

In [107]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [5]:
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [6]:
rank=[]
try:
    ranks=driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[1]") 
    for i in ranks:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('data not available')
except StaleElementReferenceException:
    rank.append('data not available')
print(len(rank))

30

In [7]:
Name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
    for i in names:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('No details available')
except StaleElementReferenceException:
    Name.append('No details available')
print(len(Name))

30

In [9]:
Artist=[]
try:
    artist=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artist:
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append('No details available')
except StaleElementReferenceException:
    Artist.append('No details available')
print(len(Artist))

30

In [10]:
Upload_date=[]
try:
    date=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in date:
        Upload_date.append(i.text)
except NoSuchElementException:
    Upload_date.append('No details available')
except StaleElementReferenceException:
    Upload_date.append('No details available')
print(len(Upload_date))

30

In [11]:
Views=[]
try:
    view=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in view:
         Views.append(i.text)
except NoSuchElementException:
     Views.append('No details available')
except StaleElementReferenceException:
     Views.append('No details available')
print(len(Name))

30

In [12]:
import pandas as pd
youtube=pd.DataFrame({})
youtube['Rank']=rank
youtube['Name']=Name
youtube['Artist']=Artist
youtube['Upload_date']=Upload_date
youtube['Views']=Views
youtube

,Rank,Name,Artist,Upload_date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.72
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.85
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.36
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.72
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.52
5,6.,"""Bath Song""[20]",Cocomelon â€“ Nursery Rhymes,"May 2, 2018",5.40
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.64
7,8.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.58
8,9.,"""Learning Colors â€“ Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",4.57
9,10.,"""Masha and the Bear â€“ Recipe for Disaster""[24]",Get Movies,"January 31, 2012",4.49
10,11.,"""Gangnam Style""[25]",Psy,"July 15, 2012",4.43
11,12.,"""Wheels on the Bus""[30]",Cocomelon â€“ Nursery Rhymes,"May 24, 2018",4.08
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",3.94
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.69
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.58
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.58
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.54
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,"October 7, 2014",3.45
18,19.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.36
19,20.,"""Girls Like You""[38]",Maroon 5,"May 31, 2018",3.29
20,21.,"""Faded""[39]",Alan Walker,"December 3, 2015",3.28
21,22.,"""Dark Horse""[40]",Katy Perry,"February 20, 2014",3.27
22,23.,"""Baa Baa Black Sheep""[41]",Cocomelon â€“ Nursery Rhymes,"June 25, 2018",3.24
23,24.,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.23
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.21
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.21
26,27.,"""Shake It Off""[45]",Taylor Swift,"August 18, 2014",3.17
27,28.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.17
28,29.,"""Waka Waka (This Time for Africa)""[47]",Shakira,"June 4, 2010",3.14
29,30.,"""Mi Gente""[48]",J Balvin,"June 29, 2017",3.08

# 2. Scrape the details team Indiaâ€™s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [108]:
Url = 'https://www.bcci.tv/'
driver.get(Url)

In [109]:
try:
    fixture= driver.find_element_by_xpath('//*[@id="navigation"]/ul[1]/li[2]/a')  
    fixture.click()
except NoSuchElementException:
    print("Exception Occured. Moving to next page")

In [ ]:
try:
    all_formate= driver.find_element_by_xpath('//div[@class="cSBDisplay ng-binding"]')  
    all_formate.click()
    search_button=driver.find_elements_by_xpath('//button[@class="cookie__accept btn btn-primary"]')
    search_button.click()

except NoSuchElementException:
    print("Exception Occured. Moving to next page")
    search_button = driver.find_element_by_xpath('//*[@id="fixtures"]/div[2]/div/div[3]/div/div[2]/div[4]')
    search_button.click()
    time.sleep(5)

In [110]:
urls=[]
match_page=driver.find_elements_by_xpath("//div[@class='js-list']/a")
for i in match_page:
    urls.append(i.get_attribute('href'))

In [111]:
match=[]
series=[]
place=[]
date=[]
time=[]
for i in urls:
    driver.get(i)
    try:
        match_title=driver.find_element_by_xpath("//p[@class='mc-header-info__match-description']/span")
        match.append(match_title.text)
    except NoSuchElementException:
        match.append('No details available')
    try:
        series_title=driver.find_element_by_xpath("//h1[@class='mc-header-info__title']/strong")
        series.append(series_title.text)
    except NoSuchElementException:
        series.append("No details Available")
    try:
        place_title=driver.find_element_by_xpath("//h1[@class='mc-header-info__title']")
        place.append(place_title.text.split()[-1])
    except NoSuchElementException:
        place.append("No details Available")
    try:
        date_title=driver.find_element_by_xpath("//div[@class='mc-header-scorebox__datetime']/strong")
        date.append(date_title.text)
    except NoSuchElementException:
        date.append("No details Available")        
    try:
        time_title=driver.find_element_by_xpath("//div[@class='mc-header-scorebox__datetime']/span")
        time.append(time_title.text)
    except NoSuchElementException:
        time.append("No details Available")

In [ ]:
bcci=pd.DataFrame({})
bcci['Match title']=Match_title[:5]
bcci['Series']=Series[:5]
#bcci['Place']=Place[:5]
#bcci['Date']=Date[:5]
bcci

### 3. Scrape the details of selenium exception from guru99.com. 
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description

In [78]:
Url = 'https://www.guru99.com/'
driver.get(Url)

In [81]:
selenium_link=driver.find_element_by_xpath('//*[@id="java_technologies"]/li[3]/a')
selenium_link.click()

In [82]:
exception_handle_link=driver.find_element_by_xpath('//*[@id="post-193"]/div/div/table[5]/tbody/tr[34]/td[1]/a')
try:
    exception_handle_link.click()
except ElementNotInteractableException:
    driver.get(exception_handle_link.get_attribute('href'))

In [84]:
exception_name=[]
try:
    exception_names=driver.find_elements_by_xpath('//*[@id="post-1953"]/div/div/table/tbody/tr/td[1]')
    for i in exception_names[1:]:
        exception_name.append(i.text)
except NoSuchElementException:
    exception_name.append('No details available')
print(len(exception_name))

40

In [86]:
desc=[]
try:
    desc_list=driver.find_elements_by_xpath('//*[@id="post-1953"]/div/div/table/tbody/tr/td[2]')
    for i in desc_list[1:]:
        desc.append(i.text)
except NoSuchElementException:
    desc.append('No details available')
print(len(desc))

40

In [88]:
df=pd.DataFrame({"Exception_name":exception_name,
                "Description":desc})
df.head()

,Exception_name,Description
0,ElementNotSelectableException,This Selenium exception occurs when an element...
1,NoSuchElementException,This Exception occurs if an element could not ...
2,NoSuchFrameException,This Exception occurs if the frame target to b...
3,NoAlertPresentException,This Exception occurs when you switch to no pr...
4,NoSuchWindowException,This Exception occurs if the window target to ...

## 4. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)

In [25]:
url="http://statisticstimes.com/"
driver.get(url)

In [26]:
driver.get(url)

In [51]:
economy=driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy.click()

In [52]:
india_GDP = driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')    
india_GDP.click()

In [53]:
GDP=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
try:
    GDP.click()
except ElementNotInteractableException:
    driver.get(GDP.get_attribute('href'))

In [54]:
rank=[]
try:
    ranks=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")
    for i in ranks:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('No details available')
print(len(rank))

33

In [55]:
State=[]
try:
    states=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")
    for i in states:
        State.append(i.text)
except NoSuchElementException:
    State.append('No details available')
print(len(State))

33

In [56]:
GSDP_18=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")
    for i in info:
        GSDP_18.append(i.text)
except NoSuchElementException:
    GSDP_18.append('No details available')
print(len(GSDP_18))

33

In [57]:
GSDP_17=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")
    for i in info:
        GSDP_17.append(i.text)
except NoSuchElementException:
    GSDP_17.append('No details available')
print(len(GSDP_17))

33

In [58]:
share=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")
    for i in info:
        share.append(i.text)
except NoSuchElementException:
    share.append('No details available')
print(len(share))

33

In [59]:
GDP_billion=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")
    for i in info:
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append('No details available')
print(len(GDP_billion))

33

In [60]:
df=pd.DataFrame({'Rank':rank,
                'State':State,
                'GSDP(18-19)':GSDP_18,
                'GSDP(17-18)':GSDP_17,
                'Share_2017':share,
                'GDP(Billion_$)':GDP_billion})

In [61]:
df.head()

  Rank          State GSDP(18-19) GSDP(17-18) Share_2017 GDP(Billion_$)
0    1    Maharashtra           -   2,632,792     13.94%        399.921
1    2     Tamil Nadu   1,845,853   1,630,208      8.63%        247.629
2    3  Uttar Pradesh   1,687,818   1,584,764      8.39%        240.726
3    4        Gujarat           -   1,502,899      7.96%        228.290
4    5      Karnataka   1,631,977   1,493,127      7.91%        226.806

### 5. Scrape the details of trending repositories on Github.com. Url = https://github.com/. You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [62]:
driver.get("https://github.com/")

In [69]:
explore=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/button")
explore.click()
time.sleep(5)

In [56]:
explore=driver.find_element_by_xpath('//span[@class="text-normal"]')
explore.click()
time.sleep(5)

In [70]:
repo_title=[]
try:
    repos=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")
    for i in repos:
        repo_title.append(i.text)
except NoSuchElementException:
    repo_title.append('No details available')
print(len(repo_title))

25

In [72]:
repo_urls=[]
repos=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
for i in repos:
    repo_urls.append(i.get_attribute('href'))
print(len(repo_urls))

25

In [73]:
Contributors_count=[]
Language_used=[]
for i in repo_urls:
    driver.get(i)
    l=[]
    try:
        count=driver.find_element_by_xpath("//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        Contributors_count.append(count.text)
    except NoSuchElementException:
        Contributors_count.append('No details available')
   
    languages=driver.find_elements_by_xpath("//span[@class='text-gray-dark text-bold mr-1']")
    if languages:    
        for i in languages:
            l.append(i.text)
    else:
        l.append('No languages used')
    Language_used.append(l)
print(len(Contributors_count))
print(len(Language_used))

25
25

In [74]:
df=pd.DataFrame({'Title':repo_title,
                 'repo_urls':repo_urls
                'Contributors_count':Contributors_count,
                'Language_used':Language_used})
df.head()

,Title,Contributors_count,Language_used
0,PaperMC / Paper,291,[No languages used]
1,android / nowinandroid,28,[No languages used]
2,borisdayma / dalle-mini,15,[No languages used]
3,doocs / source-code-hunter,21,[No languages used]
4,ahmedtariq01 / Cloud-DevOps-Learning-Resources,No details available,[No languages used]

### 6. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ .You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [15]:
driver.get("https://www.billboard.com/")

In [ ]:

search=driver.find_element_by_xpath('//*[@id="main-wrapper"]/header/div[1]/div/div/div[1]/button/svg')
search.click()

In [ ]:
charts=driver.find_element_by_xpath("//a[@class='header__main-link header__main-link--charts']")
try:
    charts.click()
except ElementNotInteractableException:
    driver.get(charts.get_attribute('href'))

In [ ]:
top_100=driver.find_element_by_xpath("//a[@class='charts-landing__link charts-landing__video--background']")
try:
    top_100.click()
except NoSuchElementException as e:
            Availability.append('-')

In [27]:
song_name=[]
try:
    names=driver.find_elements_by_xpath('/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[1]/h3')
    for i in names:
        song_name.append(i.text)          
except NoSuchElementException:
    song_name.append('No details available')
print(len(song_name))

100

In [19]:
artist_name=[]
try:
    names=driver.find_elements_by_xpath('//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[1]/span')
    for i in names:
        artist_name.append(i.text)
except NoSuchElementException:
    artist_name.append('No details available')
print(len(artist_name))

100

In [21]:
last_week_rank=[]
try:
    ranks=driver.find_elements_by_xpath('//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[7]/ul/li[3]/span')
    for i in ranks:
        last_week_rank.append(i.text)
except NoSuchElementException:
    last_week_rank.append('No details available')
print(len(last_week_rank))

100

In [22]:
peak_rank=[]
try:
    ranks=driver.find_elements_by_xpath('//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[7]/ul/li[4]/span')
    for i in ranks:
        peak_rank.append(i.text)
except NoSuchElementException:
    peak_rank.append('No details available')
print(len(peak_rank))

100

In [23]:
weeks=[]
try:
    week_count=driver.find_elements_by_xpath('//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[6]/span')
    for i in week_count:
        weeks.append(i.text)
except NoSuchElementException:             
    weeks.append('No details available')
print(len(weeks))

100

In [28]:
df=pd.DataFrame({'Song_Name':song_name,
                'Artist_Name':artist_name,
                'Last_week_rank':last_week_rank,
                'Peak':peak_rank,
                'Weeks_on_chart':weeks})

In [29]:
df.head()

,Song_Name,Artist_Name,Last_week_rank,Peak,Weeks_on_chart
0,As It Was,Harry Styles,1,1,9
1,First Class,Jack Harlow,2,1,8
2,Wait For U,Future Featuring Drake & Tems,3,1,5
3,About Damn Time,Lizzo,5,4,7
4,Heat Waves,Glass Animals,6,1,72

### 7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/. You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [40]:
driver.get("https://www.naukri.com/")

In [41]:
search_bar = driver.find_element_by_xpath('//input[@class="suggestor-input "]')
search_bar.send_keys("recruiters")       
search_button = driver.find_element_by_xpath('//div[@class="qsbSubmit"]')
search_button.click()

In [42]:

recruiters=driver.find_element_by_xpath('//*[@id="root"]/div[1]/div/ul[1]/li[2]/a/div')
recruiters.click()

In [ ]:

search_bar = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')
search_bar.send_keys("Data Science")       
search_button = driver.find_element_by_xpath('//button[@class="fl qsbSrch blueBtn"]') 
search_button.click()

In [58]:
name=[]
try:
    names=driver.find_element_by_xpath("//div[@class='recInfo']/div/p/a[1]")
    for i in names:
        name.append(i.text)
except NoSuchElementException:
    name.append('No details available')

In [60]:
designation=[]
try:
    designation_list=driver.find_element_by_xpath("//div[@class='recInfo']/div/p/span[1]")
    for i in designation_list:
        designation.append(i.text)
except NoSuchElementException:
    designation.append('No details available')

In [61]:
company=[]
try:
    companies=driver.find_element_by_xpath("//div[@class='recInfo']/div/p/a[2]")
    for i in companies:
        company.append(i.text)
except NoSuchElementException:
    company.append('No details available')

In [62]:
skill=[]
try:
    skills=driver.find_element_by_xpath("//div[@class='recInfo']/div[2]")
    for i in skills:
        skill.append(i.text)
except NoSuchElementException:
    skill.append('No details available')

In [ ]:

location=[]
soup=BeautifulSoup(driver.page_source,'html.parser')
l=soup.find_all('div',attrs={'vcard'})
for i in l:
    try:
        location.append(i.find('small').text)
    except AttributeError :
        location.append("No details available")
df.head()

In [ ]:
df=pd.DataFrame({'Name':name,
                'Designation':designation,
                'Company':company,
                "Location":location,
                'Skills I hire':skill})

In [ ]:
df.head()

# 8. Scrape the details of Highest selling novels.Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [33]:
url="https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)

In [34]:
book_name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
    for i in names:
        book_name.append(i.text)
except NoSuchElementException:
    book_name.append('No details available')
print(len(book_name))

100

In [35]:
author_name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
    for i in names:
        author_name.append(i.text)
except NoSuchElementException:
    author_name.append('No details available')

print(len(author_name))

100

In [36]:
sale=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
    for i in names:
        sale.append(i.text)
except NoSuchElementException:
    sale.append('No details available')

print(len(sale))

100

In [37]:
publisher=[]
try:
    publishers=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
    for i in publishers:
        publisher.append(i.text)
except NoSuchElementException:
    publisher.append('No details available')

print(len(publisher))

100

In [38]:
genre=[]
try:
    genres=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")
    for i in genres:
        genre.append(i.text)
except NoSuchElementException:#handling no such element exception
    genre.append('No details available')

print(len(genre))

100

In [39]:
df=pd.DataFrame({"Book_name":book_name,
                "Author_name":author_name,
                'Volume sold':sale,
                'Publisher':publisher,
                'Genre':genre})

In [40]:
df.head()

,Book_name,Author_name,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas

# 9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [41]:
url="https://www.imdb.com/list/ls095964455/"
driver.get(url)

In [42]:
name=[]
try:
    names=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
    for i in names:
        name.append(i.text)
except NosuchElementException:#handling no such element exception
    name.append('No details available')
print(len(name))

100

In [43]:
years=[]
try:
    span=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
    for i in span:
        years.append(i.text)
except NosuchElementException:#handling no such element exception
    years.append('No details available')
print(len(years))

100

In [44]:
genre=[]
try:
    genres=driver.find_elements_by_xpath("//span[@class='genre']")
    for i in genres:
        genre.append(i.text)
except NoSuchElementException:
    genre.append('No details available')
print(len(genre))

100

In [45]:
run_time=[]
try:
    info=driver.find_elements_by_xpath("//span[@class='runtime']")
    for i in info:
        run_time.append(i.text)
except NoSuchElementException:
    run_time.append('No details available')
print(len(run_time))

100

In [46]:
rating=[]
try:
    info=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
    for i in info:
        rating.append(i.text)
except NoSuchElementException:
    rating.append('No details available')
print(len(rating))

100

In [47]:
votes=[]
try:
    info=driver.find_elements_by_xpath("//span[@name='nv']")
    for i in info:
        votes.append(i.text)
except NoSuchElementException:
    votes.append('No details available')
print(len(votes))

100

In [48]:
df=pd.DataFrame({"Name":name,
                "years":years,
                "Genre":genre,
                "Run_time":run_time,
                "Rating":rating,
                "Votes":votes})

In [49]:
df.head()

,Name,years,Genre,Run_time,Rating,Votes
0,Game of Thrones,(2011â€“2019),"Action, Adventure, Drama",57 min,9.2,"1,993,279"
1,Stranger Things,(2016â€“ ),"Drama, Fantasy, Horror",51 min,8.7,"1,028,065"
2,The Walking Dead,(2010â€“2022),"Drama, Horror, Thriller",44 min,8.2,"948,942"
3,13 Reasons Why,(2017â€“2020),"Drama, Mystery, Thriller",60 min,7.5,"283,531"
4,The 100,(2014â€“2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"243,312"

# 10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [50]:
url="https://archive.ics.uci.edu/"
driver.get(url)

In [51]:
show=driver.find_element_by_xpath("//a[@href='datasets.php']")
show.click()

In [52]:
name=[]
try:
    names=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
    for i in names:
        name.append(i.text)
except NoSuchElementException:
    name.append('No details available')
print(len(name))

622

In [53]:
data_type=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in info[1:]:
         data_type.append(i.text)
except NoSuchElementException:
    data_type.append("No information")
print(len(data_type))

622

In [54]:
default_task=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    for i in info[1:]:
         default_task.append(i.text)
except NoSuchElementException:
    default_task.append("No information")
print(len(default_task))

622

In [55]:
attr_type=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    for i in info[1:]:
         attr_type.append(i.text)
except NoSuchElementException:
    attr_type.append("No information")
print(len(attr_type))

622

In [56]:
no_of_instances=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
    for i in info[1:]:
         no_of_instances.append(i.text)
except NoSuchElementException:
    no_of_instances.append("No information")
print(len(no_of_instances))

622

In [57]:
no_of_attributes=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    for i in info[1:]:
         no_of_attributes.append(i.text)
except NoSuchElementException:
    no_of_attributes.append("No information")
print(len(no_of_attributes))

622

In [58]:
year=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    for i in info[1:]:
         year.append(i.text)
except NoSuchElementException:
    year.append("No information")
print(len(year))

622

In [59]:
df=pd.DataFrame({'Name':name,
                'Data_type':data_type,
                'Task':default_task,
                'Attribute_type':attr_type,
                'No_of_instances':no_of_instances,
                'No_of_attributes':no_of_attributes,
                'Year':year})

In [60]:
df.head()

,Name,Data_type,Task,Attribute_type,No_of_instances,No_of_attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998