# RATINGS PREDICTION web scraping

In this section you need to scrape the reviews of different laptops, Phones, Headphones, smartwatches,

Professional Cameras, Printers, clock, Home theater, Iron box,AC,refrigerator from thet e-commerce 

websites.

In [1]:
#Let's install the selenium Library
! pip install selenium

Requirement already satisfied: selenium in c:\users\hi\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio~=0.17 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: sniffio in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: outcome in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sortedcontainers in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: pycparser in c:\users\hi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\hi\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hi\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\hi\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: certifi in c:\users\hi\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\hi\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: six>=1.5.2 in c:\users\hi\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hi\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
#lets noe import all the required libraries 
import selenium
from bs4 import BeautifulSoup
import pandas as pd 
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import requests
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import time

In [3]:
#Lets first connect to the web drive

driver= webdriver.Chrome(r'C:\Users\Hi\Downloads\chromedriver_win32\chromedriver.exe')

In [4]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

### scrape the reviews of different brand of Phones

In [19]:
driver.get('https://www.flipkart.com/samsung-galaxy-f13-waterfall-blue-64-gb/p/itm583ef432b2b0c?pid=MOBGENJWBPFYJSFT&lid=LSTMOBGENJWBPFYJSFT1ZY7B0&marketplace=FLIPKART&q=samsung+galaxy+f13&store=tyy%2F4io&spotlightTagId=BestsellerId_tyy%2F4io&srno=s_1_1&otracker=AS_QueryStore_OrganicAutoSuggest_2_14_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_2_14_na_na_ps&fm=search-autosuggest&iid=f8b56155-b71c-4a4a-b172-b46c8427f54a.MOBGENJWBPFYJSFT.SEARCH&ppt=sp&ppn=sp&ssid=g4xtf2vf9c0000001659437591389&qH=ae67bd136f0a18a1')
driver.find_element_by_xpath("//div[@class= '_3UAT2v _16PBlm']").click()

In [20]:

Rating=[]
Review_summary=[]
Full_review=[]
Date=[]

In [21]:

#so lets extract all the data having by using for loop
for i in range (0,44):
    for c in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        Rating.append(c.text)
    for d in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Full_review.append(d.text)
    for e in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review_summary.append(e.text)
    for f in driver.find_elements_by_xpath("//p[@class='_2sc7ZR']"):
        Date.append(f.text)
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(15)

In [23]:
len(Rating)

440

In [25]:
#Store the data in a dataframe.    
dictionnary = {
   'Rating': Rating[:440], 
   'Review Summary':Review_summary[:440], 
   'Full Review':Full_review[:440],
   'Review_date':Date[:440]
}
phone2 = pd.DataFrame(data=dictionnary)
pr = ['Phone']*440

phone2.insert(0,'Product',pr)
phone2

,Product,Rating,Review Summary,Full Review,Review_date
0,Phone,3,Fair,"This mobile is purely for normal use, I don't ...",1 month ago
1,Phone,4,Nice product,"I am using this Phone since last 7 days , Feel...",18 days ago
2,Phone,5,Mind-blowing purchase,ðŸŒŸIts a great day to day usage phoneðŸŒŸ\nBest bud...,1 month ago
3,Phone,5,Terrific purchase,Very good budget branded Phone.\nNot suitable ...,10 days ago
4,Phone,5,Mind-blowing purchase,Vale for money ðŸ’°,14 days ago
...,...,...,...,...,...
435,Phone,5,Terrific,Good,26 days ago
436,Phone,5,Awesome,Super,26 days ago
437,Phone,3,Decent product,Camera quality is not good for giving 50mp cam...,26 days ago
438,Phone,5,Terrific purchase,Super mobile valve for money,26 days ago
439,Phone,4,Very Good,Very nice mobile love it,27 days ago

In [26]:
p = ['â‚¹11,999']*440
d = ['SAMSUNG Galaxy F13']*440

phone2.insert(1,'Price',p)
phone2.insert(1, 'Brand_name', d)

phone2

,Product,Brand_name,Price,Rating,Review Summary,Full Review,Review_date
0,Phone,SAMSUNG Galaxy F13,"â‚¹11,999",3,Fair,"This mobile is purely for normal use, I don't ...",1 month ago
1,Phone,SAMSUNG Galaxy F13,"â‚¹11,999",4,Nice product,"I am using this Phone since last 7 days , Feel...",18 days ago
2,Phone,SAMSUNG Galaxy F13,"â‚¹11,999",5,Mind-blowing purchase,ðŸŒŸIts a great day to day usage phoneðŸŒŸ\nBest bud...,1 month ago
3,Phone,SAMSUNG Galaxy F13,"â‚¹11,999",5,Terrific purchase,Very good budget branded Phone.\nNot suitable ...,10 days ago
4,Phone,SAMSUNG Galaxy F13,"â‚¹11,999",5,Mind-blowing purchase,Vale for money ðŸ’°,14 days ago
...,...,...,...,...,...,...,...
435,Phone,SAMSUNG Galaxy F13,"â‚¹11,999",5,Terrific,Good,26 days ago
436,Phone,SAMSUNG Galaxy F13,"â‚¹11,999",5,Awesome,Super,26 days ago
437,Phone,SAMSUNG Galaxy F13,"â‚¹11,999",3,Decent product,Camera quality is not good for giving 50mp cam...,26 days ago
438,Phone,SAMSUNG Galaxy F13,"â‚¹11,999",5,Terrific purchase,Super mobile valve for money,26 days ago
439,Phone,SAMSUNG Galaxy F13,"â‚¹11,999",4,Very Good,Very nice mobile love it,27 days ago

In [27]:
driver.get('https://www.flipkart.com/oppo-f11-pro-aurora-green-64-gb/p/itmfe6k2gurv2a3p?pid=MOBFE6KFGD6YT27Z&lid=LSTMOBFE6KFGD6YT27ZWDYUV3&marketplace=FLIPKART&q=oppo+f21+pro&store=tyy%2F4io&srno=s_1_5&otracker=AS_QueryStore_OrganicAutoSuggest_2_3_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_2_3_na_na_ps&fm=search-autosuggest&iid=df1985e0-6c26-4310-ae2f-87a92a4fb911.MOBFE6KFGD6YT27Z.SEARCH&ppt=sp&ppn=sp&ssid=4ynhsm5ykw0000001659436196584&qH=0609dc5a34e0f8ca')
driver.find_element_by_xpath("//div[@class= '_3UAT2v _16PBlm']").click()

In [28]:
Rating=[]
Review_summary=[]
Full_review=[]
Date=[]

In [31]:
#so lets extract all the data having by using for loop
for i in range (0,155):
    for c in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        Rating.append(c.text)
    for d in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Full_review.append(d.text)
    for e in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review_summary.append(e.text)
    for f in driver.find_elements_by_xpath("//p[@class='_2sc7ZR']"):
        Date.append(f.text)
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(15)

In [32]:
len(Rating)

1570

In [33]:
#Store the data in a dataframe.    
dictionnary = {
   'Rating': Rating[:1570], 
   'Review Summary':Review_summary[:1570], 
   'Full Review':Full_review[:1570],
   'Review_date':Date[:1570]
}
phone3 = pd.DataFrame(data=dictionnary)
pr = ['Phone']*1570

phone3.insert(0,'Product',pr)
phone3

,Product,Rating,Review Summary,Full Review,Review_date
0,Phone,5,Best in the market!,Everything is so elegant whether it be the cam...,"Apr, 2019"
1,Phone,5,Perfect product!,Awesome purchase.. ThanQ flipkart the day one ...,"Mar, 2020"
2,Phone,5,Wonderful,Gentle Mobile Battery backup is good .\ncamera...,"Jul, 2019"
3,Phone,5,Simply awesome,"MIND BLOWING CAMERA PHONE , NOW GO AND BUY IT ...","Oct, 2019"
4,Phone,5,Terrific,I am oppo fan lover. camera quality is very go...,"Jul, 2019"
...,...,...,...,...,...
1565,Phone,5,Just wow!,Very good\nNice,"Sep, 2020"
1566,Phone,5,Best in the market!,V good,"Sep, 2020"
1567,Phone,5,Worth every penny,Not good not bad,"Sep, 2020"
1568,Phone,2,Could be way better,This phone all are fantastic....only battery p...,"Sep, 2020"
1569,Phone,4,Pretty good,Super ðŸ˜˜,"Sep, 2020"

In [34]:
p = ['â‚¹28,990']*1570
d = ['OPPO F11 Pro']*1570
phone3.insert(1,'Price',p)
phone3.insert(1, 'Brand_name', d)


phone3

,Product,Brand_name,Price,Rating,Review Summary,Full Review,Review_date
0,Phone,OPPO F11 Pro,"â‚¹28,990",5,Best in the market!,Everything is so elegant whether it be the cam...,"Apr, 2019"
1,Phone,OPPO F11 Pro,"â‚¹28,990",5,Perfect product!,Awesome purchase.. ThanQ flipkart the day one ...,"Mar, 2020"
2,Phone,OPPO F11 Pro,"â‚¹28,990",5,Wonderful,Gentle Mobile Battery backup is good .\ncamera...,"Jul, 2019"
3,Phone,OPPO F11 Pro,"â‚¹28,990",5,Simply awesome,"MIND BLOWING CAMERA PHONE , NOW GO AND BUY IT ...","Oct, 2019"
4,Phone,OPPO F11 Pro,"â‚¹28,990",5,Terrific,I am oppo fan lover. camera quality is very go...,"Jul, 2019"
...,...,...,...,...,...,...,...
1565,Phone,OPPO F11 Pro,"â‚¹28,990",5,Just wow!,Very good\nNice,"Sep, 2020"
1566,Phone,OPPO F11 Pro,"â‚¹28,990",5,Best in the market!,V good,"Sep, 2020"
1567,Phone,OPPO F11 Pro,"â‚¹28,990",5,Worth every penny,Not good not bad,"Sep, 2020"
1568,Phone,OPPO F11 Pro,"â‚¹28,990",2,Could be way better,This phone all are fantastic....only battery p...,"Sep, 2020"
1569,Phone,OPPO F11 Pro,"â‚¹28,990",4,Pretty good,Super ðŸ˜˜,"Sep, 2020"

### scrape the reviews of different brand of headset

In [35]:
driver.get('https://www.flipkart.com/boat-bassheads-103-blue-wired-headset/p/itma6533ab620ab5?pid=ACCFGYHHKJ94GN6A&lid=LSTACCFGYHHKJ94GN6AGRUYOH&marketplace=FLIPKART&q=headphones&store=0pm%2Ffcn&srno=s_1_2&otracker=search&otracker1=search&fm=Search&iid=en_rQtnTb3AfLUlpR1bYvS%2BtDgU7vQfJIPVq3iXff1Sy11AmedA7DQ7GF5AIlbTDUJUl3SDoluXeLVo1c5gw4yLFQ%3D%3D&ppt=sp&ppn=sp&ssid=lfzzna4mkw0000001659430205652&qH=edd443896ef5dbfc')
driver.find_element_by_xpath("//div[@class= '_3UAT2v _16PBlm']").click()

In [36]:
Rating=[]
Review_summary=[]
Full_review=[]
Date=[]

In [41]:
#so lets extract all the data having by using for loop
for i in range (0,150):
    for c in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        Rating.append(c.text)
    for d in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Full_review.append(d.text)
    for e in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review_summary.append(e.text)
    for f in driver.find_elements_by_xpath("//p[@class='_2sc7ZR']"):
        Date.append(f.text)
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(15)

In [43]:
len(Rating)

1344

In [ ]:
len(Review_summary)

In [44]:
#Store the data in a dataframe.    
dictionnary = {
   
   'Rating': Rating[:1344], 
   'Review Summary':Review_summary[:1344], 
   'Full Review':Full_review[:1344],
   'Review_date':Date[:1344]
}
head_set1 = pd.DataFrame(data=dictionnary) 
pr = ['Headset']*1344

head_set1.insert(0,'Product',pr)
head_set1

,Product,Rating,Review Summary,Full Review,Review_date
0,Headset,5,Mind-blowing purchase,The product comes with a warranty card for one...,"May, 2020"
1,Headset,4,Wonderful,Great product in the price range. Decent sound...,"Feb, 2020"
2,Headset,4,Really Nice,Awesome product.. i received it earlier than t...,"May, 2020"
3,Headset,5,Brilliant,Super product ..Again I am writing this review...,"May, 2020"
4,Headset,5,Terrific purchase,very Good Product with enough bass..and nice d...,"Nov, 2019"
...,...,...,...,...,...
1339,Headset,1,Absolute rubbish!,Received the product on jun10. Today it is jul...,17 days ago
1340,Headset,4,Really Nice,This is good but so because it work hardly 3 t...,18 days ago
1341,Headset,5,Classy product,Good as per product description,18 days ago
1342,Headset,4,Wonderful,Good,18 days ago
1343,Headset,5,Best in the market!,Nice,18 days ago

In [45]:

p = ['â‚¹399']*1344
d = ['boAt Basshead Headset']*1344

head_set1.insert(1,'Price',p)
head_set1.insert(1, 'Brand_name', d)

head_set1

,Product,Brand_name,Price,Rating,Review Summary,Full Review,Review_date
0,Headset,boAt Basshead Headset,â‚¹399,5,Mind-blowing purchase,The product comes with a warranty card for one...,"May, 2020"
1,Headset,boAt Basshead Headset,â‚¹399,4,Wonderful,Great product in the price range. Decent sound...,"Feb, 2020"
2,Headset,boAt Basshead Headset,â‚¹399,4,Really Nice,Awesome product.. i received it earlier than t...,"May, 2020"
3,Headset,boAt Basshead Headset,â‚¹399,5,Brilliant,Super product ..Again I am writing this review...,"May, 2020"
4,Headset,boAt Basshead Headset,â‚¹399,5,Terrific purchase,very Good Product with enough bass..and nice d...,"Nov, 2019"
...,...,...,...,...,...,...,...
1339,Headset,boAt Basshead Headset,â‚¹399,1,Absolute rubbish!,Received the product on jun10. Today it is jul...,17 days ago
1340,Headset,boAt Basshead Headset,â‚¹399,4,Really Nice,This is good but so because it work hardly 3 t...,18 days ago
1341,Headset,boAt Basshead Headset,â‚¹399,5,Classy product,Good as per product description,18 days ago
1342,Headset,boAt Basshead Headset,â‚¹399,4,Wonderful,Good,18 days ago
1343,Headset,boAt Basshead Headset,â‚¹399,5,Best in the market!,Nice,18 days ago

In [20]:
driver.get('https://www.flipkart.com/oneplus-bullets-wireless-z2-fast-charge-30-hrs-battery-life-earphones-mic-bluetooth-headset/product-reviews/itm1b9cd98911a2a?pid=ACCGC4GN5SQR7ZCZ&lid=LSTACCGC4GN5SQR7ZCZQKBRXO&marketplace=FLIPKART')
driver.find_element_by_xpath("//div[@class= '_3UAT2v _16PBlm']").click()

In [95]:
Rating=[]
Review_summary=[]
Full_review=[]
Date=[]

In [98]:
#so lets extract all the data having by using for loop
for i in range (0,100):
    for c in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        Rating.append(c.text)
    for d in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Full_review.append(d.text)
    for e in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review_summary.append(e.text)
    for f in driver.find_elements_by_xpath("//p[@class='_2sc7ZR']"):
        Date.append(f.text)
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(15)

In [99]:
len(Rating)

1150

In [100]:
#Store the data in a dataframe.    
dictionnary = {
   
   'Rating': Rating[:1150], 
   'Review Summary':Review_summary[:1150], 
   'Full Review':Full_review[:1150],
   'Review_date':Date[:1150]
}
head_set2= pd.DataFrame(data=dictionnary) 
pr = ['Headset']*1150

head_set2.insert(0,'Product',pr)
head_set2

,Product,Rating,Review Summary,Full Review,Review_date
0,Headset,4,Nice product,"ðŸ‘‰Sound quality is excellent, Bass is awesome, ...",3 months ago
1,Headset,5,Simply awesome,Excellent product. Superb bass. Worth for mone...,3 months ago
2,Headset,5,Simply awesome,Superb product actually I wonâ€™t prefer wireles...,3 months ago
3,Headset,5,Mind-blowing purchase,This is worth every penny you spend. I doesn't...,3 months ago
4,Headset,5,Classy product,Wireless Bullets are first impressions are imp...,3 months ago
...,...,...,...,...,...
1145,Headset,3,Fair,Sound quality decreased.,6 days ago
1146,Headset,1,Useless product,quality is not good,6 days ago
1147,Headset,5,Must buy!,Nice product,6 days ago
1148,Headset,4,Very Good,Spr,6 days ago
1149,Headset,1,Horrible,Disconnecting frequently on video call..,6 days ago

In [101]:

p = ['â‚¹1,799']*1150
d = ['OnePlus Bullets Wireless Bluetooth Headset']*1150

head_set2.insert(1,'Price',p)
head_set2.insert(1, 'Brand_name', d)

head_set2

,Product,Brand_name,Price,Rating,Review Summary,Full Review,Review_date
0,Headset,OnePlus Bullets Wireless Bluetooth Headset,"â‚¹1,799",4,Nice product,"ðŸ‘‰Sound quality is excellent, Bass is awesome, ...",3 months ago
1,Headset,OnePlus Bullets Wireless Bluetooth Headset,"â‚¹1,799",5,Simply awesome,Excellent product. Superb bass. Worth for mone...,3 months ago
2,Headset,OnePlus Bullets Wireless Bluetooth Headset,"â‚¹1,799",5,Simply awesome,Superb product actually I wonâ€™t prefer wireles...,3 months ago
3,Headset,OnePlus Bullets Wireless Bluetooth Headset,"â‚¹1,799",5,Mind-blowing purchase,This is worth every penny you spend. I doesn't...,3 months ago
4,Headset,OnePlus Bullets Wireless Bluetooth Headset,"â‚¹1,799",5,Classy product,Wireless Bullets are first impressions are imp...,3 months ago
...,...,...,...,...,...,...,...
1145,Headset,OnePlus Bullets Wireless Bluetooth Headset,"â‚¹1,799",3,Fair,Sound quality decreased.,6 days ago
1146,Headset,OnePlus Bullets Wireless Bluetooth Headset,"â‚¹1,799",1,Useless product,quality is not good,6 days ago
1147,Headset,OnePlus Bullets Wireless Bluetooth Headset,"â‚¹1,799",5,Must buy!,Nice product,6 days ago
1148,Headset,OnePlus Bullets Wireless Bluetooth Headset,"â‚¹1,799",4,Very Good,Spr,6 days ago
1149,Headset,OnePlus Bullets Wireless Bluetooth Headset,"â‚¹1,799",1,Horrible,Disconnecting frequently on video call..,6 days ago

In [73]:
driver.get('https://www.flipkart.com/techfire-fire-500v2-neckband-hi-bass-wireless-bluetooth-headphone-headset/p/itme293721806e2c?pid=ACCG5EPZBRZDZFSZ&lid=LSTACCG5EPZBRZDZFSZY15YXG&marketplace=FLIPKART&q=headphones&store=0pm%2Ffcn%2F821%2Fa7x%2F2rv&srno=s_1_7&otracker=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&fm=search-autosuggest&iid=05c91e1b-19cc-49bf-b49e-dbc02f31931b.ACCG5EPZBRZDZFSZ.SEARCH&ppt=sp&ppn=sp&qH=edd443896ef5dbfc')
driver.find_element_by_xpath("//div[@class= '_3UAT2v _16PBlm']").click()

In [74]:
Rating=[]
Review_summary=[]
Full_review=[]
Date=[]

In [79]:
#so lets extract all the data having by using for loop
for i in range (0,100):
    for c in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        Rating.append(c.text)
    for d in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Full_review.append(d.text)
    for e in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review_summary.append(e.text)
    for f in driver.find_elements_by_xpath("//p[@class='_2sc7ZR']"):
        Date.append(f.text)
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(15)

In [81]:
#Store the data in a dataframe.    
dictionnary = {
   
   'Rating': Rating[:932], 
   'Review Summary':Review_summary[:932], 
   'Full Review':Full_review[:932],
   'Review_date':Date[:932]
}
head_set3 = pd.DataFrame(data=dictionnary) 
pr = ['Headset']*932

head_set3.insert(0,'Product',pr)
head_set3

,Product,Rating,Review Summary,Full Review,Review_date
0,Headset,5,Worth every penny,Great thanks to techfire team\nThis price rang...,4 months ago
1,Headset,5,Perfect product!,"This product is soo good product, stylish prod...",4 months ago
2,Headset,5,Best in the market!,What a terrific Neckband ðŸ˜ðŸ˜ better than I expe...,2 months ago
3,Headset,5,Just wow!,I'm giving this review after 7days and it's wo...,3 months ago
4,Headset,5,Highly recommended,"Beautiful and very good product , bass sound i...",2 months ago
...,...,...,...,...,...
927,Headset,5,Fabulous!,Good nice voice,8 days ago
928,Headset,1,Terrible product,Don't buy when musics turned off the speakers ...,2 days ago
929,Headset,5,Terrific purchase,Nice,8 days ago
930,Headset,4,Good quality product,Not bad,2 days ago
931,Headset,3,Good,not bad â›¹ï¸,2 days ago

In [82]:

p = ['â‚¹426']*932
d = ['TECHFIRE Fire Neckband  Bluetooth Headset']*932

head_set3.insert(1,'Price',p)
head_set3.insert(1, 'Brand_name', d)

head_set3

,Product,Brand_name,Price,Rating,Review Summary,Full Review,Review_date
0,Headset,TECHFIRE Fire Neckband Bluetooth Headset,â‚¹426,5,Worth every penny,Great thanks to techfire team\nThis price rang...,4 months ago
1,Headset,TECHFIRE Fire Neckband Bluetooth Headset,â‚¹426,5,Perfect product!,"This product is soo good product, stylish prod...",4 months ago
2,Headset,TECHFIRE Fire Neckband Bluetooth Headset,â‚¹426,5,Best in the market!,What a terrific Neckband ðŸ˜ðŸ˜ better than I expe...,2 months ago
3,Headset,TECHFIRE Fire Neckband Bluetooth Headset,â‚¹426,5,Just wow!,I'm giving this review after 7days and it's wo...,3 months ago
4,Headset,TECHFIRE Fire Neckband Bluetooth Headset,â‚¹426,5,Highly recommended,"Beautiful and very good product , bass sound i...",2 months ago
...,...,...,...,...,...,...,...
927,Headset,TECHFIRE Fire Neckband Bluetooth Headset,â‚¹426,5,Fabulous!,Good nice voice,8 days ago
928,Headset,TECHFIRE Fire Neckband Bluetooth Headset,â‚¹426,1,Terrible product,Don't buy when musics turned off the speakers ...,2 days ago
929,Headset,TECHFIRE Fire Neckband Bluetooth Headset,â‚¹426,5,Terrific purchase,Nice,8 days ago
930,Headset,TECHFIRE Fire Neckband Bluetooth Headset,â‚¹426,4,Good quality product,Not bad,2 days ago
931,Headset,TECHFIRE Fire Neckband Bluetooth Headset,â‚¹426,3,Good,not bad â›¹ï¸,2 days ago

### scrape the reviews of different brand of Laptop

In [105]:
driver.get('https://www.flipkart.com/hp-ryzen-3-dual-core-3250u-8-gb-256-gb-ssd-windows-11-home-15s-gy0501au-thin-light-laptop/p/itmcc3db7767aba4?pid=COMG6MVEA2PWVH3B&lid=LSTCOMG6MVEA2PWVH3BJ8QBY0&marketplace=FLIPKART&q=laptop&store=6bo%2Fb5g&srno=s_1_10&otracker=search&otracker1=search&fm=search-autosuggest&iid=516cb87b-a285-4a3d-9252-d774f10bdac5.COMG6MVEA2PWVH3B.SEARCH&ppt=pp&ppn=pp&ssid=qavzbj7a7k0000001659438090375&qH=312f91285e048e09')
driver.find_element_by_xpath("//div[@class= '_3UAT2v _16PBlm']").click()

In [106]:
Rating=[]
Review_summary=[]
Full_review=[]
Date=[]

In [114]:
#so lets extract all the data having by using for loop
for i in range (0,33):
    for c in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        Rating.append(c.text)
    for d in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Full_review.append(d.text)
    for e in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review_summary.append(e.text)
    for f in driver.find_elements_by_xpath("//p[@class='_2sc7ZR']"):
        Date.append(f.text)
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(15)

In [112]:
#Store the data in a dataframe.    
dictionnary = {
   'Rating': Rating[:330], 
   'Review Summary':Review_summary[:330], 
   'Full Review':Full_review[:330],
   'Review_date':Date[:330]
                    
}
Laptop1 = pd.DataFrame(data=dictionnary)
pr = ['Laptop']*330

Laptop1.insert(0,'Product',pr)
Laptop1

,Product,Rating,Review Summary,Full Review,Review_date
0,Laptop,4,Delightful,This is thing I want to be...It s worked suprb...,7 months ago
1,Laptop,5,Perfect product!,It's a very good choice in this price range .n...,6 months ago
2,Laptop,5,Simply awesome,I writing review for this product after same d...,7 months ago
3,Laptop,5,Super!,Such a nice laptop. In my opinion it's the bes...,7 months ago
4,Laptop,1,Worthless,"It's not good for any work , performance is ve...",6 months ago
...,...,...,...,...,...
325,Laptop,5,Wonderful,Good,7 months ago
326,Laptop,5,Wonderful,Nice performing laptop in midrange ..go for it,7 months ago
327,Laptop,4,Really Nice,Good and quality,7 months ago
328,Laptop,4,Nice product,ok,7 months ago
329,Laptop,5,Terrific purchase,Worth it,7 months ago

In [113]:
p = ['â‚¹31,990']*330
d = ['HP Ryzen 3 Dual Core 3250U Laptop']*330

Laptop1 .insert(1,'Price',p)
Laptop1.insert(1, 'Brand_name', d)

Laptop1

,Product,Brand_name,Price,Rating,Review Summary,Full Review,Review_date
0,Laptop,HP Ryzen 3 Dual Core 3250U Laptop,"â‚¹31,990",4,Delightful,This is thing I want to be...It s worked suprb...,7 months ago
1,Laptop,HP Ryzen 3 Dual Core 3250U Laptop,"â‚¹31,990",5,Perfect product!,It's a very good choice in this price range .n...,6 months ago
2,Laptop,HP Ryzen 3 Dual Core 3250U Laptop,"â‚¹31,990",5,Simply awesome,I writing review for this product after same d...,7 months ago
3,Laptop,HP Ryzen 3 Dual Core 3250U Laptop,"â‚¹31,990",5,Super!,Such a nice laptop. In my opinion it's the bes...,7 months ago
4,Laptop,HP Ryzen 3 Dual Core 3250U Laptop,"â‚¹31,990",1,Worthless,"It's not good for any work , performance is ve...",6 months ago
...,...,...,...,...,...,...,...
325,Laptop,HP Ryzen 3 Dual Core 3250U Laptop,"â‚¹31,990",5,Wonderful,Good,7 months ago
326,Laptop,HP Ryzen 3 Dual Core 3250U Laptop,"â‚¹31,990",5,Wonderful,Nice performing laptop in midrange ..go for it,7 months ago
327,Laptop,HP Ryzen 3 Dual Core 3250U Laptop,"â‚¹31,990",4,Really Nice,Good and quality,7 months ago
328,Laptop,HP Ryzen 3 Dual Core 3250U Laptop,"â‚¹31,990",4,Nice product,ok,7 months ago
329,Laptop,HP Ryzen 3 Dual Core 3250U Laptop,"â‚¹31,990",5,Terrific purchase,Worth it,7 months ago

In [115]:
driver.get('https://www.flipkart.com/asus-vivobook-15-2022-core-i3-10th-gen-8-gb-512-gb-ssd-windows-11-home-x515ja-bq322ws-thin-light-laptop/p/itm6bb4edeb57b75?pid=COMGB6DZBWCDEXXA&lid=LSTCOMGB6DZBWCDEXXAMHCEBC&marketplace=FLIPKART&q=laptop&store=6bo%2Fb5g&srno=s_1_14&otracker=search&otracker1=search&fm=search-autosuggest&iid=516cb87b-a285-4a3d-9252-d774f10bdac5.COMGB6DZBWCDEXXA.SEARCH&ppt=pp&ppn=pp&ssid=qavzbj7a7k0000001659438090375&qH=312f91285e048e09')
driver.find_element_by_xpath("//div[@class= '_3UAT2v _16PBlm']").click()

In [116]:
Rating=[]
Review_summary=[]
Full_review=[]
Date=[]

In [117]:
#so lets extract all the data having by using for loop
for i in range (0,25):
    for c in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        Rating.append(c.text)
    for d in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Full_review.append(d.text)
    for e in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review_summary.append(e.text)
    for f in driver.find_elements_by_xpath("//p[@class='_2sc7ZR']"):
        Date.append(f.text)
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(15)

In [119]:
#Store the data in a dataframe.    
dictionnary = {
   'Rating': Rating[:250], 
   'Review Summary':Review_summary[:250], 
   'Full Review':Full_review[:250],
   'Review_date':Date[:250]
}
Laptop2 = pd.DataFrame(data=dictionnary)
pr = ['Laptop']*250

Laptop2.insert(0,'Product',pr)
Laptop2

,Product,Rating,Review Summary,Full Review,Review_date
0,Laptop,4,Good choice,Day2\nPros\nDesign looks good\nPerformance til...,5 months ago
1,Laptop,5,Classy product,Very good for usage after 1 month it is good a...,6 months ago
2,Laptop,2,Moderate,If you can affort few thousands extra you can ...,6 months ago
3,Laptop,4,Good choice,Highly recommended for students and other prof...,6 months ago
4,Laptop,4,Nice product,Writing this after using Vivobook 15 for 3 day...,1 month ago
...,...,...,...,...,...
245,Laptop,4,Really Nice,Awesome product ðŸ™‚,5 months ago
246,Laptop,5,Excellent,Camera quality and sound quality is very poor ...,5 months ago
247,Laptop,4,Really Nice,512 GB SSD IN THIS RANGE EXCELLENT.,5 months ago
248,Laptop,5,Terrific purchase,Excellent,5 months ago
249,Laptop,3,Just okay,Basic usage,6 months ago

In [120]:

p = ['â‚¹32,990']*250
d = ['ASUS VivoBook 15 (2022) Core i3 10th Gen Laptop']*250

Laptop2.insert(1,'Price',p)
Laptop2.insert(1, 'Brand_name', d)

Laptop2

,Product,Brand_name,Price,Rating,Review Summary,Full Review,Review_date
0,Laptop,ASUS VivoBook 15 (2022) Core i3 10th Gen Laptop,"â‚¹32,990",4,Good choice,Day2\nPros\nDesign looks good\nPerformance til...,5 months ago
1,Laptop,ASUS VivoBook 15 (2022) Core i3 10th Gen Laptop,"â‚¹32,990",5,Classy product,Very good for usage after 1 month it is good a...,6 months ago
2,Laptop,ASUS VivoBook 15 (2022) Core i3 10th Gen Laptop,"â‚¹32,990",2,Moderate,If you can affort few thousands extra you can ...,6 months ago
3,Laptop,ASUS VivoBook 15 (2022) Core i3 10th Gen Laptop,"â‚¹32,990",4,Good choice,Highly recommended for students and other prof...,6 months ago
4,Laptop,ASUS VivoBook 15 (2022) Core i3 10th Gen Laptop,"â‚¹32,990",4,Nice product,Writing this after using Vivobook 15 for 3 day...,1 month ago
...,...,...,...,...,...,...,...
245,Laptop,ASUS VivoBook 15 (2022) Core i3 10th Gen Laptop,"â‚¹32,990",4,Really Nice,Awesome product ðŸ™‚,5 months ago
246,Laptop,ASUS VivoBook 15 (2022) Core i3 10th Gen Laptop,"â‚¹32,990",5,Excellent,Camera quality and sound quality is very poor ...,5 months ago
247,Laptop,ASUS VivoBook 15 (2022) Core i3 10th Gen Laptop,"â‚¹32,990",4,Really Nice,512 GB SSD IN THIS RANGE EXCELLENT.,5 months ago
248,Laptop,ASUS VivoBook 15 (2022) Core i3 10th Gen Laptop,"â‚¹32,990",5,Terrific purchase,Excellent,5 months ago
249,Laptop,ASUS VivoBook 15 (2022) Core i3 10th Gen Laptop,"â‚¹32,990",3,Just okay,Basic usage,6 months ago

In [135]:
driver.get('https://www.flipkart.com/infinix-inbook-x1-core-i3-10th-gen-8-gb-256-gb-ssd-windows-11-home-xl11-thin-light-laptop/p/itmc853735b3bcae?pid=COMG8Z3HYTJZFF2Z&lid=LSTCOMG8Z3HYTJZFF2ZTYHG57&marketplace=FLIPKART&q=laptop&store=6bo%2Fb5g&srno=s_7_151&otracker=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&fm=search-autosuggest&iid=30371e4e-d0d5-41a5-aead-7b201f492d2b.COMG8Z3HYTJZFF2Z.SEARCH&ppt=sp&ppn=sp&ssid=pmv7unnu2o0000001659899514392&qH=312f91285e048e09')
driver.find_element_by_xpath("//div[@class= '_3UAT2v _16PBlm']").click()

In [136]:
Rating=[]
Review_summary=[]
Full_review=[]
Date=[]

In [137]:
#so lets extract all the data having by using for loop
for i in range (0,50):
    for c in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        Rating.append(c.text)
    for d in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Full_review.append(d.text)
    for e in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review_summary.append(e.text)
    for f in driver.find_elements_by_xpath("//p[@class='_2sc7ZR']"):
        Date.append(f.text)
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(15)

In [139]:
#Store the data in a dataframe.    
dictionnary = {
   'Rating': Rating[:500], 
   'Review Summary':Review_summary[:500], 
   'Full Review':Full_review[:500],
   'Review_date':Date[:500]
}
Laptop3 = pd.DataFrame(data=dictionnary)
pr = ['Laptop']*500

Laptop3.insert(0,'Product',pr)
Laptop3

,Product,Rating,Review Summary,Full Review,Review_date
0,Laptop,5,Best in the market!,"No other laptops can't beat this, at this pric...",7 months ago
1,Laptop,5,Perfect product!,First of all the design is superb. Its compact...,7 months ago
2,Laptop,5,Classy product,"Just Brilliant â™¥ï¸, no match at 33k highly reco...",4 months ago
3,Laptop,5,Best in the market!,1.First Flipkart Love it â¤ï¸ Very Fast Delivery...,7 months ago
4,Laptop,4,Very Good,The design and build quality seems premium. Th...,7 months ago
...,...,...,...,...,...
495,Laptop,5,Brilliant,Best laptop in this price....,3 months ago
496,Laptop,5,Super!,I recieved it on 8 Fab and from that to until ...,4 months ago
497,Laptop,2,Slightly disappointed,I am totally unsatisfied taking this product. ...,6 months ago
498,Laptop,1,Don't waste your money,Excellent ðŸ‘,2 months ago
499,Laptop,1,Don't waste your money,After 1 week hard disk was not detecting worst...,2 months ago

In [140]:

p = ['â‚¹29,990']*500
d = ['Infinix INBook X1 Core i3 Laptop ']*500

Laptop3.insert(1,'Price',p)
Laptop3.insert(1, 'Brand_name', d)

Laptop3

,Product,Brand_name,Price,Rating,Review Summary,Full Review,Review_date
0,Laptop,Infinix INBook X1 Core i3 Laptop,"â‚¹29,990",5,Best in the market!,"No other laptops can't beat this, at this pric...",7 months ago
1,Laptop,Infinix INBook X1 Core i3 Laptop,"â‚¹29,990",5,Perfect product!,First of all the design is superb. Its compact...,7 months ago
2,Laptop,Infinix INBook X1 Core i3 Laptop,"â‚¹29,990",5,Classy product,"Just Brilliant â™¥ï¸, no match at 33k highly reco...",4 months ago
3,Laptop,Infinix INBook X1 Core i3 Laptop,"â‚¹29,990",5,Best in the market!,1.First Flipkart Love it â¤ï¸ Very Fast Delivery...,7 months ago
4,Laptop,Infinix INBook X1 Core i3 Laptop,"â‚¹29,990",4,Very Good,The design and build quality seems premium. Th...,7 months ago
...,...,...,...,...,...,...,...
495,Laptop,Infinix INBook X1 Core i3 Laptop,"â‚¹29,990",5,Brilliant,Best laptop in this price....,3 months ago
496,Laptop,Infinix INBook X1 Core i3 Laptop,"â‚¹29,990",5,Super!,I recieved it on 8 Fab and from that to until ...,4 months ago
497,Laptop,Infinix INBook X1 Core i3 Laptop,"â‚¹29,990",2,Slightly disappointed,I am totally unsatisfied taking this product. ...,6 months ago
498,Laptop,Infinix INBook X1 Core i3 Laptop,"â‚¹29,990",1,Don't waste your money,Excellent ðŸ‘,2 months ago
499,Laptop,Infinix INBook X1 Core i3 Laptop,"â‚¹29,990",1,Don't waste your money,After 1 week hard disk was not detecting worst...,2 months ago

### scrape the reviews of different brand of smart watches

In [122]:
driver.get('https://www.flipkart.com/noise-colorfit-qube-spo2-smartwatch/p/itm2d9dc41a02202?pid=SMWG6RB5FX7RXWZ8&lid=LSTSMWG6RB5FX7RXWZ8MROVKI&marketplace=FLIPKART&q=smart+watches&store=ajy%2Fbuh&srno=s_1_4&otracker=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&fm=search-autosuggest&iid=a972fe5b-4f79-4bfd-a0f3-b1381b63364c.SMWG6RB5FX7RXWZ8.SEARCH&ppt=sp&ppn=sp&ssid=547hcd2dzk0000001659454820560&qH=87968ec020b2016b')
driver.find_element_by_xpath("//div[@class= '_3UAT2v _16PBlm']").click()

In [123]:
Rating=[]
Review_summary=[]
Full_review=[]
Date=[]

In [129]:
#so lets extract all the data having by using for loop
for i in range (0,130):
    for c in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        Rating.append(c.text)
    for d in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Full_review.append(d.text)
    for e in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review_summary.append(e.text)
    for f in driver.find_elements_by_xpath("//p[@class='_2sc7ZR']"):
        Date.append(f.text)
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(15)

In [132]:
#Store the data in a dataframe.    
dictionnary = {
   'Rating': Rating[:1260], 
   'Review Summary':Review_summary[:1260], 
   'Full Review':Full_review[:1260],
   'Review_date':Date[:1260]
}
watch1 = pd.DataFrame(data=dictionnary)
pr = ['Watch']*1260

watch1.insert(0,'Product',pr)
watch1

,Product,Rating,Review Summary,Full Review,Review_date
0,Watch,5,Fabulous!,This fit band is so good and so adjustable lik...,4 months ago
1,Watch,4,Wonderful,Good value for money everything is good only o...,9 months ago
2,Watch,4,Pretty good,"Worth for money, Stylish + classy + good quality",9 months ago
3,Watch,3,Good,Its my first experience on smart watch. I am j...,10 months ago
4,Watch,3,Fair,I was pretty much diassapointed with this prod...,9 months ago
...,...,...,...,...,...
1255,Watch,4,Really Nice,Very nice ðŸ‘,2 months ago
1256,Watch,5,Highly recommended,Nice,2 months ago
1257,Watch,5,Super!,Good warking,2 months ago
1258,Watch,5,Terrific,"Loved it ,ðŸ˜ðŸ˜",2 months ago
1259,Watch,5,Mind-blowing purchase,Nice product ðŸ‘,2 months ago

In [134]:

p = ['â‚¹1,499']*1260
d = ['Noise ColorFit Qube SpO2 Smartwatch']*1260

watch1.insert(1,'Price',p)
watch1.insert(1, 'Brand_name', d)
watch1

,Product,Brand_name,Price,Rating,Review Summary,Full Review,Review_date
0,Watch,Noise ColorFit Qube SpO2 Smartwatch,"â‚¹1,499",5,Fabulous!,This fit band is so good and so adjustable lik...,4 months ago
1,Watch,Noise ColorFit Qube SpO2 Smartwatch,"â‚¹1,499",4,Wonderful,Good value for money everything is good only o...,9 months ago
2,Watch,Noise ColorFit Qube SpO2 Smartwatch,"â‚¹1,499",4,Pretty good,"Worth for money, Stylish + classy + good quality",9 months ago
3,Watch,Noise ColorFit Qube SpO2 Smartwatch,"â‚¹1,499",3,Good,Its my first experience on smart watch. I am j...,10 months ago
4,Watch,Noise ColorFit Qube SpO2 Smartwatch,"â‚¹1,499",3,Fair,I was pretty much diassapointed with this prod...,9 months ago
...,...,...,...,...,...,...,...
1255,Watch,Noise ColorFit Qube SpO2 Smartwatch,"â‚¹1,499",4,Really Nice,Very nice ðŸ‘,2 months ago
1256,Watch,Noise ColorFit Qube SpO2 Smartwatch,"â‚¹1,499",5,Highly recommended,Nice,2 months ago
1257,Watch,Noise ColorFit Qube SpO2 Smartwatch,"â‚¹1,499",5,Super!,Good warking,2 months ago
1258,Watch,Noise ColorFit Qube SpO2 Smartwatch,"â‚¹1,499",5,Terrific,"Loved it ,ðŸ˜ðŸ˜",2 months ago
1259,Watch,Noise ColorFit Qube SpO2 Smartwatch,"â‚¹1,499",5,Mind-blowing purchase,Nice product ðŸ‘,2 months ago

In [5]:
driver.get('https://www.flipkart.com/txor-storm-m5-35mm-screen-spo2-bp-monitor-smartwatch/p/itmdc249233324d3?pid=SMWFZR2PMHK6VSUM&lid=LSTSMWFZR2PMHK6VSUM8OFIMH&marketplace=FLIPKART&q=smart+watches&store=ajy%2Fbuh&srno=s_1_1&otracker=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&fm=search-autosuggest&iid=en_0w56y9RfFNYKTg11RoPm859ahw73W1wIrO%2BZiY2W28AATEWVrVJivqwZ%2FM7VdgLbOY248cRRk%2BkyYbNQeF8XZg%3D%3D&ppt=sp&ppn=sp&ssid=547hcd2dzk0000001659454820560&qH=87968ec020b2016b')
driver.find_element_by_xpath("//div[@class= '_3UAT2v _16PBlm']").click()

In [6]:
Rating=[]
Review_summary=[]
Full_review=[]
Date=[]

In [10]:
#so lets extract all the data having by using for loop
for i in range (0,50):
    for c in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        Rating.append(c.text)
    for d in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Full_review.append(d.text)
    for e in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review_summary.append(e.text)
    for f in driver.find_elements_by_xpath("//p[@class='_2sc7ZR']"):
        Date.append(f.text)
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(15)

In [12]:
#Store the data in a dataframe.    
dictionnary = {
   'Rating': Rating[:1500], 
   'Review Summary':Review_summary[:1500], 
   'Full Review':Full_review[:1500],
   'Review_date':Date[:1500]
}
Watch2 = pd.DataFrame(data=dictionnary)
pr = ['Watch']*1500

Watch2.insert(0,'Product',pr)
Watch2

,Product,Rating,Review Summary,Full Review,Review_date
0,Watch,5,Excellent,"Awesome Watch , More better than I ve expected...",11 months ago
1,Watch,5,Mind-blowing purchase,Averagely Good for middle class families and D...,6 months ago
2,Watch,5,Awesome,It's charging time Is not good If you will use...,7 months ago
3,Watch,5,Awesome,This is tha amazing smartwatch I loved it beca...,5 months ago
4,Watch,5,Super!,Absolutely Delighted to have a watch like this...,4 months ago
...,...,...,...,...,...
1495,Watch,5,Wonderful,Good,5 months ago
1496,Watch,1,Horrible,Bad,5 months ago
1497,Watch,3,Good,Battery fully charges after that weak fast and...,5 months ago
1498,Watch,4,Good quality product,Bast.,5 months ago
1499,Watch,1,Very poor,Very poor,5 months ago

In [13]:
p = ['â‚¹629']*1500
d = ['TXOR Storm M5 Smartwatch ']*1500

Watch2.insert(1,'Price',p)
Watch2.insert(1, 'Brand_name', d)

Watch2

,Product,Brand_name,Price,Rating,Review Summary,Full Review,Review_date
0,Watch,TXOR Storm M5 Smartwatch,â‚¹629,5,Excellent,"Awesome Watch , More better than I ve expected...",11 months ago
1,Watch,TXOR Storm M5 Smartwatch,â‚¹629,5,Mind-blowing purchase,Averagely Good for middle class families and D...,6 months ago
2,Watch,TXOR Storm M5 Smartwatch,â‚¹629,5,Awesome,It's charging time Is not good If you will use...,7 months ago
3,Watch,TXOR Storm M5 Smartwatch,â‚¹629,5,Awesome,This is tha amazing smartwatch I loved it beca...,5 months ago
4,Watch,TXOR Storm M5 Smartwatch,â‚¹629,5,Super!,Absolutely Delighted to have a watch like this...,4 months ago
...,...,...,...,...,...,...,...
1495,Watch,TXOR Storm M5 Smartwatch,â‚¹629,5,Wonderful,Good,5 months ago
1496,Watch,TXOR Storm M5 Smartwatch,â‚¹629,1,Horrible,Bad,5 months ago
1497,Watch,TXOR Storm M5 Smartwatch,â‚¹629,3,Good,Battery fully charges after that weak fast and...,5 months ago
1498,Watch,TXOR Storm M5 Smartwatch,â‚¹629,4,Good quality product,Bast.,5 months ago
1499,Watch,TXOR Storm M5 Smartwatch,â‚¹629,1,Very poor,Very poor,5 months ago

In [ ]:
# combining all the dataframes
vertical_stack1 = pd.concat([phone1,phone2,phone3,head_set1,head_set2,head_set3,Laptop1,Laptop2,Laptop3,watch1,watch2,watch3], axis=0)

In [149]:
# combining all the dataframes
df1 = pd.concat([phone2,phone3,head_set1,head_set2,head_set3,Laptop1,Laptop2,Laptop3,watch1], axis=0)

In [150]:
df1

,Product,Brand_name,Price,Rating,Review Summary,Full Review,Review_date
0,Phone,SAMSUNG Galaxy F13,"â‚¹11,999",3,Fair,"This mobile is purely for normal use, I don't ...",1 month ago
1,Phone,SAMSUNG Galaxy F13,"â‚¹11,999",4,Nice product,"I am using this Phone since last 7 days , Feel...",18 days ago
2,Phone,SAMSUNG Galaxy F13,"â‚¹11,999",5,Mind-blowing purchase,ðŸŒŸIts a great day to day usage phoneðŸŒŸ\nBest bud...,1 month ago
3,Phone,SAMSUNG Galaxy F13,"â‚¹11,999",5,Terrific purchase,Very good budget branded Phone.\nNot suitable ...,10 days ago
4,Phone,SAMSUNG Galaxy F13,"â‚¹11,999",5,Mind-blowing purchase,Vale for money ðŸ’°,14 days ago
...,...,...,...,...,...,...,...
1255,Watch,Noise ColorFit Qube SpO2 Smartwatch,"â‚¹1,499",4,Really Nice,Very nice ðŸ‘,2 months ago
1256,Watch,Noise ColorFit Qube SpO2 Smartwatch,"â‚¹1,499",5,Highly recommended,Nice,2 months ago
1257,Watch,Noise ColorFit Qube SpO2 Smartwatch,"â‚¹1,499",5,Super!,Good warking,2 months ago
1258,Watch,Noise ColorFit Qube SpO2 Smartwatch,"â‚¹1,499",5,Terrific,"Loved it ,ðŸ˜ðŸ˜",2 months ago
1259,Watch,Noise ColorFit Qube SpO2 Smartwatch,"â‚¹1,499",5,Mind-blowing purchase,Nice product ðŸ‘,2 months ago

In [151]:
df1.to_csv('RATING_products01_dt.csv')

### scrape the reviews of different brand of Wall clock

In [14]:
driver.get('https://www.flipkart.com/ajanta-analog-26-5-cm-x-wall-clock/p/itmf63e3kkds6dva?pid=WCKF63E3GGG8FGGB&lid=LSTWCKF63E3GGG8FGGBBFLWNR&marketplace=FLIPKART&q=clock&store=arb%2Fkjw%2Fbm1&srno=s_1_6&otracker=AS_QueryStore_OrganicAutoSuggest_3_2_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_3_2_na_na_na&fm=search-autosuggest&iid=bc262b7e-b4c3-43e9-a216-983a8a164c73.WCKF63E3GGG8FGGB.SEARCH&ppt=sp&ppn=sp&ssid=d9qie90y8g0000001659455829191&qH=05531b19bb846b18')
driver.find_element_by_xpath("//div[@class= '_3UAT2v _16PBlm']").click()

In [15]:
Rating=[]
Review_summary=[]
Full_review=[]
Date=[]

In [16]:
#so lets extract all the data having by using for loop
for i in range (0,120):
    for c in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        Rating.append(c.text)
    for d in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Full_review.append(d.text)
    for e in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review_summary.append(e.text)
    for f in driver.find_elements_by_xpath("//p[@class='_2sc7ZR']"):
        Date.append(f.text)
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(15)

In [18]:
#Store the data in a dataframe.    
dictionnary = {
   'Rating': Rating[:1200], 
   'Review Summary':Review_summary[:1200], 
   'Full Review':Full_review[:1200],
   'Review_date':Date[:1200]
}
clock1 = pd.DataFrame(data=dictionnary)
pr = ['Clock']*1200

clock1.insert(0,'Product',pr)
clock1

,Product,Rating,Review Summary,Full Review,Review_date
0,Clock,5,Terrific,Thanks to everyone who made this beautiful wat...,"Dec, 2020"
1,Clock,5,Terrific,"excellent clock, best brand and battery given ...","Feb, 2019"
2,Clock,5,Simply awesome,Good and decent clock...\nVery good packaging ...,"Mar, 2019"
3,Clock,5,Super!,It's a very good wall clock... actually it's m...,"Dec, 2019"
4,Clock,5,Mind-blowing purchase,Clock is good Packaging was great worth the mo...,"Mar, 2020"
...,...,...,...,...,...
1195,Clock,4,Good quality product,Super,5 months ago
1196,Clock,4,Good quality product,According to price nice product,5 months ago
1197,Clock,5,Mind-blowing purchase,Nice,5 months ago
1198,Clock,5,Simply awesome,Very good product and low price,5 months ago
1199,Clock,5,Awesome,Nice,5 months ago

In [19]:
p = ['â‚¹264']*1200
d = ['AJANTA Analog Wall Clock']*1200

clock1.insert(1,'Price',p)
clock1.insert(1, 'Brand_name', d)

clock1

,Product,Brand_name,Price,Rating,Review Summary,Full Review,Review_date
0,Clock,AJANTA Analog Wall Clock,â‚¹264,5,Terrific,Thanks to everyone who made this beautiful wat...,"Dec, 2020"
1,Clock,AJANTA Analog Wall Clock,â‚¹264,5,Terrific,"excellent clock, best brand and battery given ...","Feb, 2019"
2,Clock,AJANTA Analog Wall Clock,â‚¹264,5,Simply awesome,Good and decent clock...\nVery good packaging ...,"Mar, 2019"
3,Clock,AJANTA Analog Wall Clock,â‚¹264,5,Super!,It's a very good wall clock... actually it's m...,"Dec, 2019"
4,Clock,AJANTA Analog Wall Clock,â‚¹264,5,Mind-blowing purchase,Clock is good Packaging was great worth the mo...,"Mar, 2020"
...,...,...,...,...,...,...,...
1195,Clock,AJANTA Analog Wall Clock,â‚¹264,4,Good quality product,Super,5 months ago
1196,Clock,AJANTA Analog Wall Clock,â‚¹264,4,Good quality product,According to price nice product,5 months ago
1197,Clock,AJANTA Analog Wall Clock,â‚¹264,5,Mind-blowing purchase,Nice,5 months ago
1198,Clock,AJANTA Analog Wall Clock,â‚¹264,5,Simply awesome,Very good product and low price,5 months ago
1199,Clock,AJANTA Analog Wall Clock,â‚¹264,5,Awesome,Nice,5 months ago

In [20]:
driver.get('https://www.flipkart.com/kadio-analog-20-cm-x-wall-clock/p/itma4bede8bbe955?pid=WCKFHQHNZ6TNH3ZN&lid=LSTWCKFHQHNZ6TNH3ZNE7EDMI&marketplace=FLIPKART&q=clock&store=arb%2Fkjw%2Fbm1&spotlightTagId=BestsellerId_arb%2Fkjw%2Fbm1&srno=s_1_3&otracker=AS_QueryStore_OrganicAutoSuggest_3_2_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_3_2_na_na_na&fm=search-autosuggest&iid=bc262b7e-b4c3-43e9-a216-983a8a164c73.WCKFHQHNZ6TNH3ZN.SEARCH&ppt=sp&ppn=sp&ssid=d9qie90y8g0000001659455829191&qH=05531b19bb846b18')
driver.find_element_by_xpath("//div[@class= '_3UAT2v _16PBlm']").click()

In [21]:
Rating=[]
Review_summary=[]
Full_review=[]
Date=[]

In [27]:
#so lets extract all the data having by using for loop
for i in range (0,155):
    for c in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        Rating.append(c.text)
    for d in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Full_review.append(d.text)
    for e in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review_summary.append(e.text)
    for f in driver.find_elements_by_xpath("//p[@class='_2sc7ZR']"):
        Date.append(f.text)
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(15)

In [28]:
len(Rating),len(Review_summary),len(Full_review)

(1570, 1570, 1570)

In [29]:
#Store the data in a dataframe.    
dictionnary = {
   'Rating': Rating[:1570], 
   'Review Summary':Review_summary[:1570], 
   'Full Review':Full_review[:1570],
   'Review_date':Date[:1570]
}
clock2 = pd.DataFrame(data=dictionnary)
pr = ['Clock']*1570

clock2.insert(0,'Product',pr)
clock2

,Product,Rating,Review Summary,Full Review,Review_date
0,Clock,5,Best in the market!,its really good product love it ðŸ˜ðŸ˜ðŸ˜ðŸ˜ service a...,"Dec, 2019"
1,Clock,5,Terrific purchase,Wow nice watch nice looking nice colour perfec...,4 months ago
2,Clock,5,Highly recommended,Nice item so I am very happy very fast deliver...,"Mar, 2020"
3,Clock,5,Simply awesome,I liked it's shape and rich look.. little bit ...,8 months ago
4,Clock,4,Very Good,Very good product. Fast delivery. Nice packing...,"Jul, 2020"
...,...,...,...,...,...
1565,Clock,5,Terrific purchase,Good product,"Jul, 2021"
1566,Clock,1,Worthless,Stopped working within a week.,"Jul, 2021"
1567,Clock,5,Best in the market!,Nic,"Jul, 2021"
1568,Clock,3,Decent product,Very small,"Jul, 2021"
1569,Clock,1,Hated it!,Its Very small size not happy,"Jul, 2021"

In [30]:
p = ['â‚¹199']*1570
d = ['Kadio Analog Wall Clock']*1570

clock2.insert(1,'Price',p)
clock2.insert(1, 'Brand_name', d)
clock2

,Product,Brand_name,Price,Rating,Review Summary,Full Review,Review_date
0,Clock,Kadio Analog Wall Clock,â‚¹199,5,Best in the market!,its really good product love it ðŸ˜ðŸ˜ðŸ˜ðŸ˜ service a...,"Dec, 2019"
1,Clock,Kadio Analog Wall Clock,â‚¹199,5,Terrific purchase,Wow nice watch nice looking nice colour perfec...,4 months ago
2,Clock,Kadio Analog Wall Clock,â‚¹199,5,Highly recommended,Nice item so I am very happy very fast deliver...,"Mar, 2020"
3,Clock,Kadio Analog Wall Clock,â‚¹199,5,Simply awesome,I liked it's shape and rich look.. little bit ...,8 months ago
4,Clock,Kadio Analog Wall Clock,â‚¹199,4,Very Good,Very good product. Fast delivery. Nice packing...,"Jul, 2020"
...,...,...,...,...,...,...,...
1565,Clock,Kadio Analog Wall Clock,â‚¹199,5,Terrific purchase,Good product,"Jul, 2021"
1566,Clock,Kadio Analog Wall Clock,â‚¹199,1,Worthless,Stopped working within a week.,"Jul, 2021"
1567,Clock,Kadio Analog Wall Clock,â‚¹199,5,Best in the market!,Nic,"Jul, 2021"
1568,Clock,Kadio Analog Wall Clock,â‚¹199,3,Decent product,Very small,"Jul, 2021"
1569,Clock,Kadio Analog Wall Clock,â‚¹199,1,Hated it!,Its Very small size not happy,"Jul, 2021"

### scrape the reviews of different brand of home theator

In [31]:
driver.get('https://www.flipkart.com/zebronics-bt4440-rucf-60-watt-bluetooth-home-theatre/p/itmea25dnhzbhswb?pid=ACCEA25DZGJUCYYH&lid=LSTACCEA25DZGJUCYYHQ2GZPA&marketplace=FLIPKART&q=home+theater&store=0pm%2F0o7&srno=s_1_3&otracker=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&fm=search-autosuggest&iid=02583f63-9043-41f3-b08e-57c126da7e3b.ACCEA25DZGJUCYYH.SEARCH&ppt=sp&ppn=sp&ssid=wtyugtxidc0000001659456200237&qH=6c9da984e847c7b6')
driver.find_element_by_xpath("//div[@class= '_3UAT2v _16PBlm']").click()

In [32]:
Rating=[]
Review_summary=[]
Full_review=[]
Date=[]

In [33]:
#so lets extract all the data having by using for loop
for i in range (0,120):
    for c in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        Rating.append(c.text)
    for d in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Full_review.append(d.text)
    for e in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review_summary.append(e.text)
    for f in driver.find_elements_by_xpath("//p[@class='_2sc7ZR']"):
        Date.append(f.text)
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(15)

In [34]:
len(Rating),len(Review_summary),len(Full_review)

(1200, 1200, 1200)

In [37]:
#Store the data in a dataframe.    
dictionnary = {
   'Rating': Rating[:1200], 
   'Review Summary':Review_summary[:1200], 
   'Full Review':Full_review[:1200],
   'Review_date':Date[:1200]
}
Theatre1 = pd.DataFrame(data=dictionnary)
pr = ['Home Theatre']*1200

Theatre1.insert(0,'Product',pr)
Theatre1

,Product,Rating,Review Summary,Full Review,Review_date
0,Home Theatre,5,Awesome,the best product in low price osm the sound qu...,"Sep, 2019"
1,Home Theatre,5,Fabulous!,Very nice quality of sound and Bass. Mere tara...,"Jun, 2020"
2,Home Theatre,5,Mind-blowing purchase,excellent product it's wark super just go this...,"Jun, 2019"
3,Home Theatre,4,Very Good,yes the speakers are very cool and of good qua...,"May, 2020"
4,Home Theatre,4,Delightful,These are the best and the most affordable hom...,"Jul, 2019"
...,...,...,...,...,...
1195,Home Theatre,5,Worth every penny,Nice,6 months ago
1196,Home Theatre,5,Classy product,Good quality,6 months ago
1197,Home Theatre,5,Must buy!,VeryðŸ‘ðŸ‘ðŸ‘ðŸ‘ðŸ‘ nice sounds,6 months ago
1198,Home Theatre,4,Delightful,Nice one can go for it,6 months ago
1199,Home Theatre,5,Super!,So beautiful,6 months ago

In [38]:
p = ['â‚¹2,499']*1200
d = ['ZEBRONICS BT4440 RUCF Home Theatre']*1200

Theatre1.insert(1,'Price',p)
Theatre1.insert(1, 'Brand_name',d)

Theatre1

,Product,Brand_name,Price,Rating,Review Summary,Full Review,Review_date
0,Home Theatre,ZEBRONICS BT4440 RUCF Home Theatre,"â‚¹2,499",5,Awesome,the best product in low price osm the sound qu...,"Sep, 2019"
1,Home Theatre,ZEBRONICS BT4440 RUCF Home Theatre,"â‚¹2,499",5,Fabulous!,Very nice quality of sound and Bass. Mere tara...,"Jun, 2020"
2,Home Theatre,ZEBRONICS BT4440 RUCF Home Theatre,"â‚¹2,499",5,Mind-blowing purchase,excellent product it's wark super just go this...,"Jun, 2019"
3,Home Theatre,ZEBRONICS BT4440 RUCF Home Theatre,"â‚¹2,499",4,Very Good,yes the speakers are very cool and of good qua...,"May, 2020"
4,Home Theatre,ZEBRONICS BT4440 RUCF Home Theatre,"â‚¹2,499",4,Delightful,These are the best and the most affordable hom...,"Jul, 2019"
...,...,...,...,...,...,...,...
1195,Home Theatre,ZEBRONICS BT4440 RUCF Home Theatre,"â‚¹2,499",5,Worth every penny,Nice,6 months ago
1196,Home Theatre,ZEBRONICS BT4440 RUCF Home Theatre,"â‚¹2,499",5,Classy product,Good quality,6 months ago
1197,Home Theatre,ZEBRONICS BT4440 RUCF Home Theatre,"â‚¹2,499",5,Must buy!,VeryðŸ‘ðŸ‘ðŸ‘ðŸ‘ðŸ‘ nice sounds,6 months ago
1198,Home Theatre,ZEBRONICS BT4440 RUCF Home Theatre,"â‚¹2,499",4,Delightful,Nice one can go for it,6 months ago
1199,Home Theatre,ZEBRONICS BT4440 RUCF Home Theatre,"â‚¹2,499",5,Super!,So beautiful,6 months ago

In [39]:
driver.get('https://www.flipkart.com/intex-it-2616-bt-55-w-bluetooth-home-theatre/p/itm1338b5084a829?pid=ACCFNMEYJNHSNCWN&lid=LSTACCFNMEYJNHSNCWNXWFCRW&marketplace=FLIPKART&q=home+theater&store=0pm%2F0o7&srno=s_1_2&otracker=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&fm=search-autosuggest&iid=02583f63-9043-41f3-b08e-57c126da7e3b.ACCFNMEYJNHSNCWN.SEARCH&ppt=sp&ppn=sp&ssid=wtyugtxidc0000001659456200237&qH=6c9da984e847c7b6')
driver.find_element_by_xpath("//div[@class= '_3UAT2v _16PBlm']").click()

In [40]:
Rating=[]
Review_summary=[]
Full_review=[]
Date=[]

In [43]:
#so lets extract all the data having by using for loop
for i in range (0,130):
    for c in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        Rating.append(c.text)
    for d in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Full_review.append(d.text)
    for e in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review_summary.append(e.text)
    for f in driver.find_elements_by_xpath("//p[@class='_2sc7ZR']"):
        Date.append(f.text)
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(15)

In [44]:
len(Rating),len(Review_summary),len(Full_review)

(1320, 1320, 1320)

In [45]:
#Store the data in a dataframe.    
dictionnary = {
   'Rating': Rating[:1320], 
   'Review Summary':Review_summary[:1320], 
   'Full Review':Full_review[:1320],
   'Review_date':Date[:1320]
}
Theatre2 = pd.DataFrame(data=dictionnary)
pr = ['Home Theatre']*1320

Theatre2.insert(0,'Product',pr)
Theatre2

,Product,Rating,Review Summary,Full Review,Review_date
0,Home Theatre,4,Good choice,Writing this review after using 4 days.. No do...,"Aug, 2020"
1,Home Theatre,5,Wonderful,Excellent product in budget .i m loving it.i p...,"Jun, 2020"
2,Home Theatre,4,Delightful,Its good in this price range but if you are lo...,"Jul, 2020"
3,Home Theatre,5,Terrific purchase,Nice product. Bluetooth connectivity are very ...,"Nov, 2020"
4,Home Theatre,5,Best in the market!,Brilliant excellent performance thank you Flip...,"Jan, 2020"
...,...,...,...,...,...
1315,Home Theatre,5,Highly recommended,Ok sounds,9 months ago
1316,Home Theatre,1,Worst experience ever!,This can't be connected to TV. My money got wa...,9 months ago
1317,Home Theatre,1,Don't waste your money,Sound quality is very poor,9 months ago
1318,Home Theatre,3,Decent product,normal product,9 months ago
1319,Home Theatre,5,Must buy!,Awesome,9 months ago

In [46]:
p = ['â‚¹1,699']*1320
d = ['Intex IT-2616 BT Home Theatre']*1320

Theatre2.insert(1,'Price',p)
Theatre2.insert(1, 'Brand_name', d)

Theatre2

,Product,Brand_name,Price,Rating,Review Summary,Full Review,Review_date
0,Home Theatre,Intex IT-2616 BT Home Theatre,"â‚¹1,699",4,Good choice,Writing this review after using 4 days.. No do...,"Aug, 2020"
1,Home Theatre,Intex IT-2616 BT Home Theatre,"â‚¹1,699",5,Wonderful,Excellent product in budget .i m loving it.i p...,"Jun, 2020"
2,Home Theatre,Intex IT-2616 BT Home Theatre,"â‚¹1,699",4,Delightful,Its good in this price range but if you are lo...,"Jul, 2020"
3,Home Theatre,Intex IT-2616 BT Home Theatre,"â‚¹1,699",5,Terrific purchase,Nice product. Bluetooth connectivity are very ...,"Nov, 2020"
4,Home Theatre,Intex IT-2616 BT Home Theatre,"â‚¹1,699",5,Best in the market!,Brilliant excellent performance thank you Flip...,"Jan, 2020"
...,...,...,...,...,...,...,...
1315,Home Theatre,Intex IT-2616 BT Home Theatre,"â‚¹1,699",5,Highly recommended,Ok sounds,9 months ago
1316,Home Theatre,Intex IT-2616 BT Home Theatre,"â‚¹1,699",1,Worst experience ever!,This can't be connected to TV. My money got wa...,9 months ago
1317,Home Theatre,Intex IT-2616 BT Home Theatre,"â‚¹1,699",1,Don't waste your money,Sound quality is very poor,9 months ago
1318,Home Theatre,Intex IT-2616 BT Home Theatre,"â‚¹1,699",3,Decent product,normal product,9 months ago
1319,Home Theatre,Intex IT-2616 BT Home Theatre,"â‚¹1,699",5,Must buy!,Awesome,9 months ago

In [201]:
df2

,Product,Brand_name,Price,Rating,Review Summary,Full Review,Review_date
0,Watch,TXOR Storm M5 Smartwatch,â‚¹629,5,Excellent,"Awesome Watch , More better than I ve expected...",11 months ago
1,Watch,TXOR Storm M5 Smartwatch,â‚¹629,5,Mind-blowing purchase,Averagely Good for middle class families and D...,6 months ago
2,Watch,TXOR Storm M5 Smartwatch,â‚¹629,5,Awesome,It's charging time Is not good If you will use...,7 months ago
3,Watch,TXOR Storm M5 Smartwatch,â‚¹629,5,Awesome,This is tha amazing smartwatch I loved it beca...,5 months ago
4,Watch,TXOR Storm M5 Smartwatch,â‚¹629,5,Super!,Absolutely Delighted to have a watch like this...,4 months ago
...,...,...,...,...,...,...,...
415,Iron box,"Philips GC1905 Steam Iron, 1440 W","â‚¹1,499",5,Amazing iron. More than satisfied.,This iron is very good. It heats up quickly an...,"May, 2015"
416,Iron box,"Philips GC1905 Steam Iron, 1440 W","â‚¹1,499",5,Good product,Timely delivery Nice packing good item with ea...,"May, 2015"
417,Iron box,"Philips GC1905 Steam Iron, 1440 W","â‚¹1,499",3,Good Product but not sure the the validity,I booked this product on the basis of my Frien...,"May, 2015"
418,Iron box,"Philips GC1905 Steam Iron, 1440 W","â‚¹1,499",5,Nice Product,"Nice product, blindly we can go for this budge...","May, 2015"
419,Iron box,"Philips GC1905 Steam Iron, 1440 W","â‚¹1,499",3,"Good for dry iron, Steaming is not upto the mark",Good at this range and can be worthy. For dry ...,"May, 2015"

### scrape the reviews of different brand of celing fan

In [47]:
driver.get('https://www.flipkart.com/bajaj-crest-neo-1200-mm-3-blade-ceiling-fan/p/itm73140916e43f1?pid=FANFVFFVNQFPFPHA&lid=LSTFANFVFFVNQFPFPHAQCNFHS&marketplace=FLIPKART&q=ceiling+fan&store=j9e%2Fabm%2Flbz&srno=s_1_3&otracker=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&fm=search-autosuggest&iid=47e75135-f95a-4155-8218-230313657cf6.FANFVFFVNQFPFPHA.SEARCH&ppt=sp&ppn=sp&ssid=cgsfdxwqhs0000001659892832672&qH=60a408f7ae06ef63')
driver.find_element_by_xpath("//div[@class= '_3UAT2v _16PBlm']").click()

In [48]:
Rating=[]
Review_summary=[]
Full_review=[]
Date=[]

In [49]:
#so lets extract all the data having by using for loop
for i in range (0,120):
    for c in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        Rating.append(c.text)
    for d in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Full_review.append(d.text)
    for e in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review_summary.append(e.text)
    for f in driver.find_elements_by_xpath("//p[@class='_2sc7ZR']"):
        Date.append(f.text)
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(15)

In [50]:
len(Rating),len(Review_summary),len(Full_review)

(1055, 1055, 1055)

In [51]:
#Store the data in a dataframe.    
dictionnary = {
   'Rating': Rating[:1055], 
   'Review Summary':Review_summary[:1055], 
   'Full Review':Full_review[:1055],
   'Review_date':Date[:1055]
}
fan1 = pd.DataFrame(data=dictionnary)
pr = ['Ceiling Fan']*1055

fan1.insert(0,'Product',pr)
fan1

,Product,Rating,Review Summary,Full Review,Review_date
0,Ceiling Fan,4,Wonderful,Good quality fans. But one fan is not moving s...,"Jan, 2021"
1,Ceiling Fan,1,Horrible,Its does not gives air properly and the hanggi...,10 months ago
2,Ceiling Fan,3,Just okay,Soundless ðŸ‘ðŸ’¯\nSpeed ðŸ‘Ž\nbuild quality ðŸ‘,"Jan, 2021"
3,Ceiling Fan,5,Worth every penny,Very nice product,"Jan, 2021"
4,Ceiling Fan,5,Mind-blowing purchase,I have 3 fan purchase very good air flow,11 months ago
...,...,...,...,...,...
1050,Ceiling Fan,4,Good quality product,Original product,3 months ago
1051,Ceiling Fan,5,Excellent,Good,3 months ago
1052,Ceiling Fan,1,Very poor,Very bad product...wrost app Flipkart ðŸ˜¡,3 months ago
1053,Ceiling Fan,3,Good,Just ok. The fan speed is not good,3 months ago
1054,Ceiling Fan,5,Simply awesome,Nice,3 months ago

In [52]:
p = ['â‚¹1,299']*1055
d = ['BAJAJ Crest Neo Ceiling Fan']*1055

fan1.insert(1,'Price',p)
fan1.insert(1, 'Brand_name', d)

fan1

,Product,Brand_name,Price,Rating,Review Summary,Full Review,Review_date
0,Ceiling Fan,BAJAJ Crest Neo Ceiling Fan,"â‚¹1,299",4,Wonderful,Good quality fans. But one fan is not moving s...,"Jan, 2021"
1,Ceiling Fan,BAJAJ Crest Neo Ceiling Fan,"â‚¹1,299",1,Horrible,Its does not gives air properly and the hanggi...,10 months ago
2,Ceiling Fan,BAJAJ Crest Neo Ceiling Fan,"â‚¹1,299",3,Just okay,Soundless ðŸ‘ðŸ’¯\nSpeed ðŸ‘Ž\nbuild quality ðŸ‘,"Jan, 2021"
3,Ceiling Fan,BAJAJ Crest Neo Ceiling Fan,"â‚¹1,299",5,Worth every penny,Very nice product,"Jan, 2021"
4,Ceiling Fan,BAJAJ Crest Neo Ceiling Fan,"â‚¹1,299",5,Mind-blowing purchase,I have 3 fan purchase very good air flow,11 months ago
...,...,...,...,...,...,...,...
1050,Ceiling Fan,BAJAJ Crest Neo Ceiling Fan,"â‚¹1,299",4,Good quality product,Original product,3 months ago
1051,Ceiling Fan,BAJAJ Crest Neo Ceiling Fan,"â‚¹1,299",5,Excellent,Good,3 months ago
1052,Ceiling Fan,BAJAJ Crest Neo Ceiling Fan,"â‚¹1,299",1,Very poor,Very bad product...wrost app Flipkart ðŸ˜¡,3 months ago
1053,Ceiling Fan,BAJAJ Crest Neo Ceiling Fan,"â‚¹1,299",3,Good,Just ok. The fan speed is not good,3 months ago
1054,Ceiling Fan,BAJAJ Crest Neo Ceiling Fan,"â‚¹1,299",5,Simply awesome,Nice,3 months ago

In [53]:
driver.get('https://www.flipkart.com/orient-electric-wendy-1200-mm-3-blade-ceiling-fan/p/itm2807ae2748b48?pid=FANESZFFYXZCBFHG&lid=LSTFANESZFFYXZCBFHGAK93IW&marketplace=FLIPKART&q=fans+ceiling+fans&store=j9e%2Fabm%2Flbz&srno=s_1_8&otracker=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&fm=search-autosuggest&iid=en_23IIBlJdLSvZ5zowzhx2iNWJiCCD5cBcHOgqm5Wul3c%2FXDcV4Hcqi4ta17tBPwcXe1uwHQh%2BkJdgwivey62acw%3D%3D&ppt=sp&ppn=sp&qH=4fabce27c368d50c')
driver.find_element_by_xpath("//div[@class= '_3UAT2v _16PBlm']").click()

In [54]:
Rating=[]
Review_summary=[]
Full_review=[]
Date=[]

In [60]:
#so lets extract all the data having by using for loop
for i in range (0,110):
    for c in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        Rating.append(c.text)
    for d in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Full_review.append(d.text)
    for e in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review_summary.append(e.text)
    for f in driver.find_elements_by_xpath("//p[@class='_2sc7ZR']"):
        Date.append(f.text)
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(15)

In [61]:
len(Rating),len(Review_summary),len(Full_review)

(1029, 1029, 1029)

In [62]:
#Store the data in a dataframe.    
dictionnary = {
   'Rating': Rating[:1029], 
   'Review Summary':Review_summary[:1029], 
   'Full Review':Full_review[:1029],
   'Review_date':Date[:1029]
}
fan2= pd.DataFrame(data=dictionnary)
pr = ['Ceiling Fan']*1029

fan2.insert(0,'Product',pr)
fan2

,Product,Rating,Review Summary,Full Review,Review_date
0,Ceiling Fan,5,Perfect product!,good and perfect for my home ceiling n perfect...,"Jan, 2020"
1,Ceiling Fan,5,Simply awesome,The packet sent by Flipkart is really good and...,"Aug, 2019"
2,Ceiling Fan,5,Mind-blowing purchase,"Very attractive in looking, the fun runs very ...","Aug, 2020"
3,Ceiling Fan,5,Highly recommended,"This fan is excellent in built quality, speed,...","Aug, 2020"
4,Ceiling Fan,5,Excellent,It's a very good one it has 320 rpm which is j...,"Apr, 2021"
...,...,...,...,...,...
1024,Ceiling Fan,5,Awesome,Very nice fan,8 months ago
1025,Ceiling Fan,5,Best in the market!,Best,8 months ago
1026,Ceiling Fan,4,Good quality product,Good,8 months ago
1027,Ceiling Fan,4,Good choice,Good,8 months ago
1028,Ceiling Fan,3,Fair,Better,8 months ago

In [63]:
p = ['â‚¹2,799']*1029
d = ['Orient Electric Wendy Ceiling Fan']*1029

fan2.insert(1,'Price',p)
fan2.insert(1, 'Brand_name', d)

fan2

,Product,Brand_name,Price,Rating,Review Summary,Full Review,Review_date
0,Ceiling Fan,Orient Electric Wendy Ceiling Fan,"â‚¹2,799",5,Perfect product!,good and perfect for my home ceiling n perfect...,"Jan, 2020"
1,Ceiling Fan,Orient Electric Wendy Ceiling Fan,"â‚¹2,799",5,Simply awesome,The packet sent by Flipkart is really good and...,"Aug, 2019"
2,Ceiling Fan,Orient Electric Wendy Ceiling Fan,"â‚¹2,799",5,Mind-blowing purchase,"Very attractive in looking, the fun runs very ...","Aug, 2020"
3,Ceiling Fan,Orient Electric Wendy Ceiling Fan,"â‚¹2,799",5,Highly recommended,"This fan is excellent in built quality, speed,...","Aug, 2020"
4,Ceiling Fan,Orient Electric Wendy Ceiling Fan,"â‚¹2,799",5,Excellent,It's a very good one it has 320 rpm which is j...,"Apr, 2021"
...,...,...,...,...,...,...,...
1024,Ceiling Fan,Orient Electric Wendy Ceiling Fan,"â‚¹2,799",5,Awesome,Very nice fan,8 months ago
1025,Ceiling Fan,Orient Electric Wendy Ceiling Fan,"â‚¹2,799",5,Best in the market!,Best,8 months ago
1026,Ceiling Fan,Orient Electric Wendy Ceiling Fan,"â‚¹2,799",4,Good quality product,Good,8 months ago
1027,Ceiling Fan,Orient Electric Wendy Ceiling Fan,"â‚¹2,799",4,Good choice,Good,8 months ago
1028,Ceiling Fan,Orient Electric Wendy Ceiling Fan,"â‚¹2,799",3,Fair,Better,8 months ago

In [67]:
driver.get('https://www.flipkart.com/crompton-aura1-2mivory-deluxe-1200-mm-3-blade-ceiling-fan/p/itmbf7c93cc28da5?pid=FANF4DYUGU7YGGGF&lid=LSTFANF4DYUGU7YGGGFEW39Y2&marketplace=FLIPKART&q=ceiling+fan&store=j9e%2Fabm%2Flbz&spotlightTagId=BestvalueId_j9e%2Fabm%2Flbz&srno=s_2_45&otracker=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&fm=search-autosuggest&iid=5b578658-d460-4cf5-b702-630b98393b7d.FANF4DYUGU7YGGGF.SEARCH&ppt=sp&ppn=sp&qH=60a408f7ae06ef63')
driver.find_element_by_xpath("//div[@class= '_3UAT2v _16PBlm']").click()

In [68]:
Rating=[]
Review_summary=[]
Full_review=[]
Date=[]

In [71]:
#so lets extract all the data having by using for loop
for i in range (0,50):
    for c in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        Rating.append(c.text)
    for d in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Full_review.append(d.text)
    for e in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review_summary.append(e.text)
    for f in driver.find_elements_by_xpath("//p[@class='_2sc7ZR']"):
        Date.append(f.text)
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(15)

In [75]:
#Store the data in a dataframe.    
dictionnary = {
   'Rating': Rating[:490], 
   'Review Summary':Review_summary[:490], 
   'Full Review':Full_review[:490],
   'Review_date':Date[:490]
}
fan3 = pd.DataFrame(data=dictionnary)
pr = ['Ceiling Fan']*490

fan3.insert(0,'Product',pr)
fan3

,Product,Rating,Review Summary,Full Review,Review_date
0,Ceiling Fan,5,Worth every penny,Order a set of 5 for our new house and they lo...,"Feb, 2021"
1,Ceiling Fan,1,Hated it!,This product is not in good quality and not wo...,"Apr, 2021"
2,Ceiling Fan,5,Worth every penny,"This is an amazing Fan, previously I had 3 Ori...",11 months ago
3,Ceiling Fan,4,Delightful,Good,"Aug, 2020"
4,Ceiling Fan,5,Fabulous!,Super quality.Nice product,"Jan, 2021"
...,...,...,...,...,...
485,Ceiling Fan,5,Simply awesome,Nice,"Sep, 2020"
486,Ceiling Fan,5,Brilliant,Good quality product.delivered intact.\nEvery ...,"Sep, 2020"
487,Ceiling Fan,4,Very Good,Nice product fast delivery,"Sep, 2020"
488,Ceiling Fan,3,Does the job,Speed not high....,"Sep, 2020"
489,Ceiling Fan,4,Value-for-money,Thanks iam happy,"Sep, 2020"

In [76]:
p = ['â‚¹2,799']*490
d = ['CROMPTON Aura1.2 Ceiling Fan ']*490

fan3.insert(1,'Price',p)
fan3.insert(1, 'Brand_name', d)

fan3

,Product,Brand_name,Price,Rating,Review Summary,Full Review,Review_date
0,Ceiling Fan,CROMPTON Aura1.2 Ceiling Fan,"â‚¹2,799",5,Worth every penny,Order a set of 5 for our new house and they lo...,"Feb, 2021"
1,Ceiling Fan,CROMPTON Aura1.2 Ceiling Fan,"â‚¹2,799",1,Hated it!,This product is not in good quality and not wo...,"Apr, 2021"
2,Ceiling Fan,CROMPTON Aura1.2 Ceiling Fan,"â‚¹2,799",5,Worth every penny,"This is an amazing Fan, previously I had 3 Ori...",11 months ago
3,Ceiling Fan,CROMPTON Aura1.2 Ceiling Fan,"â‚¹2,799",4,Delightful,Good,"Aug, 2020"
4,Ceiling Fan,CROMPTON Aura1.2 Ceiling Fan,"â‚¹2,799",5,Fabulous!,Super quality.Nice product,"Jan, 2021"
...,...,...,...,...,...,...,...
485,Ceiling Fan,CROMPTON Aura1.2 Ceiling Fan,"â‚¹2,799",5,Simply awesome,Nice,"Sep, 2020"
486,Ceiling Fan,CROMPTON Aura1.2 Ceiling Fan,"â‚¹2,799",5,Brilliant,Good quality product.delivered intact.\nEvery ...,"Sep, 2020"
487,Ceiling Fan,CROMPTON Aura1.2 Ceiling Fan,"â‚¹2,799",4,Very Good,Nice product fast delivery,"Sep, 2020"
488,Ceiling Fan,CROMPTON Aura1.2 Ceiling Fan,"â‚¹2,799",3,Does the job,Speed not high....,"Sep, 2020"
489,Ceiling Fan,CROMPTON Aura1.2 Ceiling Fan,"â‚¹2,799",4,Value-for-money,Thanks iam happy,"Sep, 2020"

### scrape the reviews of different brand of Printer

In [85]:
driver.get('https://www.flipkart.com/hp-deskjet-2331-multi-function-color-printer/p/itm5708dbe303a73?pid=PRNFTXAWZ9DZ2KHR&lid=LSTPRNFTXAWZ9DZ2KHRNUI3EX&marketplace=FLIPKART&q=printer&store=6bo%2Fffn%2Ft64%2Fmpr&srno=s_1_2&otracker=AS_QueryStore_OrganicAutoSuggest_2_2_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_2_2_na_na_na&fm=search-autosuggest&iid=26285d83-8af8-448e-b69b-b3ba510283c0.PRNFTXAWZ9DZ2KHR.SEARCH&ppt=sp&ppn=sp&ssid=8iy6qi8hz40000001659893863714&qH=a9358f4ce02708d5')
driver.find_element_by_xpath("//div[@class= '_3UAT2v _16PBlm']").click()

In [86]:
Rating=[]
Review_summary=[]
Full_review=[]
Date=[]

In [87]:
#so lets extract all the data having by using for loop
for i in range (0,120):
    for c in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        Rating.append(c.text)
    for d in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Full_review.append(d.text)
    for e in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review_summary.append(e.text)
    for f in driver.find_elements_by_xpath("//p[@class='_2sc7ZR']"):
        Date.append(f.text)
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(15)

In [89]:
#Store the data in a dataframe.    
dictionnary = {
   'Rating': Rating[:1200], 
   'Review Summary':Review_summary[:1200], 
   'Full Review':Full_review[:1200],
   'Review_date':Date[:1200]
}
Printer1 = pd.DataFrame(data=dictionnary)
pr = ['Printer']*1200

Printer1.insert(0,'Product',pr)
Printer1

,Product,Rating,Review Summary,Full Review,Review_date
0,Printer,5,Just wow!,Awesome product fast printing and scanning is ...,"Nov, 2020"
1,Printer,3,Good,Ink cartridge provided with it could not print...,"May, 2021"
2,Printer,5,Perfect product!,Excellent .. printer Hp desk jet 2331 . And yo...,"May, 2021"
3,Printer,3,Decent product,This product is good but the paper cost very h...,"Feb, 2021"
4,Printer,1,Don't waste your money,"Pathetic product, worst ever printing and scan...","May, 2021"
...,...,...,...,...,...
1195,Printer,5,Great product,Serve the purpose,"Dec, 2020"
1196,Printer,1,Useless product,Useless please please dont buy this product an...,"Dec, 2020"
1197,Printer,1,Terrible product,Worst printer,"Dec, 2020"
1198,Printer,5,Mind-blowing purchase,Nice product every one can easy to install,"Dec, 2020"
1199,Printer,5,Super!,Good product,"Dec, 2020"

In [90]:
p = ['â‚¹3,798']*1200
d = ['HP DeskJet 2331 Multi-function Color Printer']*1200

Printer1.insert(1,'Price',p)
Printer1.insert(1, 'Brand_name', d)

Printer1

,Product,Brand_name,Price,Rating,Review Summary,Full Review,Review_date
0,Printer,HP DeskJet 2331 Multi-function Color Printer,"â‚¹3,798",5,Just wow!,Awesome product fast printing and scanning is ...,"Nov, 2020"
1,Printer,HP DeskJet 2331 Multi-function Color Printer,"â‚¹3,798",3,Good,Ink cartridge provided with it could not print...,"May, 2021"
2,Printer,HP DeskJet 2331 Multi-function Color Printer,"â‚¹3,798",5,Perfect product!,Excellent .. printer Hp desk jet 2331 . And yo...,"May, 2021"
3,Printer,HP DeskJet 2331 Multi-function Color Printer,"â‚¹3,798",3,Decent product,This product is good but the paper cost very h...,"Feb, 2021"
4,Printer,HP DeskJet 2331 Multi-function Color Printer,"â‚¹3,798",1,Don't waste your money,"Pathetic product, worst ever printing and scan...","May, 2021"
...,...,...,...,...,...,...,...
1195,Printer,HP DeskJet 2331 Multi-function Color Printer,"â‚¹3,798",5,Great product,Serve the purpose,"Dec, 2020"
1196,Printer,HP DeskJet 2331 Multi-function Color Printer,"â‚¹3,798",1,Useless product,Useless please please dont buy this product an...,"Dec, 2020"
1197,Printer,HP DeskJet 2331 Multi-function Color Printer,"â‚¹3,798",1,Terrible product,Worst printer,"Dec, 2020"
1198,Printer,HP DeskJet 2331 Multi-function Color Printer,"â‚¹3,798",5,Mind-blowing purchase,Nice product every one can easy to install,"Dec, 2020"
1199,Printer,HP DeskJet 2331 Multi-function Color Printer,"â‚¹3,798",5,Super!,Good product,"Dec, 2020"

In [91]:
driver.get('https://www.flipkart.com/canon-mg2570s-multi-function-color-printer/p/itme8pd6c9gcente?pid=PRNE8PD6M53KZZXA&lid=LSTPRNE8PD6M53KZZXAZEUAHX&marketplace=FLIPKART&q=printer&store=6bo%2Fffn%2Ft64%2Fmpr&srno=s_1_11&otracker=AS_QueryStore_OrganicAutoSuggest_2_2_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_2_2_na_na_na&fm=search-autosuggest&iid=26285d83-8af8-448e-b69b-b3ba510283c0.PRNE8PD6M53KZZXA.SEARCH&ppt=sp&ppn=sp&qH=a9358f4ce02708d5')
driver.find_element_by_xpath("//div[@class= '_3UAT2v _16PBlm']").click()

In [92]:
Rating=[]
Review_summary=[]
Full_review=[]
Date=[]

In [96]:
#so lets extract all the data having by using for loop
for i in range (0,90):
    for c in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        Rating.append(c.text)
    for d in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Full_review.append(d.text)
    for e in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review_summary.append(e.text)
    for f in driver.find_elements_by_xpath("//p[@class='_2sc7ZR']"):
        Date.append(f.text)
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(15)

In [97]:
len(Rating),len(Review_summary),len(Full_review)

(830, 830, 830)

In [100]:
#Store the data in a dataframe.    
dictionnary = {
   'Rating': Rating[:830], 
   'Review Summary':Review_summary[:830], 
   'Full Review':Full_review[:830],
   'Review_date':Date[:830]
}
Printer2 = pd.DataFrame(data=dictionnary)
pr = ['Printer']*830

Printer2.insert(0,'Product',pr)
Printer2

,Product,Rating,Review Summary,Full Review,Review_date
0,Printer,5,Perfect product!,"Very nice printer, is worth the purchase. Idea...","Jul, 2018"
1,Printer,5,Mind-blowing purchase,super Good delivery and canon printer is Good ...,"May, 2019"
2,Printer,5,Excellent,"great !! easy to use ,, budget friendly,, good...","Oct, 2019"
3,Printer,5,Brilliant,nice product\nI am a student I ordered this fo...,"May, 2020"
4,Printer,1,Don't waste your money,After using 1 year I am writing\n\nProduct see...,"Nov, 2017"
...,...,...,...,...,...
825,Printer,1,Hated it!,Dutty product ðŸ˜¡,1 month ago
826,Printer,1,Terrible product,Very bad product don't buy,1 month ago
827,Printer,4,Worth the money,Product is good but some problem with this pro...,1 month ago
828,Printer,4,Very Good,Good quality,1 month ago
829,Printer,4,Pretty good,"GOOD QUALITY PRINTING, DRIVER IS SUPER, MANY O...",1 month ago

In [101]:
p = ['â‚¹3,599']*830
d = ['Canon MG2570S Printer']*830

Printer2.insert(1,'Price',p)
Printer2.insert(1, 'Brand_name', d)

Printer2

,Product,Brand_name,Price,Rating,Review Summary,Full Review,Review_date
0,Printer,Canon MG2570S Printer,"â‚¹3,599",5,Perfect product!,"Very nice printer, is worth the purchase. Idea...","Jul, 2018"
1,Printer,Canon MG2570S Printer,"â‚¹3,599",5,Mind-blowing purchase,super Good delivery and canon printer is Good ...,"May, 2019"
2,Printer,Canon MG2570S Printer,"â‚¹3,599",5,Excellent,"great !! easy to use ,, budget friendly,, good...","Oct, 2019"
3,Printer,Canon MG2570S Printer,"â‚¹3,599",5,Brilliant,nice product\nI am a student I ordered this fo...,"May, 2020"
4,Printer,Canon MG2570S Printer,"â‚¹3,599",1,Don't waste your money,After using 1 year I am writing\n\nProduct see...,"Nov, 2017"
...,...,...,...,...,...,...,...
825,Printer,Canon MG2570S Printer,"â‚¹3,599",1,Hated it!,Dutty product ðŸ˜¡,1 month ago
826,Printer,Canon MG2570S Printer,"â‚¹3,599",1,Terrible product,Very bad product don't buy,1 month ago
827,Printer,Canon MG2570S Printer,"â‚¹3,599",4,Worth the money,Product is good but some problem with this pro...,1 month ago
828,Printer,Canon MG2570S Printer,"â‚¹3,599",4,Very Good,Good quality,1 month ago
829,Printer,Canon MG2570S Printer,"â‚¹3,599",4,Pretty good,"GOOD QUALITY PRINTING, DRIVER IS SUPER, MANY O...",1 month ago

In [102]:
driver.get('https://www.flipkart.com/canon-pixma-mg2470-all-in-one-inkjet-printer/p/itmdqatqsyzyzffn?pid=PRNDQAR9KZEKSKRF&lid=LSTPRNDQAR9KZEKSKRFYDQIJE&marketplace=FLIPKART&q=printer&store=6bo%2Fffn%2Ft64%2Fmpr&srno=s_2_48&otracker=AS_QueryStore_OrganicAutoSuggest_2_2_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_2_2_na_na_na&fm=search-autosuggest&iid=en_afC2%2BF24XtK1jazaoAgY5HzKWpXSW1Omg8hsGOujKDZWUH%2B1iqg%2FVLzdZ%2FAX82JrP8io9XVI%2Fwa9B7gVVMvAGQ%3D%3D&ppt=sp&ppn=sp&qH=a9358f4ce02708d5')
driver.find_element_by_xpath("//div[@class= '_3UAT2v _16PBlm']").click()

In [103]:
Rating=[]
Review_summary=[]
Full_review=[]
Date=[]

In [104]:
#so lets extract all the data having by using for loop
for i in range (0,50):
    for c in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        Rating.append(c.text)
    for d in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Full_review.append(d.text)
    for e in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review_summary.append(e.text)
    for f in driver.find_elements_by_xpath("//p[@class='_2sc7ZR']"):
        Date.append(f.text)
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(15)

In [105]:
len(Rating),len(Review_summary),len(Full_review)

(500, 500, 500)

In [108]:
#Store the data in a dataframe.    
dictionnary = {
   'Rating': Rating[:500], 
   'Review Summary':Review_summary[:500], 
   'Full Review':Full_review[:500],
   'Review_date':Date[:500]
}
Printer3= pd.DataFrame(data=dictionnary)
pr = ['Printer']*500

Printer3.insert(0,'Product',pr)
Printer3

,Product,Rating,Review Summary,Full Review,Review_date
0,Printer,5,Perfect product!,"Very nice printer, is worth the purchase. Idea...","Jul, 2018"
1,Printer,5,Mind-blowing purchase,super Good delivery and canon printer is Good ...,"May, 2019"
2,Printer,5,Excellent,"great !! easy to use ,, budget friendly,, good...","Oct, 2019"
3,Printer,5,Brilliant,nice product\nI am a student I ordered this fo...,"May, 2020"
4,Printer,1,Don't waste your money,After using 1 year I am writing\n\nProduct see...,"Nov, 2017"
...,...,...,...,...,...
495,Printer,4,Worth the money,Very good,"Jan, 2021"
496,Printer,1,Don't waste your money,Plz plz don't waste your money in this product...,"Jan, 2021"
497,Printer,5,Just wow!,Nice product,"Jan, 2021"
498,Printer,5,Terrific purchase,Prenter is vary nice.vari vari good.,"Dec, 2020"
499,Printer,4,Wonderful,"I am so happy , this printer is to good ,\nNice","Dec, 2020"

In [109]:
p = ['â‚¹3,399']*500
d = ['Canon PIXMA Printer']*500

Printer3.insert(1,'Price',p)
Printer3.insert(0, 'Brand_name', d)
Printer3

,Brand_name,Product,Price,Rating,Review Summary,Full Review,Review_date
0,Canon PIXMA Printer,Printer,"â‚¹3,399",5,Perfect product!,"Very nice printer, is worth the purchase. Idea...","Jul, 2018"
1,Canon PIXMA Printer,Printer,"â‚¹3,399",5,Mind-blowing purchase,super Good delivery and canon printer is Good ...,"May, 2019"
2,Canon PIXMA Printer,Printer,"â‚¹3,399",5,Excellent,"great !! easy to use ,, budget friendly,, good...","Oct, 2019"
3,Canon PIXMA Printer,Printer,"â‚¹3,399",5,Brilliant,nice product\nI am a student I ordered this fo...,"May, 2020"
4,Canon PIXMA Printer,Printer,"â‚¹3,399",1,Don't waste your money,After using 1 year I am writing\n\nProduct see...,"Nov, 2017"
...,...,...,...,...,...,...,...
495,Canon PIXMA Printer,Printer,"â‚¹3,399",4,Worth the money,Very good,"Jan, 2021"
496,Canon PIXMA Printer,Printer,"â‚¹3,399",1,Don't waste your money,Plz plz don't waste your money in this product...,"Jan, 2021"
497,Canon PIXMA Printer,Printer,"â‚¹3,399",5,Just wow!,Nice product,"Jan, 2021"
498,Canon PIXMA Printer,Printer,"â‚¹3,399",5,Terrific purchase,Prenter is vary nice.vari vari good.,"Dec, 2020"
499,Canon PIXMA Printer,Printer,"â‚¹3,399",4,Wonderful,"I am so happy , this printer is to good ,\nNice","Dec, 2020"

### scrape the reviews of different brand of Refrigerator

In [129]:
driver.get('https://www.flipkart.com/haier-195-l-direct-cool-single-door-5-star-refrigerator/p/itm9101c1be29691?pid=RFRGFUT3897FHKXE&lid=LSTRFRGFUT3897FHKXEIBKJY9&marketplace=FLIPKART&q=refrigerator&store=j9e%2Fabm%2Fhzg&srno=s_1_13&otracker=AS_QueryStore_OrganicAutoSuggest_4_4_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_4_4_na_na_na&fm=Search&iid=795cd269-2f8d-4ba4-824f-6559c1aa0e22.RFRGFUT3897FHKXE.SEARCH&ppt=sp&ppn=sp&ssid=ce2h9qd8i80000001659961349724&qH=945c050322f005b6')
driver.find_element_by_xpath("//div[@class= '_3UAT2v _16PBlm']").click()

In [130]:
Rating=[]
Review_summary=[]
Full_review=[]
Date=[]

In [134]:
#so lets extract all the data having by using for loop
for i in range (0,120):
    for c in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        Rating.append(c.text)
    for d in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Full_review.append(d.text)
    for e in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review_summary.append(e.text)
    for f in driver.find_elements_by_xpath("//p[@class='_2sc7ZR']"):
        Date.append(f.text)
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(15)

In [135]:
len(Rating),len(Review_summary),len(Full_review)

(1268, 1268, 1268)

In [138]:
#Store the data in a dataframe.    
dictionnary = {
   'Rating': Rating[:1268], 
   'Review Summary':Review_summary[:1268], 
   'Full Review':Full_review[:1268],
   'Review_date':Date[:1268]
}
fridge1 = pd.DataFrame(data=dictionnary)
pr = ['Refrigerator']*1268

fridge1.insert(0,'Product',pr)
fridge1

,Product,Rating,Review Summary,Full Review,Review_date
0,Refrigerator,5,Brilliant,"Actually, it was gifted to someone. So cannot ...","Jun, 2020"
1,Refrigerator,5,Brilliant,"Thank God, Nice product and low sound compress...","Jul, 2020"
2,Refrigerator,4,Nice product,Its compact for a 3 to 4 members family/bachel...,"May, 2020"
3,Refrigerator,4,Good choice,The look is cool and good. For a small family ...,"Jun, 2020"
4,Refrigerator,5,Mind-blowing purchase,I have been using it gor more than 20 days and...,"Jun, 2020"
...,...,...,...,...,...
1263,Refrigerator,2,Expected a better product,The cooling is good but there food items get a...,"Jun, 2021"
1264,Refrigerator,4,Worth the money,Good,"Jun, 2021"
1265,Refrigerator,5,Classy product,Good,"Jun, 2021"
1266,Refrigerator,5,Best in the market!,Sufficient space\nOne hour ice technology,"Jun, 2021"
1267,Refrigerator,5,Highly recommended,VERY GOOD PRODUT IN THIS PRICE AND AWESOME FRIDGE,"Jun, 2021"

In [139]:
p = ['â‚¹16,750']*1268
d = ['Haier 195 L Refrigerator']*1268

fridge1.insert(1,'Price',p)
fridge1.insert(1, 'Brand_name', d)
fridge1

,Product,Brand_name,Price,Rating,Review Summary,Full Review,Review_date
0,Refrigerator,Haier 195 L Refrigerator,"â‚¹16,750",5,Brilliant,"Actually, it was gifted to someone. So cannot ...","Jun, 2020"
1,Refrigerator,Haier 195 L Refrigerator,"â‚¹16,750",5,Brilliant,"Thank God, Nice product and low sound compress...","Jul, 2020"
2,Refrigerator,Haier 195 L Refrigerator,"â‚¹16,750",4,Nice product,Its compact for a 3 to 4 members family/bachel...,"May, 2020"
3,Refrigerator,Haier 195 L Refrigerator,"â‚¹16,750",4,Good choice,The look is cool and good. For a small family ...,"Jun, 2020"
4,Refrigerator,Haier 195 L Refrigerator,"â‚¹16,750",5,Mind-blowing purchase,I have been using it gor more than 20 days and...,"Jun, 2020"
...,...,...,...,...,...,...,...
1263,Refrigerator,Haier 195 L Refrigerator,"â‚¹16,750",2,Expected a better product,The cooling is good but there food items get a...,"Jun, 2021"
1264,Refrigerator,Haier 195 L Refrigerator,"â‚¹16,750",4,Worth the money,Good,"Jun, 2021"
1265,Refrigerator,Haier 195 L Refrigerator,"â‚¹16,750",5,Classy product,Good,"Jun, 2021"
1266,Refrigerator,Haier 195 L Refrigerator,"â‚¹16,750",5,Best in the market!,Sufficient space\nOne hour ice technology,"Jun, 2021"
1267,Refrigerator,Haier 195 L Refrigerator,"â‚¹16,750",5,Highly recommended,VERY GOOD PRODUT IN THIS PRICE AND AWESOME FRIDGE,"Jun, 2021"

In [118]:
driver.get('https://www.flipkart.com/lg-190-l-direct-cool-single-door-4-star-refrigerator/p/itm1963de6d2a382?pid=RFRF4HTMDHFYSXKN&lid=LSTRFRF4HTMDHFYSXKNR5GVC7&marketplace=FLIPKART&q=refrigerator&store=j9e%2Fabm%2Fhzg&srno=s_4_88&otracker=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&fm=search-autosuggest&iid=en_AujAZBrwfae2xGY3UfQE1qXpQ2tgnvbb1%2FZ1wOos1YiI5itpf5z7dYUL9vO1irX5JRyduH4uiCIqhwNlo4hbjA%3D%3D&ppt=sp&ppn=sp&qH=945c050322f005b6')
driver.find_element_by_xpath("//div[@class= '_3UAT2v _16PBlm']").click()

In [119]:
Rating=[]
Review_summary=[]
Full_review=[]
Date=[]

In [124]:
#so lets extract all the data having by using for loop
for i in range (0,120):
    for c in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        Rating.append(c.text)
    for d in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Full_review.append(d.text)
    for e in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review_summary.append(e.text)
    for f in driver.find_elements_by_xpath("//p[@class='_2sc7ZR']"):
        Date.append(f.text)
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(15)

In [125]:
len(Rating),len(Review_summary),len(Full_review)

(1120, 1120, 1120)

In [126]:
#Store the data in a dataframe.    
dictionnary = {
   'Rating': Rating[:1120], 
   'Review Summary':Review_summary[:1120], 
   'Full Review':Full_review[:1120],
   'Review_date':Date[:1120]
}
fridge2= pd.DataFrame(data=dictionnary)
pr = ['Refrigerator']*1120

fridge2.insert(0,'Product',pr)
fridge2

,Product,Rating,Review Summary,Full Review,Review_date
0,Refrigerator,5,Awesome,verry good and verry comfortable design and st...,"Oct, 2019"
1,Refrigerator,5,Just wow!,Best refrigerator on performance on .ice makin...,"May, 2020"
2,Refrigerator,5,Terrific purchase,look like small but have more space. good ener...,"Apr, 2019"
3,Refrigerator,5,Brilliant,Its is nice refrigerator and i definitely reco...,"May, 2019"
4,Refrigerator,5,Terrific,Best single door Fridge. Best for 4 members.\n...,"May, 2021"
...,...,...,...,...,...
1115,Refrigerator,5,Brilliant,Nice,8 months ago
1116,Refrigerator,4,Nice product,Nice product,8 months ago
1117,Refrigerator,4,Delightful,Good,8 months ago
1118,Refrigerator,4,Wonderful,I love this product LG and i am gladðŸ˜,8 months ago
1119,Refrigerator,5,Worth every penny,Very very nice product,9 months ago

In [127]:
p = ['â‚¹15,990']*1120
d = ['LG 190 L Refrigerator']*1120

fridge2.insert(1,'Price',p)
fridge2.insert(1, 'Brand_name', d)

fridge2

,Product,Brand_name,Price,Rating,Review Summary,Full Review,Review_date
0,Refrigerator,LG 190 L Refrigerator,"â‚¹15,990",5,Awesome,verry good and verry comfortable design and st...,"Oct, 2019"
1,Refrigerator,LG 190 L Refrigerator,"â‚¹15,990",5,Just wow!,Best refrigerator on performance on .ice makin...,"May, 2020"
2,Refrigerator,LG 190 L Refrigerator,"â‚¹15,990",5,Terrific purchase,look like small but have more space. good ener...,"Apr, 2019"
3,Refrigerator,LG 190 L Refrigerator,"â‚¹15,990",5,Brilliant,Its is nice refrigerator and i definitely reco...,"May, 2019"
4,Refrigerator,LG 190 L Refrigerator,"â‚¹15,990",5,Terrific,Best single door Fridge. Best for 4 members.\n...,"May, 2021"
...,...,...,...,...,...,...,...
1115,Refrigerator,LG 190 L Refrigerator,"â‚¹15,990",5,Brilliant,Nice,8 months ago
1116,Refrigerator,LG 190 L Refrigerator,"â‚¹15,990",4,Nice product,Nice product,8 months ago
1117,Refrigerator,LG 190 L Refrigerator,"â‚¹15,990",4,Delightful,Good,8 months ago
1118,Refrigerator,LG 190 L Refrigerator,"â‚¹15,990",4,Wonderful,I love this product LG and i am gladðŸ˜,8 months ago
1119,Refrigerator,LG 190 L Refrigerator,"â‚¹15,990",5,Worth every penny,Very very nice product,9 months ago

In [140]:
driver.get('https://www.flipkart.com/whirlpool-190-l-direct-cool-single-door-3-star-refrigerator/p/itmafa0a476dffe1?pid=RFRFZGFAHQ7VQXZF&lid=LSTRFRFZGFAHQ7VQXZFLUB4OV&marketplace=FLIPKART&q=refrigerator&store=j9e%2Fabm%2Fhzg&srno=s_3_50&otracker=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&fm=search-autosuggest&iid=1c165e6a-62e0-4482-ab17-57a6fdf609ef.RFRFZGFAHQ7VQXZF.SEARCH&ppt=sp&ppn=sp&qH=945c050322f005b6')
driver.find_element_by_xpath("//div[@class= '_3UAT2v _16PBlm']").click()

In [141]:
Rating=[]
Review_summary=[]
Full_review=[]
Date=[]

In [144]:
#so lets extract all the data having by using for loop
for i in range (0,110):
    for c in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        Rating.append(c.text)
    for d in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Full_review.append(d.text)
    for e in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review_summary.append(e.text)
    for f in driver.find_elements_by_xpath("//p[@class='_2sc7ZR']"):
        Date.append(f.text)
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(15)

In [145]:
len(Rating),len(Review_summary),len(Full_review)

(1010, 1010, 1010)

In [146]:
#Store the data in a dataframe.    
dictionnary = {
   'Rating': Rating[:1010], 
   'Review Summary':Review_summary[:1010], 
   'Full Review':Full_review[:1010],
   'Review_date':Date[:1010]
}
fridge3 = pd.DataFrame(data=dictionnary)
pr = ['Refrigerator']*1010

fridge3.insert(0,'Product',pr)
fridge3

,Product,Rating,Review Summary,Full Review,Review_date
0,Refrigerator,5,Super!,The product is good and I am so excited.\nThan...,"Oct, 2019"
1,Refrigerator,4,Value-for-money,Satisfied with the product for the money ..it ...,"Aug, 2020"
2,Refrigerator,4,Pretty good,The price is decent for small family and budge...,"Jan, 2020"
3,Refrigerator,5,Highly recommended,Review after first couple days:\n\nLooks: The ...,"Aug, 2019"
4,Refrigerator,5,Simply awesome,Great product at this price range. Original pr...,"Sep, 2020"
...,...,...,...,...,...
1005,Refrigerator,4,Value-for-money,Good,"Jul, 2021"
1006,Refrigerator,5,Wonderful,Good,"Jul, 2021"
1007,Refrigerator,5,Terrific purchase,Extremely beast in this priceðŸ†—,"Jul, 2021"
1008,Refrigerator,5,Nice one..,Nice Product I am using it for the last 1 year...,"Jul, 2021"
1009,Refrigerator,5,Highly recommended,Good product,"Jul, 2021"

In [147]:
p = ['â‚¹13,690']*1010
d = ['Whirlpool 190 L Refrigerator']*1010

fridge3.insert(1,'Price',p)
fridge3.insert(1, 'Brand_name', d)

fridge3

,Product,Brand_name,Price,Rating,Review Summary,Full Review,Review_date
0,Refrigerator,Whirlpool 190 L Refrigerator,"â‚¹13,690",5,Super!,The product is good and I am so excited.\nThan...,"Oct, 2019"
1,Refrigerator,Whirlpool 190 L Refrigerator,"â‚¹13,690",4,Value-for-money,Satisfied with the product for the money ..it ...,"Aug, 2020"
2,Refrigerator,Whirlpool 190 L Refrigerator,"â‚¹13,690",4,Pretty good,The price is decent for small family and budge...,"Jan, 2020"
3,Refrigerator,Whirlpool 190 L Refrigerator,"â‚¹13,690",5,Highly recommended,Review after first couple days:\n\nLooks: The ...,"Aug, 2019"
4,Refrigerator,Whirlpool 190 L Refrigerator,"â‚¹13,690",5,Simply awesome,Great product at this price range. Original pr...,"Sep, 2020"
...,...,...,...,...,...,...,...
1005,Refrigerator,Whirlpool 190 L Refrigerator,"â‚¹13,690",4,Value-for-money,Good,"Jul, 2021"
1006,Refrigerator,Whirlpool 190 L Refrigerator,"â‚¹13,690",5,Wonderful,Good,"Jul, 2021"
1007,Refrigerator,Whirlpool 190 L Refrigerator,"â‚¹13,690",5,Terrific purchase,Extremely beast in this priceðŸ†—,"Jul, 2021"
1008,Refrigerator,Whirlpool 190 L Refrigerator,"â‚¹13,690",5,Nice one..,Nice Product I am using it for the last 1 year...,"Jul, 2021"
1009,Refrigerator,Whirlpool 190 L Refrigerator,"â‚¹13,690",5,Highly recommended,Good product,"Jul, 2021"

### scrape the reviews of different brand of Inverter AC

In [162]:
driver.get('https://www.flipkart.com/panasonic-1-ton-3-star-split-inverter-ac-wi-fi-connect-white/p/itmf0abff2f7eb15?pid=ACNGB9GHYFUMJTAJ&lid=LSTACNGB9GHYFUMJTAJ1RVQRO&marketplace=FLIPKART&q=AC&store=j9e%2Fabm%2Fc54&srno=s_1_11&otracker=search&otracker1=search&fm=search-autosuggest&iid=736007a4-e733-404a-987a-f2084233df03.ACNGB9GHYFUMJTAJ.SEARCH&ppt=sp&ppn=sp&ssid=2speq3bl1c0000001659898822121&qH=4144e097d2fa7a49')
driver.find_element_by_xpath("//div[@class= '_3UAT2v _16PBlm']").click()

In [163]:
Rating=[]
Review_summary=[]
Full_review=[]
Date=[]

In [169]:
#so lets extract all the data having by using for loop
for i in range (0,130):
    for c in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        Rating.append(c.text)
    for d in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Full_review.append(d.text)
    for e in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review_summary.append(e.text)
    for f in driver.find_elements_by_xpath("//p[@class='_2sc7ZR']"):
        Date.append(f.text)
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(15)

In [166]:
len(Rating),len(Review_summary),len(Full_review)

(1232, 1232, 1232)

In [167]:
#Store the data in a dataframe.    
dictionnary = {
   'Rating': Rating[:1225], 
   'Review Summary':Review_summary[:1225], 
   'Full Review':Full_review[:1225],
   'Review_date':Date[:1225]
}
ac1 = pd.DataFrame(data=dictionnary)
pr = ['Inverter AC']*1225

ac1.insert(0,'Product',pr)
ac1

,Product,Rating,Review Summary,Full Review,Review_date
0,Inverter AC,5,Just wow!,Delivery was smooth within 5 Days . The day i ...,"Apr, 2021"
1,Inverter AC,5,Worth every penny,Everything thing is excellent 2 small things c...,"Apr, 2021"
2,Inverter AC,4,Wonderful,"It is a overall a good bang for the buck , con...","Apr, 2021"
3,Inverter AC,4,Wonderful,I bought this ac on 6th april and it got deliv...,"Apr, 2021"
4,Inverter AC,5,Perfect product!,Delivery has been fast and prompt. Performance...,"Apr, 2021"
...,...,...,...,...,...
1220,Inverter AC,5,Great product,Excellent,"Apr, 2021"
1221,Inverter AC,5,Simply awesome,Good one in terms of price and a real value fo...,"Apr, 2021"
1222,Inverter AC,5,Wonderful,Wonderful product by panasonic. Fast cooling a...,"Apr, 2021"
1223,Inverter AC,5,Highly recommended,The only bad thing is the installation. Panaso...,"Apr, 2021"
1224,Inverter AC,5,Highly recommended,Great Product With Less Electricity Consumption..,"Apr, 2021"

In [168]:
p = ['â‚¹32,999']*1225
d = ['Panasonic 1 Ton 3 Star Split Inverter AC ']*1225

ac1.insert(1,'Price',p)
ac1.insert(1, 'Brand_name', d)

ac1

,Product,Brand_name,Price,Rating,Review Summary,Full Review,Review_date
0,Inverter AC,Panasonic 1 Ton 3 Star Split Inverter AC,"â‚¹32,999",5,Just wow!,Delivery was smooth within 5 Days . The day i ...,"Apr, 2021"
1,Inverter AC,Panasonic 1 Ton 3 Star Split Inverter AC,"â‚¹32,999",5,Worth every penny,Everything thing is excellent 2 small things c...,"Apr, 2021"
2,Inverter AC,Panasonic 1 Ton 3 Star Split Inverter AC,"â‚¹32,999",4,Wonderful,"It is a overall a good bang for the buck , con...","Apr, 2021"
3,Inverter AC,Panasonic 1 Ton 3 Star Split Inverter AC,"â‚¹32,999",4,Wonderful,I bought this ac on 6th april and it got deliv...,"Apr, 2021"
4,Inverter AC,Panasonic 1 Ton 3 Star Split Inverter AC,"â‚¹32,999",5,Perfect product!,Delivery has been fast and prompt. Performance...,"Apr, 2021"
...,...,...,...,...,...,...,...
1220,Inverter AC,Panasonic 1 Ton 3 Star Split Inverter AC,"â‚¹32,999",5,Great product,Excellent,"Apr, 2021"
1221,Inverter AC,Panasonic 1 Ton 3 Star Split Inverter AC,"â‚¹32,999",5,Simply awesome,Good one in terms of price and a real value fo...,"Apr, 2021"
1222,Inverter AC,Panasonic 1 Ton 3 Star Split Inverter AC,"â‚¹32,999",5,Wonderful,Wonderful product by panasonic. Fast cooling a...,"Apr, 2021"
1223,Inverter AC,Panasonic 1 Ton 3 Star Split Inverter AC,"â‚¹32,999",5,Highly recommended,The only bad thing is the installation. Panaso...,"Apr, 2021"
1224,Inverter AC,Panasonic 1 Ton 3 Star Split Inverter AC,"â‚¹32,999",5,Highly recommended,Great Product With Less Electricity Consumption..,"Apr, 2021"

In [173]:
driver.get('https://www.flipkart.com/samsung-1-ton-4-star-split-inverter-ac-white/p/itm746e3cc475b29?pid=ACNGAA4FHGYBP7VT&lid=LSTACNGAA4FHGYBP7VTDNLEAO&marketplace=FLIPKART&q=AC&store=j9e%2Fabm%2Fc54&srno=s_1_7&otracker=search&otracker1=search&fm=search-autosuggest&iid=d185c20c-6643-408e-a849-86a82933ab2e.ACNGAA4FHGYBP7VT.SEARCH&ppt=sp&ppn=sp&ssid=droas5uzts0000001659937515986&qH=4144e097d2fa7a49')
driver.find_element_by_xpath("//div[@class= '_3UAT2v _16PBlm']").click()

In [174]:
Rating=[]
Review_summary=[]
Full_review=[]
Date=[]

In [180]:
#so lets extract all the data having by using for loop
for i in range (0,135):
    for c in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        Rating.append(c.text)
    for d in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Full_review.append(d.text)
    for e in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review_summary.append(e.text)
    for f in driver.find_elements_by_xpath("//p[@class='_2sc7ZR']"):
        Date.append(f.text)
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(15)

In [ ]:
# Store the data in a dataframe.    
dictionnary = {
   'Rating': Rating[:1310], 
   'Review Summary':Review_summary[:1310], 
   'Full Review':Full_review[:1310],
   'Review_date':Date[:1310]
}
ac2= pd.DataFrame(data=dictionnary)
pr = ['Inverter AC']*1310

ac2.insert(0,'Product',pr)
ac2

In [183]:
p = ['â‚¹30,990']*1310
d = ['SAMSUNG 1 Ton Inverter AC']*1310

ac2.insert(1,'Price',p)
ac2.insert(1, 'Brand_name', d)

ac2

,Product,Brand_name,Price,Rating,Review Summary,Full Review,Review_date
0,Inverter AC,SAMSUNG 1 Ton Inverter AC,"â‚¹30,990",5,Terrific purchase,"After using this Samsung AC for 3 weeks , I mu...","Apr, 2021"
1,Inverter AC,SAMSUNG 1 Ton Inverter AC,"â‚¹30,990",5,Highly recommended,Received this ac on next day when I ordered......,"Mar, 2021"
2,Inverter AC,SAMSUNG 1 Ton Inverter AC,"â‚¹30,990",5,V.Good Except installation charge by Samsung,"Value for money, Product is V.Good!... Fast de...","Mar, 2021"
3,Inverter AC,SAMSUNG 1 Ton Inverter AC,"â‚¹30,990",5,Terrific,Thanks Flipkart & Mostly Samsung.. ðŸ‘ For this ...,"Mar, 2021"
4,Inverter AC,SAMSUNG 1 Ton Inverter AC,"â‚¹30,990",5,Terrific,No. 1 Air conditioner totally valued for money...,"Feb, 2021"
...,...,...,...,...,...,...,...
1305,Inverter AC,SAMSUNG 1 Ton Inverter AC,"â‚¹30,990",5,Simply awesome,Cooling effect is more....really fantastic pro...,3 months ago
1306,Inverter AC,SAMSUNG 1 Ton Inverter AC,"â‚¹30,990",5,Mind-blowing purchase,Writing this review after using 04 days. Cooli...,3 months ago
1307,Inverter AC,SAMSUNG 1 Ton Inverter AC,"â‚¹30,990",5,Super!,Perfect,3 months ago
1308,Inverter AC,SAMSUNG 1 Ton Inverter AC,"â‚¹30,990",5,Perfect product!,Good working,3 months ago
1309,Inverter AC,SAMSUNG 1 Ton Inverter AC,"â‚¹30,990",4,Very Good,Super product,3 months ago

### scrape the reviews of different brand of Iron box

In [184]:
driver.get('https://www.flipkart.com/philips-gc1905-steam-iron-1440-w/p/itme9133697b3fb1?pid=IRND2UFFBEDXAFGC&lid=LSTIRND2UFFBEDXAFGCBUAZYR&marketplace=FLIPKART&q=iron+box&store=j9e%2Fabm%2Fa0u&srno=s_1_15&otracker=AS_QueryStore_OrganicAutoSuggest_2_3_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_2_3_na_na_na&fm=search-autosuggest&iid=0daf7cc4-7a4e-474e-8af0-415c8d510411.IRND2UFFBEDXAFGC.SEARCH&ppt=sp&ppn=sp&qH=946a177bc1a425de')
driver.find_element_by_xpath("//div[@class= '_3UAT2v _16PBlm']").click()

In [185]:
Rating=[]
Review_summary=[]
Full_review=[]
Date=[]

In [205]:
#so lets extract all the data having by using for loop
for i in range (0,45):
    for c in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        Rating.append(c.text)
    for d in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Full_review.append(d.text)
    for e in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review_summary.append(e.text)
    for f in driver.find_elements_by_xpath("//p[@class='_2sc7ZR']"):
        Date.append(f.text)
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
    
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(15)

In [95]:
len(Rating),len(Review_summary),len(Full_review)

(430, 430, 430)

In [192]:
#Store the data in a dataframe.    
dictionnary = {
   'Rating': Rating[:420], 
   'Review Summary':Review_summary[:420], 
   'Full Review':Full_review[:420],
   'Review_date':Date[:420]
}
ironbox1 = pd.DataFrame(data=dictionnary)
pr = ['Iron box']*420

ironbox1.insert(0,'Product',pr)
ironbox1

,Product,Rating,Review Summary,Full Review,Review_date
0,Iron box,5,Fabulous!,The product was packed well. I received the pr...,"Jan, 2017"
1,Iron box,5,Philips GC1903 Iron,Super Duper Piece!!! was very very happy with ...,"Oct, 2012"
2,Iron box,5,Philips good IRON,Light Weight\n180 degree cord free movement\nS...,"Jul, 2012"
3,Iron box,4,Wonderful,Its an amazing iron. The iron is a little larg...,"Dec, 2018"
4,Iron box,5,Excellent Buy,"Looks:\nGreat looks, good size, and looks good...","Mar, 2012"
...,...,...,...,...,...
415,Iron box,5,Amazing iron. More than satisfied.,This iron is very good. It heats up quickly an...,"May, 2015"
416,Iron box,5,Good product,Timely delivery Nice packing good item with ea...,"May, 2015"
417,Iron box,3,Good Product but not sure the the validity,I booked this product on the basis of my Frien...,"May, 2015"
418,Iron box,5,Nice Product,"Nice product, blindly we can go for this budge...","May, 2015"
419,Iron box,3,"Good for dry iron, Steaming is not upto the mark",Good at this range and can be worthy. For dry ...,"May, 2015"

In [193]:
p = ['â‚¹1,499']*420
d = ['Philips GC1905 Steam Iron, 1440 W']*420

ironbox1.insert(1,'Price',p)
ironbox1.insert(1, 'Brand_name', d)

ironbox1

,Product,Brand_name,Price,Rating,Review Summary,Full Review,Review_date
0,Iron box,"Philips GC1905 Steam Iron, 1440 W","â‚¹1,499",5,Fabulous!,The product was packed well. I received the pr...,"Jan, 2017"
1,Iron box,"Philips GC1905 Steam Iron, 1440 W","â‚¹1,499",5,Philips GC1903 Iron,Super Duper Piece!!! was very very happy with ...,"Oct, 2012"
2,Iron box,"Philips GC1905 Steam Iron, 1440 W","â‚¹1,499",5,Philips good IRON,Light Weight\n180 degree cord free movement\nS...,"Jul, 2012"
3,Iron box,"Philips GC1905 Steam Iron, 1440 W","â‚¹1,499",4,Wonderful,Its an amazing iron. The iron is a little larg...,"Dec, 2018"
4,Iron box,"Philips GC1905 Steam Iron, 1440 W","â‚¹1,499",5,Excellent Buy,"Looks:\nGreat looks, good size, and looks good...","Mar, 2012"
...,...,...,...,...,...,...,...
415,Iron box,"Philips GC1905 Steam Iron, 1440 W","â‚¹1,499",5,Amazing iron. More than satisfied.,This iron is very good. It heats up quickly an...,"May, 2015"
416,Iron box,"Philips GC1905 Steam Iron, 1440 W","â‚¹1,499",5,Good product,Timely delivery Nice packing good item with ea...,"May, 2015"
417,Iron box,"Philips GC1905 Steam Iron, 1440 W","â‚¹1,499",3,Good Product but not sure the the validity,I booked this product on the basis of my Frien...,"May, 2015"
418,Iron box,"Philips GC1905 Steam Iron, 1440 W","â‚¹1,499",5,Nice Product,"Nice product, blindly we can go for this budge...","May, 2015"
419,Iron box,"Philips GC1905 Steam Iron, 1440 W","â‚¹1,499",3,"Good for dry iron, Steaming is not upto the mark",Good at this range and can be worthy. For dry ...,"May, 2015"

### Merging two csv files

In [199]:
# combining all the dataframes
df2 = pd.concat([Watch2,clock1,clock2,Theatre1,Theatre2,fan1,fan2,fan3,Printer1,Printer2,Printer3,fridge1,fridge2,fridge3,ac1,ac2,ironbox1], axis=0)

In [200]:
df2.to_csv('RATING_PRODUCT02_dt.csv')

In [202]:
df2

,Product,Brand_name,Price,Rating,Review Summary,Full Review,Review_date
0,Watch,TXOR Storm M5 Smartwatch,â‚¹629,5,Excellent,"Awesome Watch , More better than I ve expected...",11 months ago
1,Watch,TXOR Storm M5 Smartwatch,â‚¹629,5,Mind-blowing purchase,Averagely Good for middle class families and D...,6 months ago
2,Watch,TXOR Storm M5 Smartwatch,â‚¹629,5,Awesome,It's charging time Is not good If you will use...,7 months ago
3,Watch,TXOR Storm M5 Smartwatch,â‚¹629,5,Awesome,This is tha amazing smartwatch I loved it beca...,5 months ago
4,Watch,TXOR Storm M5 Smartwatch,â‚¹629,5,Super!,Absolutely Delighted to have a watch like this...,4 months ago
...,...,...,...,...,...,...,...
415,Iron box,"Philips GC1905 Steam Iron, 1440 W","â‚¹1,499",5,Amazing iron. More than satisfied.,This iron is very good. It heats up quickly an...,"May, 2015"
416,Iron box,"Philips GC1905 Steam Iron, 1440 W","â‚¹1,499",5,Good product,Timely delivery Nice packing good item with ea...,"May, 2015"
417,Iron box,"Philips GC1905 Steam Iron, 1440 W","â‚¹1,499",3,Good Product but not sure the the validity,I booked this product on the basis of my Frien...,"May, 2015"
418,Iron box,"Philips GC1905 Steam Iron, 1440 W","â‚¹1,499",5,Nice Product,"Nice product, blindly we can go for this budge...","May, 2015"
419,Iron box,"Philips GC1905 Steam Iron, 1440 W","â‚¹1,499",3,"Good for dry iron, Steaming is not upto the mark",Good at this range and can be worthy. For dry ...,"May, 2015"

In [203]:
# importing pandas
import pandas as pd
  
# merging two csv files
df = pd.concat(
    map(pd.read_csv, ['RATING_products01_dt.csv', 'RATING_PRODUCT02_dt.csv']), ignore_index=True)
print(df)

       Unnamed: 0   Product                         Brand_name    Price  \
0               0     Phone                 SAMSUNG Galaxy F13  â‚¹11,999
1               1     Phone                 SAMSUNG Galaxy F13  â‚¹11,999
2               2     Phone                 SAMSUNG Galaxy F13  â‚¹11,999
3               3     Phone                 SAMSUNG Galaxy F13  â‚¹11,999
4               4     Phone                 SAMSUNG Galaxy F13  â‚¹11,999
...           ...       ...                                ...      ...
26018         415  Iron box  Philips GC1905 Steam Iron, 1440 W   â‚¹1,499
26019         416  Iron box  Philips GC1905 Steam Iron, 1440 W   â‚¹1,499
26020         417  Iron box  Philips GC1905 Steam Iron, 1440 W   â‚¹1,499
26021         418  Iron box  Philips GC1905 Steam Iron, 1440 W   â‚¹1,499
26022         419  Iron box  Philips GC1905 Steam Iron, 1440 W   â‚¹1,499

       Rating                                    Review Summary  \
0           3                                              Fair
1           4                                      Nice product
2           5                             Mind-blowing purchase
3           5                                 Terrific purchase
4           5                             Mind-blowing purchase
...       ...                                               ...
26018       5                Amazing iron. More than satisfied.
26019       5                                      Good product
26020       3        Good Product but not sure the the validity
26021       5                                      Nice Product
26022       3  Good for dry iron, Steaming is not upto the mark

                                             Full Review  Review_date
0      This mobile is purely for normal use, I don't ...  1 month ago
1      I am using this Phone since last 7 days , Feel...  18 days ago
2      ðŸŒŸIts a great day to day usage phoneðŸŒŸ\nBest bud...  1 month ago
3      Very good budget branded Phone.\nNot suitable ...  10 days ago
4                                       Vale for money ðŸ’°  14 days ago
...                                                  ...          ...
26018  This iron is very good. It heats up quickly an...    May, 2015
26019  Timely delivery Nice packing good item with ea...    May, 2015
26020  I booked this product on the basis of my Frien...    May, 2015
26021  Nice product, blindly we can go for this budge...    May, 2015
26022  Good at this range and can be worthy. For dry ...    May, 2015

[26023 rows x 8 columns]

In [204]:
df.to_csv('Product_Rating.csv')